[2016-10-23 08:22] akesandgren opened #1967 "tools/toolchain/compiler.py _set_compiler_flags should use nextend instead of nappend when setting the actual C/F FLAGS"
If there is a option that isn't a simple string but multiple flags the use of
self.variables.nappend(var, flags) results in things like
-fPIC -['someflag', 'flag2']

Using
self.variables.nextend(var, flags)
instead gives the expected result of
-fPIC -someflag -flag2

Opened PR 1966 for this

[2016-10-25 10:38] fgeorgatos commented on #443
For the record, implementing this would have the extra advantage of being able to call judiciously:
`touch $HOME/.lmod.d/.cache/invalidated`.
That would imply that the Lmod cache gets to become invalid exactly when it needs to, so that users do not get surprised by missing modulefiles.

[2016-10-25 10:39] fgeorgatos commented on #443
btw.
previous trick with `invalidated` dropfile would work with a recent Lmod (fi. 6.6 has the feature included)

[2016-10-25 10:40] fgeorgatos commented on #443
Also, the more generic approach on this issue would be:

[code]

Eh, where is the PR?!? :-p

[2016-10-26 14:05] boegel opened #1968 "eb --check-github goes down hard if 'git' module is not available"
[code]

[2016-10-27 18:32] shahzebsiddiqui opened #1971 "Intel RPM issue prelink"
-bash-4.2$ sudo rpm -i intel-17-eb_2.9.0-1.x86_64.rpm
[sudo] password for siddis14:
error: unpacking of archive failed on file /nfs/grid/software/RHEL7/easybuild/software/intel/17/advisor_2017.1.0.477503/lib32/pinruntime/glibc/ld-2.3.4.so;58051dc4: cpio: Digest mismatch
error: intel-17-eb_2.9.0-1.x86_64: install failed

[2016-11-08 08:53] boegel commented on #1674
although not all boxes are checked here yet, the support for `--new-pr` and `--update-pr` is now considered stable (cfr. #1979)

the remaining things to implement will be enhancements to what is supported already, there should be no changes in semantics of the existing functionality of `--new-pr` and `--update-pr`

[2016-11-08 21:59] boegel commented on #1494
workaround for HDF5 in https://github.com/hpcugent/easybuild-easyblocks/pull/1027

[2016-11-09 11:03] jbd opened #1983 "TypeError exception while using bootstrap_eb.py"
Hello,

I'm trying bootstrap_eb.py from develop/e7fed028a529a2f2 as the documentation mentions (curl -O https://raw.githubusercontent.com/hpcugent/easybuild-framework/develop/easybuild/scripts/bootstrap_eb.py) and I've got this error if I'm trying to execute it from a clean docker environment :

[code]

The whole output of python bootstrap_eb.py $EASYBUILD_PREFIX is here : https://gist.github.com/

[2016-11-09 11:07] boegel commented on #1983
can you try changing ` %(installdir)s` to `% %(installdir)s` on the offending line?

[2016-11-09 11:41] jbd commented on #1983
No more luck, but a different error :

[code]

The full output is here : https://gist.github.com/jbd/de5061ffd9a7c72be7e8abd4071a44be

The interesting part is here :

[code]

From what I understand, if setuptools is not installed, the bootstrap script will install it at stage 0. Am I missing something ?

[2016-11-09 11:45] jbd commented on #1983
For what it worth, the Dockerfile using the master version of bootstrap_eb.py (working) : https://gist.github.com/jbd/efb178dde29056290c801c0b67f44d74

The Dockerfile using the develop version (not working) : https://gist.github.com/jbd/8e24ebf47261475748ca42cd1e5c8916

[2016-11-09 15:12] boegel commented on #1983
@jbd I was a bit too eager in cleaning up the bootstrap script in #1946, and removed a block of code that is required when `setuptools` is provided via stage 0.

We missed this because in our Travis setup `setuptools` *is* available, so stage 0 is skipped (which is new, the `master` version of the bootstrap script never skips `stage 0` automagically).

Please check if the updated bootstrap script

[2016-11-09 15:17] jbd commented on #1983
Updated bootstrap script in #1984 fixes the problems for me. Cool !

[2016-11-09 15:18] boegel commented on #1983
@jbd Great, thanks for the feedback! I'll merge this ASAP, and also look into updating the tests so we test in an environment where `setuptools` is not available.

[2016-11-09 17:16] #1983 closed

[2016-11-10 19:28] boegel commented on #1971
@rjeschmi thoughts on this?

[2016-11-10 19:31] boegel commented on #1965
The closest thing we have today is `$MPI_LIB_DIR` and `$MPI_INC_DIR`, but then you have to assume that `$MPI_LIB_DIR/..` points to the root of the MPI installation.

I think that's a pretty safe assumption in general, but it wouldn't hurt to also define `$MPI_PREFIX`.

[2016-11-10 19:31] boegel commented on #1967
fixed in #1966, thanks @akesandgren

[2016-11-10 19:31] #1967 closed

[2016-11-10 20:01] rjeschmi commented on #1971
Is something manipulating file after the hashes are calculated for the RPM?

[2016-11-10 20:49] boegel opened #1988 "add paging support in github.py"
Sometimes queries to the GitHub API return multiple pages of results (by default, when there are more than 30 results, but this can be bumped to a max of 100 results).

The `github_api_get_request` function should take this into account.

(see also discussion at https://github.com/hpcugent/easybuild-framework/pull/1981)

[2016-11-10 21:23] boegel commented on #1927
implemented this in #1989, thanks for the suggestion @fgeorgatos!

[2016-11-10 21:23] #1927 closed

[2016-11-11 10:18] damianam commented on #1965
In Intel MPI the libraries are in `$EBROOTIMPI/intel64/lib` and the headers in `$EBROOTIMPI/intel64/include`. There are symbolic links that kind of hide it, but.....

[2016-11-11 22:09] hjateni opened #1990 "ModuleCmd_Load.c(200):ERROR"
Error: unable to use 'modulecmd' of Lmod and also after system reboot, eb and module commands doesn't exist that means , we need to install again

[2016-11-11 22:52] boegel commented on #1990
To make the `eb` command available, you need to add the location of the `eb` command to the `$PATH` environment variable.

If you installed EasyBuild to `/some/location`, you need to run:

[code]

For the `module` command, you need to `source` the init script that comes with it, for example (if you installed Lmod to `$HOME`):

[code]

You can/should put both the `export PATH=...` and `source .../i

[2016-11-11 22:52] #1990 closed

[2016-11-12 21:46] boegel commented on #1848
I haven't found time to figure out what is causing the failing tests, but as far as I can tell they're mostly isolation issues of the tests themselves.

Let's evaluate after EasyBuild v3.0 is released, and then try and find some time to debug this.

[2016-11-12 21:48] boegel commented on #1849
@OleHolmNielsen Like I said in #1848, let's revisit this after the EasyBuild v3.0 release, these issues are very likely just problems with the tests themselves.

[2016-11-12 21:48] #1947 closed

[2016-11-12 21:48] #1958 closed

[2016-11-12 21:50] boegel commented on #1952
@geimer OK to move to `3.1` milestone?

[2016-11-13 00:12] geimer commented on #1848
@boegel One more data point: With the current `develop` branch, the following tests were failing for me on a Debian GNU/Linux 8.6 (jessie). However, they succeeded after I installed the `python-yaml` package.  So I guess for those two tests, it's just a matter of only executing them if the `yaml` module is available.
 - `test_add_easyconfig (test.framework.repository.RepositoryTest)`
 - `test_toy_

[2016-11-13 00:24] geimer commented on #1952
@boegel Depends pretty much on the release date of `v3.0` ;-)

I haven't found the time yet to address the review comments for #1974, but hope to work on this right after SC. Regarding the framework unit tests, I already know that some of the toolchain tests are failing and need some tweaking. And since my ARM dev board is not the fastest, I haven't run the whole test suite yet, i.e., there may be

[2016-11-13 09:23] boegel opened #1991 "implement check for unwanted linking to system libraries"
As a part of the sanity check, we could check the output of `ldd` on binaries/libraries, and try to catch unwanted linking to system libraries.

This will require whitelisting of certain libraries (e.g. `glibc`), and also taking into account `--filter-deps`, where linking to some system libraries is deliberate (e.g. `zlib`).

[2016-11-13 09:40] boegel opened #1992 "known issues with --rpath support"
* [ ] RPATH sanity check with default paths fails on binary installations (?)
* [ ] some easyblocks need to specialise the locations for the RPATH sanity check (e.g. OpenFOAM)
* [ ] locations in build directory and temporary directory should not get RPATH'ed

[2016-11-13 09:43] boegel opened #1993 "detect use of cc/c++ compiler commands"
We can/should detect the use of `cc`/`c++` commands, since they will most likely point to the system compilers rather than compilers provided via a toolchain.

This could be done by wrapping these commands with a script that prints a warning and exists rather than actually compiling anything.

[2016-11-13 10:17] boegel commented on #1952
@geimer I plan to release v3.0 in the next couple of days, certainly before the end of SC16, so I'm bumping this to the 3.1 milestone.

Let me know if I can be of any help with this.

[2016-11-13 11:32] fgeorgatos commented on #1993
...and drop a line with a timestamp under `$HOME/.local/easybuild/cc_attempts.txt` or similar,
in case the default output gets buried/hidden in the build process.

[2016-11-13 11:33] fgeorgatos commented on #1993
ideally, this should be a `cc_override` modulefile, to make it reusable for other related needs

[2016-11-13 12:47] boegel commented on #1993
@fgeorgatos I'm more thinking of an EasyBuild configure option like `--strict-compiler-check` or something along those lines, which would make the installation fail hard if `cc` or `c++` is used.

[2016-11-14 16:11] carlosbustillordguez opened #1995 "feature request: retry downloads a couple of times"
I noted that in last version the checksum for download tarball fail. Is its possible to add a feature that allow to try download automatically two o three times. Also another useful feature is check if the tarball exists, like wget --spider

[2016-11-15 11:50] pescobar opened #1996 "installed easyconfig won't be saved to repository if the easyconfig contains build stats"
I have noticed that when installing some of my previous easyconfigs they were not pushed to the git repository where I save all my installed easyconfigs.

After some testing I found out that if the installed easyconfig contains `buildstats` then it's not pushed to git (I haven't checked if this is the case when using a local folder as repository instead of git)

As example, if you install this eas

[2016-11-15 11:53] boegel commented on #1996
@pescobar I believe this is fixed with #1948, it sure looks like the same problem

[2016-11-16 18:25] akesandgren opened #2000 "Intel MPI with Intel Fortran compiler must use mpiifort to be fully usable"
The current setup of impi is that is sets the env vars:

[code]

and uses `mpif90`

However, for complete Fortran90 support and the MPI fortran module (USE mpi in fortran code)
it really have to use mpiifort. A short example of why.

[code]

[code]

[code]

and a successful compile.

edit by @boegel: formatting

[2016-11-16 19:57] ocaisa commented on #2000
In your easyconfig for impi you need to set
[code]

[2016-11-16 20:00] ocaisa commented on #2000
It's commented out in all the Intel MPI easyconfigs, we didn't set it by default because Intel don't do that either.

[2016-11-16 20:14] akesandgren commented on #2000
I think it is a more fundamental problem, to be able to compile fortran90 code that uses code like

USE mpi

the command used MUST be mpiifort, thus it should ALWAYS be that way when using the intel compiler with intelmpi.

I.e. the code triggered by set_mpi_wrappers_all = true doesn't help, as the only thing it does it set the I_MPI_F* variables and add aliases for mpiifort.

I.e.,  MPI_COMPILER_

[2016-11-16 21:08] ocaisa commented on #2000
I think I probably don't follow, are you talking about user space or internally within EB? EB does mpiifort internally already I'm pretty certain.

[2016-11-16 21:14] akesandgren commented on #2000
I'm talking about what EB uses during an eb build. And it is not using mpiifort. At least not when building HDF5-1.8.7-intel-2016b.eb, nor is it using mpiicc.

[2016-11-16 21:26] akesandgren commented on #2000
Ok, in toolchains/mpi there is the following class chain.
class IntelMPI(Mpich2):
  def _set_mpi_compiler_variables(self):
    super(IntelMPI, self)._set_mpi_compiler_variables()
      class Mpich2(Mpich):
        def _set_mpi_compiler_variables(self):
                   # hardwire MPI wrapper commands (otherwise Mpich parent class sets them based on MPICH version)
                 self.MPI_COMPIL

[2016-11-16 21:38] boegel commented on #1996
@pescobar please check whether you're still seeing this with EasyBuild v3.0.0?

[2016-11-16 21:49] akesandgren commented on #2000
Hmmm after checking some more i found out that it's probably not good enough to to the
if self.comp_family() == toolchain.INTELCOMP:
after the super() call in intelmpi. At least HDF5 needs to have FC set to mpiifort and not mpif90 (as it originally ends up as). So doing the check before the super() call and copying the if-stmt from mpich.py (if self.MPI_COMPILER_MPIF77 is None and...) to mpich2.py

[2016-11-17 07:30] ocaisa commented on #2000
I tried to reproduce your error and I can't, mine compiles without problems once the environment variables are set:
[code]
I only have version 17.0.0 of the compiler available right now, is this error only a problem with 17.0.1?

[2016-11-17 07:32] ocaisa commented on #2000
Actually it compiles even when the variables aren't set

[2016-11-17 07:48] boegel commented on #2000
@akesandgren I would actually be very surprised as well if defining `$I_MPI_F90` to `ifort` and using `mpif90` isn't 100% equivalent with `mpiifort`... The latter is basically just an alias for the former, I *think*...

Also, we would have noticed already if that's not the case, why hasn't this popped up before?
We're missing something here...

When you're defining `$I_MPI_F90` in your tests, are

[2016-11-17 07:54] ocaisa commented on #2000
Are you using Intel with GCCcore 5.4.0 underneath? If your underlying GCC compiler is GCC4 then there might be problems with fortran modules since the format for fortran modules changed from GCC4 to GCC5 (see the fortran notes in https://gcc.gnu.org/gcc-5/changes.html)

[2016-11-17 08:24] boegel commented on #1887
@riccardomurri I started looking into the issue of `$EASYBUILD_MODULE_SYNTAX` not being picked up by the bootstrap script...

It should be picked up, but I *think* it may only be picked up when it's *exported*, i.e.:

[code]

vs

[code]

See also the changes in the Travis config file at #2003

[2016-11-17 10:59] pescobar commented on #1996
@boegel I just verified that this issue is solved in v3.0 so closing this issue

[2016-11-17 10:59] #1996 closed

[2016-11-17 11:24] boegel commented on #1996
Great, thanks @pescobar!

[2016-11-18 08:10] SethosII opened #2004 "Issue with bootstapping version 2.9.0"
I trried to install EasyBuild 2.9.0 by bootstrapping from source tarballs. Therefore I downloaded the `bootstrap_eb.py`, `easybuild-easyblocks-`, `-framwork-` and `-easyconfig-v-2.9.0.tar.gz` from the github repositories.

But bootstrapping fails during the sanity check because no module is created:

[code]

And indeed there is no easybuild module in the directory. Tried on Ubuntu Server 14.04.5/1

[2016-11-18 08:13] akesandgren commented on #2000
There is a very vital part of mpif90 that makes it useless for the ifort+intelmpi combo.

In mpif90 around line 607 in 2017.1, line 570 in impi 5.0.3.048, line 594 in impi 5.1.3.181, etc, one can see the following code snippet.

# Choose mod file corresponded gfortran version
gfort_ver=`$FC --version | head -n 1 | cut -d '(' -f1,2 | sed -e 's/\[.*//' | sed -e 's/.*(//' | sed -e 's/[a-zA-Z,/)]//g'

[2016-11-18 08:24] akesandgren commented on #2000
And no, mpiifort is not 100% equivalent top mpif90 and certainly not an alias for each other...

[2016-11-18 08:39] ocaisa commented on #2000
But I tried your example and for me it worked fine so it certainly can work. Have you tried your example with other releases? Maybe this issue is specific to 17.0.1...and a bug?

[2016-11-18 09:13] EricDeveaud opened #2006 "boostraping easybuild-3.0 does not install rpath_wrapper_template.sh.in"
Hello,

after completly wipping the previous easybuild installation and installing easybuil-3.0 the following way

[code]
lead to correct installation, see

[code]

in order to test rpath support
I've done the following.

[code]

that unfortunatly crashed with.

[code]

regards

Eric

[2016-11-18 09:15] akesandgren commented on #2000
I, finally, did a diff of mpif90 between 2016.3 and 2017.1, and there is indeed a change in 2017 that is causing this.

====
        * )
-           gver=""
+           gver="/5.1.0"
            ;;
     esac
 else
-    gver=""
+    gver="/5.1.0"
====

So yes, the 2017 version of mpif90 always uses a GNU dir for the fortran .mod files.
Might be called a bug if you like. Still it is much better to m

[2016-11-18 09:26] ocaisa commented on #2000
Looks like this was introduced specifically in 2017.1.132 because it doesn't exist in 2017.0.098...anyone feel like reporting it to Intel?

[2016-11-18 09:34] ocaisa commented on #2000
Can someone else verify that? I don't have 2017.1 installed to check

[2016-11-18 09:45] akesandgren commented on #2000
Well, the change is not a bug as such. It's a catch-all for gfortran 6 (lazy coding yes...) but that's probably what they are going to answer with :-)

What should be considered a bug, though, is that the "else" part of that if-stmt also sets gver="/5.1.0", i.e., when it doesn't get any output at all from the --version cmd...

Regardless, using mpiifort et.al is still the most correct way of doing

[2016-11-18 09:46] SethosII commented on #2004
Yet another try succeeded. In the meantime I installed tcl-dev and liblua-dev packages on these machines, but shouldn't they be unnecessary when Lmod is already present?

[2016-11-18 11:55] ocaisa commented on #2000
But this also means that `mpif90 -f90=ifort` does not work? Surely that's a bug, not supporting their own compiler with this script doesn't seem like a very smart move.

I would bite and open an issue to see what they say but I don't have that version available to double-check the error.

[2016-11-18 12:02] akesandgren commented on #2000
Well, i'll guess that they will respond something like: mpif90 is not to support intel fortran, use mpiifort for that..... :-)

[2016-11-18 19:46] pescobar commented on #2006
I have also experienced this same issue

[2016-11-18 19:53] boegel commented on #2006
@EricDeveaud Thanks for the bug report, I indeed seem to have overlooked this entirely...

I guess it also shows that we should be running the tests differently in Travis, since we're totally missing packaging issues now.

To fix this, you can go to the `easybuild/scripts` directory mentioned in the error message, and pull in https://raw.githubusercontent.com/hpcugent/easybuild-framework/master/ea

[2016-11-18 20:54] EricDeveaud commented on #2006
already done that, and started buillding some stuff with --exeperimental and --rpath  in order to investigate it.

[2016-11-18 20:55] boegel commented on #2006
@EricDeveaud great, looking forward to your feedback!

Definitely take a look at http://easybuild.readthedocs.io/en/latest/RPATH-support.html, if you hit any problems, do open an issue, we'll try and keep https://github.com/hpcugent/easybuild-framework/issues/1992 up to date.

[2016-11-18 22:09] boegel commented on #2000
@akesandgren We can certainly switch to `mpiifort` & co, I don't have any strong arguments against that, certainly not if `mpif90` + defining `$I_MPI_F90` isn't (always) working correctly.

But this is 100% sure a bug/regression in Intel MPI 2017.01 imho, so we should definitely report it.
It has always worked with earlier versions, or we would have noticed this.

To format code blocks, just use t

[2016-11-19 07:43] akesandgren opened #2008 "Getting tracebacks from build_log.py"
I'm now and then getting this:
[code]

[2016-11-19 09:14] akesandgren commented on #2008
I'm getting hit by it during build of ParaView 5.1.2 -mpi with intel 2017.01 which hits an internal compiler error on one of the files.

And i never get to see the actual build output, due to the traceback.

I have captured the ebmsg and args in build_log's error() function if it's of any use (quite large...)

[2016-11-19 10:15] pescobar opened #2009 "rpath's sanity check crashes when building numpy"
while doing my first test with rpath I have found that the sanity check in rpath crashes when building numpy. This is the error message:

`AttributeError: 'EB_numpy' object has no attribute 'modules_tool'`

This is the full debug log:
https://gist.github.com/anonymous/41ce31fd5419b76a3a9b03135adc1578

[2016-11-19 11:58] ocaisa commented on #2008
I think this is an old problem with rolling over large log files, the log
file from ParaView is massive. From what I remember this doesn't affect the
installation, just the recording of the build output.

On 19 Nov 2016 10:14 a.m., "Åke Sandgren" <notifications@github.com> wrote:

[2016-11-19 13:06] pescobar opened #2010 "Easybuild with rpath support enabled is really slow when building extensions. Easybuild launches many processes"
When compiling my old Perl easyconfig which includes more than 400 extensions enabling the rpath support I have noticed that the build takes really long.

While monitoring the build with htop I have noticed that easybuild is launching a lot of processes when building the extensions. See the attached screenshot. Is this expected?

![many processes](http://i.imgur.com/Y78Ydkh.png)

[2016-11-19 13:14] pescobar commented on #2009
in case this makes any difference, I am not getting this error when building a numpy easyconfig. I get the error when building a python easyconfig which includes numpy in the extensions list.

[2016-11-19 20:24] boegel commented on #2010
@pescobar For every compilation or linking command, the RPATH wrapper will kick in which means you don't get a single process (e.g. the compiler), but 3 processes (the wrapper, a Python script called by the wrapper, and the compiler)
The wrapper and the Python script are *very* light weight though, and some benchmarking I did didn't show huge overhead (e.g. for OpenFOAM the whole build slows down

[2016-11-20 08:19] boegel commented on #2009
@pescobar it does make a different, `EB_numpy` inherits both from `EasyBlock` and `Extension`, and apparently in the latter case something is broken, but only when `--rpath` is used, which is kind of weird...

[2016-11-20 12:41] boegel commented on #2008
The related issue is #1094 , but the traceback is different here, this *may* be a different problem...

[2016-11-20 13:11] boegel commented on #2004
@SethosII I don't think this is related to installing `tcl-dev` or `liblua-dev`, if there would have been a problem with Lmod, you would have seen a different error.

Did you re-download the bootstrap script on the 2nd try?

If you have a way of reproducing this problem, please run the bootstrap with `$EASYBUILD_BOOTSTRAP_DEBUG` defined to get more details.

I can't tell based on the output what w

[2016-11-20 13:15] boegel commented on #2004
@SethosII Any reason you are stuck to Lmod 5.7.2 btw? We indeed did a small bump in the Lmod version requirement, but this was mostly motivated by some code cleanup we could do if we knew Lmod 5.8 or newer was used, see https://github.com/hpcugent/easybuild-framework/pull/1985/files .

If this is a big issue, we can reconsider this and stick to supporting Lmod 5.6.3 and newer...

[2016-11-20 17:39] rjeschmi opened #2012 "gc3pie fails on cleanup, directory already gone"
I noticed that #1441 was still an issue, but in my case it is a "feature" since my jobs are succeeding except for:

[code]

It seems like the job directory is already cleaned up for some reason before this line. This might be a bug in gc3pie instead, but I'll put it here first.

[2016-11-21 07:38] SethosII commented on #2004
Hey @boegel, I'm indeed able to reproduce this by installing/uninstalling `tcl-dev` and `liblua-dev` and their dependencies. These are packages that were installed by installing `tcl-dev` and `liblua-dev`: `liblua5.2-0 liblua5.2-dev libreadline-dev libreadline6-dev libtcl8.6 libtinfo-dev libtool-bin pkg-config tcl tcl-dev tcl8.6 tcl8.6-dev zlib1g-dev`. Fiddled around with these packages and found

[2016-11-22 17:00] iotaka commented on #1962
[code]

[2016-11-22 18:16] ajdecon opened #2014 "Bash escape issues can cause fpm command to fail when --package is used"
The description in the gettext easyconfig ([example](https://github.com/hpcugent/easybuild-easyconfigs/blob/c849c699384d548feb18b72ab5b4f1c637bcf313/easybuild/easyconfigs/g/gettext/gettext-0.19.4.eb#L7)) includes a single unbalanced backtick in its description: "GNU \`gettext' is an important...". When I attempted to build this easyconfig with the `--package` flag, I saw the following error in the

[2016-11-22 18:29] boegel commented on #2014
Thanks for the bug report @ajdecon!

@rjeschmi up for taking a look at this?

[2016-11-22 19:31] boegel commented on #2006
this issue should be fixed with the change to `MANIFEST.in` in #2015

[2016-11-23 01:19] rjeschmi commented on #2014
Yes I'll take a look.

[2016-11-23 09:11] fgeorgatos opened #2017 "`pip install easybuild --user` not happy under SLC6.8"
fyi.
[code]

[2016-11-23 09:18] fgeorgatos commented on #2014
FWIW, I recall that several characters in easyconfigs' descriptions can make things break down the road; in the early Lmod days, I recall an obscure Lmod cache bug triggered by just quote characters (single or double, who remembers by now). Here be dragons...

[2016-11-23 09:25] fgeorgatos commented on #2000
tagging @besserox for further comment, in case there is one.

[2016-11-23 09:35] boegel commented on #2014
@rjeschmi I think you can leverage `eb_shell_quote` from `easybuild.tools.options` to do the escaping

[2016-11-23 11:16] pescobar opened #2018 "output of sanity_check_comands is not added to the build log unless --debug is used"
I have noticed that the output of `sanity_check_comands` is not added to the build log unless I use `--debug`

I think it would be nice that this is added by default to the build log. Is there any reason to skip it?

[2016-11-23 11:39] SethosII opened #2019 "Issues during configuration of GCCcore on Ubuntu 16.04"
I'm trying to build several modules with EasyBuild on Ubuntu 16.04 but they all fail during configuration of GCCcore. On a Ubuntu 14.04 they all work as expected. For example Bowtie2-2.2.9-foss-2016a.eb without anything preexisting:

[code]

Which runs fine until the configuraton of GCCcore:

[code]

The relevant lines are in the EasyBuild log of GCCcore are:

[code]

And the config.log which indi

[2016-11-23 12:03] ocaisa commented on #2019
Ubuntu 16.04 uses binutils 2.26.1 on the system and going backwards to `2.26` is what is causing the error I think. You need to change the definition of GCCcore so that it uses `2.26.1` instead...or take the lazy way out and do:
[code]
which tells it to (try to) swap out `foss/2016a` for `foss/2016b`

[2016-11-23 12:20] boegel commented on #2006
fixed in #2015 which just got merged (and should become part of EasyBuild v3.0.1), thanks for reporting this issue @EricDeveaud!

[2016-11-23 12:20] #2006 closed

[2016-11-23 12:23] boegel commented on #2018
@pescobar not really, but this is trivial to fix by changing the `log.debug` to `log.info` in https://github.com/hpcugent/easybuild-framework/blob/master/easybuild/framework/easyblock.py#L2040

[2016-11-23 12:27] pescobar commented on #2018
is there any reason against doing this change?

[2016-11-23 12:37] boegel commented on #2018
@pescobar definitely not, I'm waiting for a PR from you ;)

[2016-11-23 12:42] pescobar commented on #2018
here you have ;) https://github.com/hpcugent/easybuild-framework/pull/2020

[2016-11-23 12:42] boegel commented on #2018
follow-up in #2020

[2016-11-23 12:42] #2018 closed

[2016-11-23 14:21] SethosII commented on #2019
Hey @ocaisa, using toolchain foss-2016b worked, thanks. But I don't understand why this is needed. Isn't EasyBuild building it's own version of binutils (which succeeds) which should then be independent of the systems version or do I misunderstand something?

[2016-11-23 15:11] boegel commented on #2019
@SethosII The problem is not so much with the binutils being used by EasyBuild, but some files that are (still) grabbed from the OS (i.e. `crti.o` in this case), which were built with a newer version of binutils than the one being used by EasyBuild.

Although we try to avoid picking up stuff from the OS, it's not airtight yet, e.g. we still pick up `glibc`.

[2016-11-23 15:16] boegel commented on #1738
fixed in #1751

[2016-11-23 15:16] #1738 closed

[2016-11-23 15:18] SethosII commented on #2019
Ok, thank you for the clarification @boegel!

[2016-11-23 15:22] boegel commented on #1674
I've enhanced this a bit to include other ideas for improving the GitHub integration beyond `--new-pr` and `--updat-pr`.

[2016-11-23 15:29] pescobar opened #2021 "Anaconda downloads fail (but url seems correct)"
When trying to install Anaconda doing `eb Anaconda2-4.0.0.eb --debug` I get this error:

[code]

The weird thing is that if you copy&paste that url and try wget it works.

Maybe the anaconda web servers are checking user-agent to avoid automated downloads?

[2016-11-23 15:38] boegel commented on #2019
@SethosII unless you have any more questions, please close this issue

[2016-11-23 16:06] #2019 closed

[2016-11-23 17:03] boegel commented on #1441
@riccardomurri ping on this? It was brought up again during today's EB conf call.

[2016-11-23 18:03] boegel commented on #327
fixed in #2015

[2016-11-23 18:03] #327 closed

[2016-11-23 18:14] boegel commented on #135
this is fixed in https://github.com/hpcugent/easybuild-framework/pull/1883

[2016-11-23 18:14] #135 closed

[2016-11-23 19:52] boegel commented on #2010
fixed in #2022

[2016-11-24 06:54] akesandgren opened #2023 "Strange logic in easyblock, make_dir"
Isn't the order in make_dir wrong?

if self.cfg['keeppreviousinstall']:
elif clean:
elif build_option('module_only'):
else:

I would expect the build_option('module_only') to come before clean?? Or it may clean out the dir during a --module-only run...

[2016-11-24 07:43] boegel commented on #2023
@akesandgren we could reverse the logic, but it won't matter much, since the steps that call `make_dir` are skipped under `--module-only`

Are you seeing the install directory being cleaned up under `--module-only` somewhere?

[2016-11-24 07:46] akesandgren commented on #2023
No, i was just reading the code looking for clues regarding other matters and saw the possibly flawed logic.

[2016-11-24 07:53] boegel commented on #2023
Feel free to open a PR to fix the logic, the tests should tell us if there are any unexpected side-effects.

[2016-11-24 10:08] boegel commented on #2021
Hmm, not sure what to do with this. If they block, there's nothing much we can/should do?

@jerowe Thoughts on this?

[2016-11-24 10:24] jerowe commented on #2021
I'm not sure. It worked on my setup. @boegel , didn't work on the robot tests?

If they are blocking, and it would be unfortunate if they are, I suppose we'll all just have to download it.

[2016-11-25 15:47] damianam commented on #153
Update on this ancient issue:

I think it makes sense to have an option to unload everything except a set of modules listed in a whitelist. At least in our setup that will be a nice way to sanitize the environment without breaking other things.

[2016-11-25 15:53] wpoely86 commented on #153
@damianam use sticky modules?

[2016-11-25 16:06] damianam commented on #153
We have a module for setting up EB related variables. And another one for GC3Pie. And another one for EB itself. I don't want to make them sticky and force me to use `--purge` in my shell just to allow EB to have an easier way to sanitize its environment prior to running. That is for our case, but other people might have other reasons to keep other modules loaded, and not make them sticky.  It has

[2016-11-25 17:00] ocaisa commented on #153
You could just make sure there are no modules loaded that define `EBROOT*`, that's pretty clean I think

[2016-11-25 17:30] damianam commented on #153
It is clean in our case, but if somebody mixes EB modules with other modules that shouldn't be loaded when installing software it wouldn't be enough. Besides that, it would unload the EasyBuild module, so you would have to make at least one exception already

[2016-11-25 18:06] boegel commented on #2008
I've also seen this occurring with fairly small logs, e.g. with a failing HDF5 build.

My suspicion is that it only occurs when `%` is present in the error message, which is screwing up Python string templating done inside of `format` in the loggers...

[2016-11-25 18:28] ocaisa commented on #153
I think you'd be safe if you only unloaded the modules after the EB process has finished grabbing its configuration

[2016-11-26 10:13] boegel commented on #2008
fixed in #2024, let's follow up there

[2016-11-26 10:13] #2008 closed

[2016-11-26 10:14] boegel commented on #2010
follow-up in #2022

[2016-11-26 10:14] #2010 closed

[2016-11-26 11:52] boegel opened #2025 "original easyconfig is not dumped to archive under --minimal-toolchains"
cfr. https://lists.ugent.be/wws/arc/easybuild/2016-11/msg00063.html

cc @ocaisa, @JackPerdue

[2016-11-26 14:50] boegel commented on #2000
fixed in #2005 by switching to `mpiifort` & co, thanks for reporting this @akesandgren and working out a fix!

[2016-11-26 14:50] #2000 closed

[2016-11-26 18:02] boegel commented on #2009
fixed in #2026, kind of a silly bug...

[2016-11-26 18:02] #2009 closed

[2016-11-27 17:02] pescobar opened #2027 "feature request: print dependency graph to STDOUT"
Hi,

Currently when doing a `--dry-run` it's not easy to figure out from where a dependency comes . I know we have the `--dep-graph` option but this one relays in an external dependency (graphviz I think) which is not always available. Also this approach requires to generate a file with the dependencies graph and then use another application to visualize it, which is not really convenient when wor

[2016-11-27 18:39] boegel commented on #2025
fixed in #2028, follow-up there

[2016-11-27 18:39] #2025 closed

[2016-11-28 18:07] umccs opened #2029 "easybuild install and test"
Hello,

I'm having trouble with the test.framework.suite script.  I get "......................Skipping test_######, no GitHub token available?" messages.  Any idea what is going on.  I was able to get the "eb --check-github" command to return "all checks passed".  I have also forked the easybuild-configs to my git account.

Best,
Pedro
$ eb --check-github --git-working-dirs-path /scratch/pedro/ea

[2016-11-29 07:58] boegel commented on #2029
@umccs to also run the GitHub tests, a token must be available for the (fictive) GitHub account `easybuild_test`

If you install a token for `easybuild_test` (using `eb --install-github-token`, http://easybuild.readthedocs.io/en/latest/Integration_with_GitHub.html#installing-a-github-token-install-github-token), the tests that require a token should not be skipped.

Note that you can just create a

[2016-11-30 08:52] akesandgren opened #2033 "Minimal-toolchain causing strange dependency chain"
I am doing
[code]
where gimkl-2016.11 uses GCC-6.2.0-2.27 as base. However, I get the following error from it.

[code]

The reason is probably a bad dependency chain being created as can be seen by --dry-run

[code]

Notice that it CMake, bzip, and all the ones before that using GCC-5.4.0. Obviously this will fail since they dont exist in the then active modulepath.

[2016-11-30 09:31] boegel commented on #2033
@akesandgren It looks like you are using an easyconfig (for `Boost` or `GROMACS`?) that has a hardcoded toolchain spec for some of the dependencies in the easyconfig file.

This may be a result of https://github.com/hpcugent/easybuild-framework/pull/2028 (which is fixed in v3.0.1).

[2016-11-30 09:34] ocaisa commented on #2033
`minimal-toolchains` and `try-toolchain` do not play nice together yet so shouldn't be used at the same time. There's a outline of how we could to make this work properly in #1627 (but I think you already know that from #1951 ;) )

[2016-11-30 09:44] akesandgren commented on #2033
@boegel Ah, yes, #2028 is probably causing problems here. The config for gromacs is probably taken from there and that one contains a strict GCC-5.4 toolchain dep for cmake.

[2016-11-30 09:49] akesandgren commented on #2033
And if i remove the ebfiles_repo path from my robot-path i instead get:

ERROR: Failed to determine minimal toolchain for dep bzip2 1.0.6

which is just as depressing.

[2016-11-30 09:49] akesandgren commented on #2033
Had already forgotten about #1951 :-(

[2016-11-30 09:52] boegel commented on #2033
@akesandgren if you exclude `ebfiles_repo` from `robot-path`, then what is left? What does `eb -S bzip2-1.0.6` spit out?

[2016-11-30 09:55] akesandgren commented on #2033
excluding ebfiles_repo leaves:
robot-paths=/pfs/nobackup/home/a/ake/easybuild/easyconfigs:%(DEFAULT_ROBOT_PATHS)s

and
[code]

[2016-11-30 10:00] boegel commented on #2033
@akesandgren ah, it's probably failing because it also needs the easyconfigs for the (sub)toolchains you are using, which are only in the easyconfigs archive?

[2016-11-30 10:05] akesandgren commented on #2033
They should be in my robot-path in /pfs/nobackup/home/a/ake/easybuild/easyconfigs
That's where i created them, if you men the gimkl toolchains.

[2016-11-30 10:57] ocaisa opened #2036 "Error if scaling_max_freq unreadable"
`eb` gets a traceback if `/sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq` is not readable, probably just noting that it is unreadable is enough.

This would solve the problems I have running `eb` on [Bash on Ubuntu on Windows](https://msdn.microsoft.com/en-us/commandline/wsl/about) which I know is probably a big concern for you

[2016-12-01 08:47] pescobar opened #2039 "rpath sanity check crashes when installing java"
When installing a Java easyconfig with EB-3.0.1 and `--rpath` I get this error during the sanity check step:

[code]

This is the full debug log:
https://gist.github.com/d5edc89b0683fb60fe778ae777018cd9

[2016-12-01 09:43] boegel opened #2040 "take -r option into account in rpath_args.py"
-r and -rpath are not compatible, see discussion in https://groups.google.com/forum/#!topic/spack/mSOiuHFU5C0

[2016-12-02 08:25] akesandgren opened #2041 "mkl blas libraries always need -lm"
As per the MKL Link Line Advisor  the mkl blas libraries should always have -lm added to the list. This is not currently done and causes problems in some cases. Especially when combining gfortran and mkl.
And it should be added after the --end-group

[2016-12-02 14:52] boegel commented on #2041
@akesandgren hmm, I wonder why this hasn't popped up yet, especially since we've been using toolchains that combine GCC & imkl for a while (see `gimkl`).

Do you have a specific example?

The place to fix this would be in https://github.com/hpcugent/easybuild-framework/blob/master/easybuild/toolchains/linalg/intelmkl.py#L88

[2016-12-02 15:00] akesandgren commented on #2041
Not sure why it haven't shown up. I know this to be a problem from time to time, outside of EB.
I noticed this again when trying to build gromacs with gimkl, but since there where problems in the gromacs easyblock (doing the wrong thing in that case) i started thinking on how to fix the gromacs easyblock problem and the solution revealed the -lm problem.

The problem may be more complicated than a

[2016-12-03 12:24] boegel commented on #2039
fixed in https://github.com/hpcugent/easybuild-easyblocks/pull/1056

[2016-12-03 12:24] #2039 closed

[2016-12-08 08:06] jerowe opened #2048 "Fetch .eb file from remote location"
This is a feature request.

It would be very cool if I could fetch an eb from a remote location.

[code]

[2016-12-08 08:17] jerowe commented on #1137
+1

[2016-12-08 19:07] boegel opened #2049 "safeguard in resolve_dependencies that verifies whether found easyconfig provides what is expected fails with HierarchicalMNS"
More details in https://github.com/hpcugent/easybuild-easyconfigs/issues/3828#issuecomment-265824857 .

The check in `resolve_dependencies` that spits out a `does not contain module` error in case an easyconfig file is encountered that doesn't provide what its name suggests doesn't work when `HierarchicalMNS` is used, because determining a module name always requires a fully parsed easyconfig file

[2016-12-09 09:18] akesandgren opened #2050 "Support for fetching sources from gitlab.com would be nice"
It would be nice to have support to fetch sources from gitlab.com in the same style as from github.

And also to be able to fetch specific tags as tar files from both github and gitlab.

[2016-12-09 14:22] boegel commented on #2049
follow-up in #2051

[2016-12-09 14:22] #2049 closed

[2016-12-09 17:33] boegel commented on #2050
@akesandgren can you include an example or two for projects that use GitLab as upstream repo?

[2016-12-10 11:45] pescobar opened #2053 "rpath sanity check crashes when installing intel mpi"
Here you have the build log:
https://github.com/hpcugent/easybuild-framework/pull/2052#issuecomment-266199664

I guess this will be solved by this one? https://github.com/hpcugent/easybuild-easyblocks/pull/1056/commits/32c8faf8ad442fc2579b553047aaf3758bab2360

[2016-12-10 11:47] akesandgren commented on #2050
GPAW probably. At least i can't find older versions of GPAW anywhere else.
They used to be available from https://wiki.fysik.dtu.dk/gpaw-files/ but that's no longer the case.
And only newer versions (from 1.1.0) are available on pypi.

I'm working on a GPAW/0.11.0 build (will PR when finished testing and users are happy) that then needs this.

[2016-12-10 12:12] pescobar commented on #2053
I just verified this is solved in develop. closing.

[2016-12-10 12:12] #2053 closed

[2016-12-10 12:40] boegel commented on #2053
yes, skipping the sanity check in `IntelBase` indeed fixes this

[2016-12-10 15:07] boegel commented on #1962
The `git` requirement comes from `vsc-install` that is being installed as a dependency of `vsc-base`:

[code]

relates to https://github.com/hpcugent/vsc-base/issues/243

[2016-12-10 15:46] boegel commented on #2050
@akesandgren this looks relevant: https://gitlab.com/gitlab-org/gitlab-ce/issues/3686

[2016-12-10 17:26] boegel commented on #1926
the bootstrap script is now able to also install `vsc-install` using a provided tarball, see #1955

with #1946 and #1984, it will now also auto-skip stage 0 of the bootstrap procedure in case a suitable `setuptools` installation is found on the system

with this combined, a fully offline installation should work...

[2016-12-10 19:01] pescobar opened #2054 "problem building MySQL-python python extension with rpath"
The build completes but the rpath sanity check fails. Here you can see the build log
https://gist.github.com/9cc52d50d238aee59e724522b1adcc8f

The important lines seem these but I don't get the reason why it's failing. Any idea? Why this line?

` Failed to import module 'easybuild.easyblocks.mysql_python': No module named mysql_python`

[code]

[2016-12-10 19:23] boegel commented on #2054
@pescobar The lack of an actual error message for the failing import is weird, but it seems like this is a segmentation fault, cfr. http://stackoverflow.com/questions/24139389/unable-to-find-out-what-return-code-of-11-means.

Figuring this one out may be very difficult, this is a good candidate for using the `rpath` toolchain option I think... ;-)

[2016-12-10 20:28] pescobar commented on #2054
@boegel that's what I have done by now but I wanted to report the problem.

What puzzles me a little bit are these lines:

`DEBUG run_cmd: running cmd python -c "import MySQLdb" (in /scicore/home/scicore/easybuild/easyconfigs)`

` DEBUG Failed to import module 'easybuild.easyblocks.mysql_python': No module named mysql_python`

This extension is using these options:

[code]

Maybe the sanity check

[2016-12-10 21:17] pescobar opened #2055 "problem building Python-2.7.5-ictce-6.2.5.eb and mpi4py extension with --rpath"
The crash appears when building the `mpi4py` extension.

The interesting messages start in line 56084

[code]

Here is the full debug log:
https://gist.github.com/d5190e29433eab8e8544b8d6c98e1497

[2016-12-12 19:37] brevans opened #2057 "Using environment variables in config.cfg"
Referring to the environment variables $USER or $HOME in the actual file would be handy, especially since many of the defaults in the documentation refer to those variables. I've tried $HOME and ${HOME} and neither seem to work, instead referring to the literal strings.

Is there a sensible way to have access to some if not all environment variables from within the config.cfg file? Maybe via a few

[2016-12-12 21:10] boegel commented on #2057
@brevans Right now, using environment variables in an EasyBuild configuration file is indeed not supported yet, but I agree this would be very useful.

There are a couple of options:

* define selected (commonly) available environment variables as additional template values that can be used in config files; the prime candidates would indeed by `$HOME` and `$USER`, but maybe others make sense too
*

[2016-12-13 11:54] JensTimmerman commented on #1962
this happens because of the old broken setuptools 0.6 is used, use >0.27

[2016-12-13 12:13] JensTimmerman commented on #1962
@riccardomurri I'm not implying you should use a newer setuptools version, I mean that the bootstrap script should install 0.27 or higher instead of the current 0.6.

[2016-12-13 12:19] boegel commented on #1962
@JensTimmerman you're not making sense... `0.27 < 0.6`?

[2016-12-13 12:53] jhein32 opened #2058 "dry-run reporting for hierarchical modules and minimal toolchains"
It seems that the output from --dry-run is increasingly problematic when using hierarchical modules and minimal toolchains.  Part of the reason might be, that we only recently activated minimal toolchains and many of the underlying packages were build before that time.

I attach a screenshot from build the PyZMQ-16.0.2 of the PR https://github.com/hpcugent/easybuild-easyconfigs/pull/3930.

I issue

[2016-12-13 14:27] JensTimmerman commented on #1962
nice try:
[code]

[2016-12-13 16:30] ocaisa commented on #2058
Well this is actually what you would expect. The direct dependencies of PyZMQ are Python and ZeroMQ, both of which are already installed, if the dependencies are already there, there is  no need to build anything else.

[2016-12-13 16:32] ocaisa commented on #2058
If you want everything built from scratch you would need to force a rebuild of your Python installation (which still might not tick every box)...or more simply start from a clean slate

[2016-12-13 18:28] boegel commented on #2058
I think the issue is here that `--minimal-toolchains` kicks in and figured out which lowest subtoolchain *could* be used, while totally disregarding already available modules...

The dry run output falls short here, since there *is* a module for `Tcl` and co, but because an easyconfig file is available for `Tcl` with `GCC`, it's indicating the module that *would* be installed if Tcl needed to be i

[2016-12-14 09:46] jhein32 commented on #2058
Hi,

The PyZMQ is now installed, so I re-run the entire thing.  We now have a dry-run without (frist) and with (second) `--use-existing-modules`:

[code]

Here the only `[ ]`is `gettext/0.19.8`.  We have versions for **intel/2016b** and **foss/2016b**.  I must have picked up the foss one at build time, but seems not to figure that for the **dry-run**.

[2016-12-14 15:39] boegel commented on #2036
Hmm, is this the only 'file' we need to be careful with w.r.t. read permissions, or are there others?

Have you run the framework unit tests in the Bash@Windows environment?

Primarily these: `python -O -m test.framework.systemtools`

[2016-12-14 16:54] ocaisa commented on #2036
Yes, just ran those tests and changing the read permissions allowed them to pass:
[code]

[2016-12-14 16:57] ocaisa commented on #2036
This doesn't mean that everything works, I successfully installed `foss/2016b`  but failed to build `HPL` because the make seems to mistake a soft link for a directory on the system. I should open a ticket with them for that I suppose

[2016-12-14 19:01] ocaisa commented on #2036
I opened the ticket, the real problem is actually more basic:
https://github.com/Microsoft/BashOnWindows/issues/1503

[2016-12-15 10:07] tobbez opened #2059 "Confusing error message when Lmod can't find module"
Stumbled upon this when writing a `ModuleNamingScheme`.

If Lmod can't find the module during the sanity check step, EasyBuild will fail with the message:
[code]
The complaint about `false` being undefined is a bit of a red herring -- most often these exception mean that there's a problem with the software raising it. This means I had to spend some time digging through the code to make sure this w

[2016-12-15 13:38] ocaisa opened #2060 "Supporting instrumentation in EasyBuild"
It would be nice if EasyBuild could support using instrumentation on a build, specifically I am thinking of Score-P. @geimer suggested the most effective way of doing this is via the [Score-P compiler wrappers](https://silc.zih.tu-dresden.de/scorep-current/scorepwrapper.html). Since we now have wrapper intelligence in place because of rpath, I wonder if this would be easy to implement? Thoughts?

[2016-12-15 13:48] boegel commented on #2060
This is certainly a lot easier now than it was before.

It seems like scorep-gcc works much like `ccache`?

[2016-12-15 14:14] ocaisa commented on #2060
I don't know `ccache` very well but the score-p wrapper is very simple. The only caveat I see is that we would need to set `SCOREP_WRAPPER=OFF` during the configure step (at least for CMake/Autotools).

In general, I think there are probably a few things to consider:
- It should only work on a single target, not trigger instrumented builds of dependencies, perhaps a toolchain option is therefore b

[2016-12-16 08:43] boegel commented on #2060
* yes, that sounds like a toolchain option rather than an EasyBuild configuration option
* we shouldn't auto-guess the Score-P version to use; maybe we should just enforce that (a version of) `Score-P` is included as a (build?) dep when the `'instrument': 'Score-P'` toolchain option is enabled?
* we can define `SCOREP_WRAPPER=OFF` in `configure_step`, and wipe it again once right after, no need to

[2016-12-16 08:52] boegel commented on #1849
follow-up in #1848

[2016-12-16 08:52] #1849 closed

[2016-12-16 08:53] boegel commented on #1817
fixed in #1937

[2016-12-16 08:53] #1817 closed

[2016-12-16 09:00] boegel commented on #1390
docs are now available at http://easybuild.readthedocs.io/en/latest/Cray-support.html, so I'm closing this

[2016-12-16 09:00] #1390 closed

[2016-12-16 09:01] boegel commented on #1695
fixed in #1822

[2016-12-16 09:01] #1695 closed

[2016-12-16 13:47] boegel commented on #2059
@tobbez the `false` is a trick done by Lmod to make the `module` function (which `eval`s the stdout produced by Lmod) fail

But you're very right, we can do a lot better here. I'm actually wondering why we're not checking the `lmod` exit code at all, that's just wrong, we should be checking it...

Thanks for bringing this up!

[2016-12-17 00:34] arif-ali commented on #1926
I am following up on this, and we have tried, this, and we still get a problem, (I work with @CJCShadowsan)

[code]

any ideas on this would be great

[2016-12-17 09:17] boegel commented on #1926
@arif-ali Are all the `/etc/easybuild.d/*.tar.gz` listed in that command actually there?

Which versions of `vsc-base` and `vsc-install` did you download here (and why don't you version the tarballs)?

[2016-12-17 16:33] arif-ali commented on #1926
@boegel, The files are there

We automate the download using the following script, which downloads the latest versions from the master branches from all the repos

[code]

[2016-12-17 16:44] boegel commented on #1926
@arif-ali You shouldn't use the tarball from GitHub for `vsc-install` and `vsc-base`, but those from PyPI (via https://pypi.python.org/pypi/vsc-install and https://pypi.python.org/pypi/vsc-base).

The source tarballs available from GitHub are not the same, the ones on PyPI are 'pre-processed', see also https://github.com/hpcugent/vsc-base/issues/232 . For the EasyBuild tarballs, it doesn't matter,

[2016-12-18 02:05] arif-ali commented on #1926
@boegel Thanks for that direction, I have managed to get to a point, where I can automate the downloads, by running the following commands

[code]

And then was able to do a local install. Thanks for helping to get this working

[2016-12-18 08:49] boegel commented on #1926
Excellent!

So, can we close this issue?

[2016-12-18 12:24] arif-ali commented on #1926
I think the key thing here is, to document this somewhere, so that other people can benefit from this.

Other than that, this should be good, can be closed

[2016-12-18 12:55] boegel commented on #1926
@arif-ali updated documentation at https://github.com/hpcugent/easybuild/pull/289, please review?

[2016-12-19 10:41] arif-ali commented on #1926
Looks good to me, thanks

[2016-12-19 18:43] #1926 closed

[2016-12-20 10:02] geimer opened #2064 "POWER: `--optarch=GENERIC` broken for GCC"
While working on https://github.com/hpcugent/easybuild-framework/pull/1974, I noticed that `--optarch=GENERIC` is broken for GCC on POWER, as it passes an unknown value (`generic-arch`) to the `-mcpu=` compiler option.  It seems like the following are suitable candidates instead (quote from the GCC manual):

As far as I can see, `powerpc64le` is supported since GCC 4.8, the other two were already

[2016-12-20 11:13] geimer commented on #2064
Or better stick to `POWER` for big-endian (for backward compatibility) and introduce `POWER_LE` for little-endian.

[2016-12-21 07:39] boegel commented on #2036
check to make sure `scaling_max_freq` is readable before readying it is implemented in #2065, let's follow-up there

[2016-12-21 07:39] #2036 closed

[2016-12-28 11:35] verdurin opened #2069 "Problem with release update after upgrade to Fedora 25"
I saw this error after trying to upgrade to `3.0.2` with the `--install-latest-eb-release` command:

[code]

[2016-12-28 11:44] verdurin commented on #2069
See https://github.com/jaraco/keyring/issues/196

[2016-12-28 12:01] verdurin commented on #2069
Reported a Fedora bug at https://bugzilla.redhat.com/show_bug.cgi?id=1408952

[2016-12-29 10:29] boegel commented on #2069
@verdurin you can probably bypass this by not providing a GitHub username in your EasyBuild config, since it's not strictly required for `--install-latest-eb-release`...

[2016-12-29 11:08] boegel commented on #2069
@verdurin `fetch_github_token` should never yield a traceback, but simply fail to obtain a token instead (which is perfectly fine for `--install-latest-eb-release`); done in #2070, let's follow up there?

[2016-12-29 11:08] #2069 closed

[2017-01-05 08:39] ocaisa opened #2072 "EasyBuild problem on bash for Windows"
Due to a known (and fixed) [FS problem on Bash for Windows](https://github.com/Microsoft/BashOnWindows/issues/1147), HPL won't build on a Windows platform. The fix may make it into the [Windows upgrade that seems likely in March](http://www.computerworld.com/article/3131095/microsoft-windows/next-windows-10-upgrade-due-march-2017.html).

This issue is a reminder to give it another try then.

[2017-01-05 13:30] geimer commented on #2060
- Symlinking won't work due to the way the Score-P wrapper is implemented.
 - Whether a build or runtime dependency on Score-P is required depends on whether the package is a library or an executable.
 - Note that even for libraries, you may end up with instrumented executables (e.g., some `foo-config` command providing CFLAGS or the like).
 - The outlined approach may be tricky with a hierarchy a

[2017-01-05 15:50] boegel commented on #2064
@geimer fixed in #2073, so let's close this and follow up in there?

[2017-01-05 19:55] rjeschmi opened #2076 "RPATH with Python and virtualenv"
One use case I'd like to see work is to have a version of Python that works properly with virtualenv without

after compiling Python with --rpath I can see that RPATH is set with readelf:

[code]

[code]

[2017-01-06 14:45] #2064 closed

[2017-01-07 10:04] boegel commented on #2076
@rjeschmi What kind of specific errors are you running into with `virtualenv` when a Python that includes an RPATH on `$ORIGIN/../lib` and `$ORIGIN/../lib64`?

I think the only way around this is to avoid using `$ORIGIN`, and just inject the actual installation prefix + `/lib` in there instead.

Interestingly, Spack is actually considering switching to `$ORIGIN` (rather than hardcoding the install

[2017-01-07 10:07] boegel commented on #2076
@pescobar You should be aware of this... (`virtualenv` is broken when Python was installed with RPATH the way it is implemented now)

[2017-01-07 10:16] geimer opened #2077 "GCC toolchain precision options are not cross-platform"
The toolchain precision options (`ieee`, `strict`, `precise`, etc.) currently use GCC options that are platform-specific:
 * `m(no-)ieee-fp` is supported on x86_64, but not on POWER or ARM
 * `m(no-)recip(=<opt>)` is supported on x86_64 and POWER, but not on ARM

I'm not sure whether equivalent options exist, but in the "worst" case we could simply ignore the toolchain option and go with the defau

[2017-01-09 14:14] pescobar commented on #2076
@rjeschmi thanks for pointing this.

This is a blocker for me because my users do heavy usage of virtualenvs. I am thinking if I should totally stop using rpath or just use the rpath skip-out option to build python.

I guess a similar issue can happen if users install R packages to their home folder and R has been linked with rpath, isn't it?

[2017-01-09 14:54] rjeschmi commented on #2076
@pescobar after talking online with you I don't think it changes the behaviour for you vs regular easybuild right now.

I don't think it will effect any other packages either. It is just a relocation peculiarity and if you have LD_LIBRARY_PATH set, it will still work fine (just RPATH isn't doing the work)

[2017-01-09 15:03] pescobar commented on #2076
@rjeschmi thanks for the explanation in the irc channel ;)

As you mention, this issue would not affect my specific use case because I still define `LD_LIBRARY_PATH` in my modules but I agree that getting virtualenvs to work without needing any extra env var would be nice

[2017-01-09 17:54] boegel commented on #2076
@rjeschmi Do you see any reason to just stop using `$ORIGIN` and just hard-code the installation path instead?

Especially w.r.t. Spack considering to move to `$ORIGIN`...

[2017-01-10 11:55] boegel commented on #1891
duplicate of #1797

[2017-01-10 11:55] #1891 closed

[2017-01-10 12:02] verdurin commented on #2027
This would indeed be very useful.

[2017-01-10 14:38] akesandgren opened #2079 "Accessing subtoolchain versions in easyconfig file"
It would sometimes be good to be able to pick out version number of subtoolchains in an easyconfig.
For instance, Paraver-4.5.6-foss-2015a.eb contains:

[code]
gccver = getver('GCC')
[code]

[2017-01-10 14:53] ocaisa commented on #2079
Hmm, minimal toolchains already covers most of this requirement, it inserts the appropriate toolchain and version based on the available easyconfigs. There should be enough in that method so that you could handle the dependency syntax
[code]
and never have to give a version number again...except in toolchain definitions.

[2017-01-10 15:05] akesandgren commented on #2079
Yes, it might just be that i was hitting some badly written easyconfigs... Just back from a 5 week vacation so I'm not up to speed yet :-)

It's sort of related to the %(pyver) macro. I'll see if i find more concrete examples where it would be useful that isn't covered already.

[2017-01-10 15:08] ocaisa commented on #2079
Whoops, I wasn't clear. What I meant was that the machinery to make this possible is there...but the implementation is not!

[2017-01-10 15:12] akesandgren commented on #2079
Ah, yeah, Kenneth told me as much. Just leave it for the time being. I'll see what i run into...

[2017-01-10 18:47] boegel commented on #2076
Relevant to this discussion is @ocaisa's comment in https://github.com/hpcugent/easybuild/issues/282#issuecomment-262721484

[2017-01-10 19:54] boegel opened #2080 "use of ccache leads to compilation problems when Fortran modules are involved"
For example, with CP2K:

[code]

or

[code]

This is a known issue with `ccache`, see https://lists.samba.org/archive/ccache/2016q4/001476.html.

See also https://github.com/ccache/ccache/pull/90#issuecomment-271679896

[2017-01-11 12:02] boegel commented on #1848
@geimer last issue is tackled in https://github.com/hpcugent/easybuild-framework/pull/2081

[2017-01-14 08:36] verdurin opened #2084 "Problem using --from-pr with --job"
Was just trying to build from a PR using the Job backend, and saw this error:
[code]

even though I'd already opened the Python keyring for my GitHub token.

[2017-01-14 08:38] verdurin commented on #2084
It works fine without using the Job backend.

[2017-01-14 08:47] boegel commented on #2084
Does the problem also occur when you submit a job script that does `eb --from-pr` yourself?

[2017-01-14 08:59] verdurin commented on #2084
How would I supply a token to that job?

[2017-01-14 10:29] boegel commented on #2084
@verdurin the token is supposed to be available in your account (installed via `eb --install-github-token`, see http://easybuild.readthedocs.io/en/latest/Integration_with_GitHub.html#installing-a-github-token-install-github-token), but I guess it depends on how the `keyring` module is storing the token...

[2017-01-14 10:30] boegel commented on #2021
@pescobar can you check whether the change in #2083 fixes this problem for you?

[2017-01-14 13:27] boegel commented on #2057
@brevans shall we close this since we're following up in #2063?

[2017-01-14 13:31] boegel commented on #2033
@akesandgren all easyconfigs to construct the full dependency graph for both `foss/2016b` and `gimkl/*` need to be available in the robot search path, but that seems to be the case, so not sure what the actual problem is...

However, it's clear that using `--try-toolchain*` while having `--minimal-toolchains` is currently not supported.

@ocaisa Would you be able to look into this short-term, or s

[2017-01-14 13:32] #2029 closed

[2017-01-14 13:37] boegel commented on #2054
@pescobar the failure to import `mysql_python` is normal, that's just EasyBuild looking for a dedicated easyblock to build & install the `mysql-python` extension with (but there is none, so it'll fall back to `PythonPackage`)

Not sure what is causing the segfault though...

[2017-01-14 13:49] boegel commented on #1778
@rjeschmi ping?

[2017-01-14 13:51] boegel commented on #1887
@riccardomurri ping?

[2017-01-14 13:53] boegel commented on #1936
@riccardomurri still there in 8.6.6 too?

[2017-01-14 13:55] boegel commented on #1938
@riccardomurri did you check whether the suggested fix in https://github.com/hpcugent/easybuild-framework/issues/1938#issuecomment-250778050 works?

[2017-01-14 14:14] boegel commented on #1968
fixed in #2085

[2017-01-14 14:14] #1968 closed

[2017-01-14 14:40] boegel commented on #955
fixed in #2086

[2017-01-14 14:40] #955 closed

[2017-01-15 20:24] verdurin commented on #2084
It doesn't look the running manually with a job script invokes the `keyring` module either. I just see the same error.

[2017-01-16 12:47] migueldiascosta opened #2087 "regtest doesn't catch broken urls when files are already available offline"
Regtest doesn't catch broken urls when files are already available offline (and they usually are when running regtests)

Verifying if the file can still be found at the source_url, without downloading if it is already available, would allow catching broken urls without making the regtest take much longer.

However, that verification could also fail merely because a server is temporarily inaccessib

[2017-01-16 15:30] boegel commented on #2021
fixed in #2083, confirmed by @pescobar

[2017-01-16 15:30] #2021 closed

[2017-01-17 08:32] boegel commented on #2087
We implement support for an option like `--verify-source-urls` which would do exactly this: verify whether files are still available at one of the listed `source_urls`...

Seems like this is actually quite trivial, since `urllib2.urlopen` will throw a traceback instantly when a non-existing URL is used:

[code]

[2017-01-17 08:38] boegel commented on #2084
well, it does use the `keyring` module, but your keyring may only be available in an interactive session

see for example https://pypi.python.org/pypi/keyring#using-keyring-on-headless-linux-systems

[2017-01-18 22:43] vanzod opened #2092 "Separate terminfo library in ncurses breaks Python build"
Following the addition of --with-termlib in ncurses-6.0.eb #3545, if Python gets built against this library using Python-2.7.12-foss-2016b.eb it fails since it cannot find the required symbols:

[code]

If ncurses is built without that flag Python building completes successfully.

[2017-01-18 22:45] #2092 closed

[2017-01-19 02:27] migueldiascosta commented on #2087
indeed, I thought `urlopen` would immediately (re)download the file if the URL exists but no, only a subsequent `url_fd.read()` actually downloads...

do you think the `--verify-source-urls` option should be only for regtest or completely generic? If the latter, it could simply be added to `easyblock.obtain_file()`, e.g. something like

[code]

changing `obtain_file()` would make this work also fo

[2017-01-19 09:04] boegel commented on #2092
replaced with https://github.com/hpcugent/easybuild-easyconfigs/issues/4049

[2017-01-19 10:39] damianam opened #2093 "Feature request: Backup of module files when using --module-only --force"
Background: We might need to add properties to modules after SW has been installed already. I'd like to have a backup of the old module to compare contents with the new and make sure that what is there is consistent, since it is not guaranteed that the module generated with `--module-only` is exactly the same as when going through the whole process.

There are workarounds like using `--installpath

[2017-01-19 13:27] akesandgren opened #2094 "eb fails when using --debug-lmod with lmod 6.5"
Command used:
eb HDF5-1.8.17-intel-2017.01.eb --try-toolchain=intelcuda,2016.11 --debug-lmod --debug

fails with:
ERROR: Build of /scratch/eb-o1g7T4/tweaked_easyconfigs/HDF5-1.8.17-intelcuda-2016.11.eb failed (err: "build failed (first 300 chars): Failed to read mpath: /hpc2n/eb/modules/all: [Errno 2] No such file or directory: 'mpath: /hpc2n/eb/modules/all'")

[2017-01-19 13:30] akesandgren commented on #2094
[debuglog.zip](https://github.com/hpcugent/easybuild-framework/files/716698/debuglog.zip)

[2017-01-19 13:43] akesandgren commented on #2094
And running this command ends up in an "infinite" lmod loop
eb HDF5-1.8.17-intel-2017.01.eb --try-toolchain=intelcuda,2016.11

debug log of that attached.
[inf-loop.zip](https://github.com/hpcugent/easybuild-framework/files/716724/inf-loop.zip)

[2017-01-19 14:07] akesandgren commented on #2094
The /hpc2n/eb/modules/all/Core/icc/2017.1.132-GCC-5.4.0-2.26.lua module contains only one load/use
load("GCCcore/5.4.0")
prepend_path("MODULEPATH", "/hpc2n/eb/modules/all/Compiler/intel/2017.1.132-GCC-5.4.0-2.26")

The GCCcore only contains a "use"
prepend_path("MODULEPATH", "/hpc2n/eb/modules/all/Compiler/GCCcore/5.4.0")

[2017-01-19 14:13] boegel commented on #2094
@akesandgren the 2nd issue is really a different problem, so we should split this up in two issues?

I have no clue why the `load icc` would hang, we'll need to try and get Lmod debug output for it...

[2017-01-19 14:18] boegel commented on #2094
@akesandgren Try and see if this allows you to collect Lmod debug output without running into the problem with Lmod debug tripping up `module show`:

Change this:

[code]

to this:

[code]

And then kill the hanging `lmod -D python load` process rather than cancelling the outer `eb` process, so EasyBuild captures the stderr/stdout output of the `lmod` command.

[2017-01-19 14:46] akesandgren commented on #2094
Change it where?

[2017-01-19 14:52] akesandgren commented on #2094
That change seems to have solved the "fails when using --debug-lmod" problem.
It's getting further ahead this time.

[2017-01-19 15:12] akesandgren commented on #2094
Killing the lmod -D process results in the python process eating memory... LOTS of memory...
140GB of memory or thereabouts...

And errors from the eb process:
== sanity checking...
Traceback (most recent call last):
  File "/usr/lib/python2.7/logging/handlers.py", line 77, in emit
    self.doRollover()
  File "/usr/lib/python2.7/logging/handlers.py", line 142, in doRollover
    os.rename(self.bas

[2017-01-19 15:21] akesandgren commented on #2094
The debug log from that ended up at 9GB... still want it?

[2017-01-19 15:48] ocaisa commented on #2094
What happens if you do a dry run and keep the tweaked files
(--disable-cleanup-tmpdir), I think you might have a dependency loop being
created from the try options.

On 19 Jan 2017 4:21 pm, "Åke Sandgren" <notifications@github.com> wrote:

[2017-01-19 16:33] boegel commented on #2094
@akesandgren 33MB zipped is doable, although maybe you can try and kill the `lmod` process sooner? letting it run for a couple of seconds should be enough...

[2017-01-20 07:20] akesandgren commented on #2094
@ocaisa The dry-run generates 2 tweaked configs, HDF5 and Szip, but Szip for intelcuda-2016.11 already exists, as can be seen if i do eb -S 'Szip-intelcuda-2016.11'
And both of them look correct compared to the corresponding ones for pure intel toolchain.

[2017-01-20 07:52] akesandgren commented on #2094
@boegel Here are logs and other stuff that remains from a --debug_lmod --debug run, where i kill lmod early enough to make the logs smaller.
[hdf5-debug_lmod.logs.zip](https://github.com/hpcugent/easybuild-framework/files/718728/hdf5-debug_lmod.logs.zip)

[2017-01-20 08:09] ocaisa commented on #2094
Ok but EB will use the tweaked easyconfig for szip not the existing one...this is being fixed in PR https://github.com/hpcugent/easybuild-framework/pull/2090

On 20 Jan 2017 8:20 am, "Åke Sandgren" <notifications@github.com<mailto:notifications@github.com>> wrote:

@ocaisa<https://github.com/ocaisa> The dry-run generates 2 tweaked configs, HDF5 and Szip, but Szip for intelcuda-2016.11 already exis

[2017-01-20 08:12] akesandgren commented on #2094
the Szip tweaked config is identical to the existing one except for the buildstats section. So that shouldn't be the problem I hope.

[2017-01-20 08:14] ocaisa commented on #2094
If you directly try the tweaked HDF5 easyconfig (without --try- options) does it succeed?

[2017-01-20 09:06] akesandgren commented on #2094
Using the tweaked HDF5 config still causes an inf loop on lmod load

[2017-01-20 09:15] ocaisa commented on #2094
Then I suspect there is some problem with either your module naming scheme or the toolchain definition

[2017-01-20 09:21] akesandgren commented on #2094
Yes, very likely. We have HMNS, minimal-toolchain, and recursive-module-unload=True

There might well also be a bug in the intelcuda toolchain definition. It haven't gotten much testing yet.

[2017-01-20 09:33] ocaisa commented on #2094
It's the "recursive-module-unload" that is the problem. Are you using it everywhere or just for toolchains? If you could see the lmod command being called I think you would figure it out. We only use recursive unload as an easyconfig option for compilers, not as a general option.

[2017-01-20 09:34] ocaisa commented on #2094
We use Lmod families for MPI and Compilers

[2017-01-20 10:18] akesandgren commented on #2094
We use recursive unload for everything, we like it the way our old tclModules worked.

[2017-01-20 10:25] ocaisa commented on #2094
In a hierarchy, that means that when I unload one module everything else become inactive (because the modules that extend the path also get unloaded). For this to work as you would expect you probably need the PR https://github.com/hpcugent/easybuild-framework/pull/2091 that @bartoldeman is working on

[2017-01-20 11:07] akesandgren commented on #2094
This is what it looks like here:
ml purge
ml intelcuda
ml

Currently Loaded Modules:
  1) snicenvironment (S)   3) iccifort/2017.1.132-GCC-5.4.0-2.26   5) GCCcore/5.4.0                     7) CUDA/8.0.44       9) imkl/2017.1.132
  2) systemdefault   (S)   4) icc/2017.1.132-GCC-5.4.0-2.26        6) ifort/2017.1.132-GCC-5.4.0-2.26   8) impi/2017.1.132  10) intelcuda/2016.11

ml Szip
ml

Currently Lo

[2017-01-20 11:25] akesandgren commented on #2094
The "solution" in this case is to remove the
[code]
lines from the Szip module.

This makes sense to me (is that what PR #2091 does?) since that Szip module can't be loaded unless the correct iccifort+imkl is already loaded.

[2017-01-20 13:20] ocaisa commented on #2094
Yes, that's what the PR does

[2017-01-20 13:23] akesandgren commented on #2094
Ok, will do some tests with it...

[2017-01-20 13:25] ocaisa commented on #2094
What happens if you have two applications that have a shared dependency? When one gets unloaded, does the other cease to work correctly? I think Lmod may be handle this correctly but I'm pretty sure Tcl doesn't

[2017-01-20 19:27] boegel commented on #2094
@ocaisa Lmod will mark the 2nd app that requires a dep that gets unloaded as inactive, afaik.

[2017-01-20 19:28] boegel commented on #2094
@akesandgren let me know if #2091 fixes your problem, since that would be a very good reason to bump the priority of #2091 and get it included for EB v3.1.0

[2017-01-20 19:34] boegel commented on #2087
@migueldiascosta I think this should be a stand-alone option, not tied to the regtest, so it can also be used in other circumstances

I'm not sure pushing this into `obtain_file` like you showed is the best approach though, since with the patch you showed `--verify-source-urls` would only be done for files that are already downloaded.

You want this to be entirely separate, i.e. to *only* check do

[2017-01-20 20:29] bartoldeman commented on #2094
with default HMNS it would still load imkl since imkl sits on top of the hierarchy
I am doing tests too for #2091

[2017-01-20 20:36] boegel commented on #2094
but including the `load` for `imkl` is fine, right, that wouldn't break things? it's just a dep, not a module that extends `$MODULEPATH`...

[2017-01-21 11:51] akesandgren commented on #2094
Unfortunately PR #2091 doesn't help my problem, the module files end up identical and i still get an inf loop in lmod load during HDF5 build with intelcuda

[2017-01-23 02:35] bartoldeman commented on #2094
Here is what is going on for Szip as far as I understand:
first of all Szip has no additional dependencies so just the toolchain counts. The intelcuda toolchain module has these dependencies; the one with an x extend MODULEPATH with the default HMNS:
1. iccifort
2. CUDA
3. icc x
4. ifort x
5. impi x
6. imkl
the "x" dependencies are eliminated; those modules do not have any direct dependencies that

[2017-01-23 09:58] migueldiascosta commented on #2087
@boegel ok, if it should _only_ verify source URLs, maybe it could imply `--stop=fetch` and run `urlopen` (and return before downloading) in all cases, not just the already downloaded ones

[2017-01-23 11:25] akesandgren commented on #2094
Removing iccifort from the intelcuda easyconfig seems to have solved the problem according to my initial test builds.

I'll rebuild the modules in my primary sw path with that change and see what happens...

[2017-01-25 06:37] boegel commented on #2057
fixed for `$HOME` and `$USER` in #2063, so this issue can be closed @brevans?

[2017-01-25 14:04] migueldiascosta opened #2097 "dry run fails on re.compile when software name contains metacharacters like '++'"
e.g.

[code]

needs `re.escape`?

[2017-01-25 15:32] brevans commented on #2057
yes, all done!

[2017-01-25 15:32] #2057 closed

[2017-01-25 18:44] boegel commented on #2097
@migueldiascosta Nice catch...

`re.escape` seems like the easiest/best way to fix this problem, yes

Are you up for issuing a PR for that?

[2017-01-26 04:01] migueldiascosta commented on #2097
@boegel ok, I'll replace `re.compile(software_installdir)` with `re.compile(re.escape(software_installdir))`

`re.compile(builddir)` seems to be safe by construction (`remove_unwanted_chars` in `gen_builddir`)

regarding `re.compile(module_installdir)`, I suppose one wouldn't expect those characters in `module_installdir`, but shall I escape it anyway to be safe?

[2017-01-26 10:47] boegel commented on #2097
@migueldiascosta I'd keep things consistent and use `re.compile(re.escape(...))` in all three cases, it doesn't hurt (just keep in mind to stick to lines of <= 120 chars)

[2017-01-27 08:53] migueldiascosta commented on #2087
using this hack [1], found about 200 inaccessible source_urls [2]

[1] https://github.com/migueldiascosta/easybuild-framework/commit/57809aaaf88aef1d73440ec9fee7a1c1a80aa962
[2] https://gist.github.com/migueldiascosta/3330b976811131f6f6a97444999692bd

[2017-01-27 11:11] boegel commented on #2097
fixed in #2098

[2017-01-27 11:11] #2097 closed

[2017-01-27 12:18] rjeschmi commented on #2076
The only reason to use $ORIGIN is if you are going to support relocation. I don't mind it in theory, but it should be a further experimental option.

[2017-01-27 12:56] ocaisa commented on #2076
Isn't the installation step itself usually a relocation? What if the application requires loading of it's own .so libraries (like `Qt` does)? If installation is a relocation then you can only ensure they are loaded correctly by using `$ORIGIN`

[2017-01-27 13:03] boegel commented on #2076
So, that would mean building Qt with `--rpath` would be broken if we switch from `$ORIGIN/../lib` to RPATH'ing `<prefix>/lib` instead?

[2017-01-27 13:06] ocaisa commented on #2076
No it wouldn't most likely...but that's assuming that your choice of location is actually the correct one

[2017-01-27 13:15] boegel commented on #2076
@tgamblin Any thoughts on this on the benefits over RPATH'ing `$ORIGIN/../lib` vs `<prefix>/lib`?
Especially w.r.t. https://github.com/LLNL/spack/issues/640

[2017-01-27 13:16] ocaisa commented on #2076
To me, one for the other is a straight swap so I say go with hard-coding as the default but allow people to switch to `$ORIGIN` if they want as needed.

[2017-01-27 14:57] tgamblin commented on #2076
I'd just use prefix here. If you look at the RPATH on the Python binary, it has tons of absolute paths to dependencies anyway, so $ORIGIN isn't buying you relocatability. You'd have to change all those other non-ORIGIN RPATHs too if you wanted to move your EB installation.

I am not sure we'll move to relative RPATHs soon because it's hard to get right. You have to know a lot about how your build

[2017-01-27 15:00] boegel commented on #2076
Thanks a lot for the feedback @tgamblin! :+1:

[2017-01-27 15:19] rjeschmi commented on #2076
Yeah you have the advantage too that $ORIGIN/../libs will probably fit in the same space as $prefix (but less likely the other way) so patchelf should be a lot easier that direction. Also the patchelf should be relatively easy.

Definitely worth thinking about long_fake_prefix that is easy to search for as an option with a patchelf finish step (and this is all easier if the prefix is just there in

[2017-01-27 15:37] tgamblin commented on #2076
I believe parchelf works fine with variable-length/longer RPATHs.  It's older cousin chrpath doesn't.

[2017-01-31 17:47] damianam opened #2100 "Do not skip postprocessing after adding new extensions with --force --skip"
Currently `postinstallcmds` are not executed with `--force --skip`. Since the latter is used for installing new extensions, which at the same time might require new `postinstallcmds`, skipping them seems like a bug to me.

[2017-02-01 13:36] tom6 opened #2102 "CentOS7.3.1611 - Cannot install OpenBLAS/0.2.18-GCC-5.4.0-2.26-LAPACK-3.6.1 for toolchain foss-2016b"
Hi,

we are experiencing some issues with installing the toolchain "foss-2016b" on our fresh installed CentOS7 distribution.
Can someone help in triggering the issue?
Thanks
Tom

## We bump on the following error (see attach debug log)
[code]
[easybuild-OpenBLAS-0.2.18-20170201.143051.bxETT.log.txt](https://github.com/hpcugent/easybuild-framework/files/744916/easybuild-OpenBLAS-0.2.18-20170201.143

[2017-02-02 09:20] fgeorgatos commented on #427
@boegel: only seeing this now (>1yr l8r!). Yes, I'd consider this handled so closing.

[2017-02-02 09:20] #427 closed

[2017-02-02 09:23] fgeorgatos commented on #805
@boegel: i haven't seen, or seen anyone else, reporting this ever since, so I'm closing.

[2017-02-02 09:23] #805 closed

[2017-02-03 09:51] migueldiascosta commented on #153
I think I just hit this problem with a `PythonPackage` (e.g. GPAW) that depends on another one (e.g. ASE), in a counterintuitive way: if ASE is already loaded, the sanity check fails saying ASE cannot be found, but if ASE is not loaded, the sanity check passes

Because it is counterintuive, it would be helpful that at least some warning was issued at the beginning saying a dependency shouldn't be

[2017-02-03 10:28] tom6 commented on #2102
Apparently the solution was to install  OpenBLAS-0.2.18-GCC-5.4.0-2.26-LAPACK-3.6.1.eb separately with a few extra buildopts:

buildopts = '**MAKE="make -j 20"** BINARY=64 USE_THREAD=1 CC="$CC" FC="$F77" NO_AFFINITY=1 **TARGET="NEHALEM"**'
#buildopts = 'BINARY=64 USE_THREAD=1 CC="$CC" FC="$F77" NO_AFFINITY=1'

[2017-02-03 10:29] #2102 closed

[2017-02-03 12:09] tom6 commented on #2102
of course you can also use the option: eb **--job-cores=20**

[2017-02-06 18:42] JackPerdue opened #2107 "RFF: have -D list osdependencies too"
As I battle deploying EB on RH7.3 I find the -D option increasingly useful, especially when combined with --minimal-toolchains.  I'm straying from the path those and basically trying to use osdependencies for any builddepencies that don't have -devel in the name (except for openssl and zlib [needed by openssl]).  So I'm using the system binutils/autoconf/automake/make/cmake/m4/pkgconfig/libtools (

[2017-02-06 18:49] JackPerdue opened #2108 "RFF: option to dump modules during build"
A construct I use quite a bit while trying to write new EasyConfigs is:

preconfigopts = """
    MFILE='/tmp/mods-%(name)s-%(version)s-%(toolchain_name)s-%(toolchain_version)s'
    module -t list >& $MFILE
    cat $MFILE
"""

Just so I have a quick list of modules to load.  I know similar can be obtained (with effort) with --dump-env-script but having them listed in the final build log is handy as

[2017-02-09 12:41] rjeschmi opened #2109 "new-pr doesn't work with https remote repos?"
[code]

[2017-02-09 12:50] rjeschmi commented on #2109
https://github.com/hpcugent/easybuild-framework/blob/master/easybuild/tools/github.py#L730

That should be configurable, I guess git@ is a reasonable default, but it isn't recommended anymore.

[2017-02-09 12:52] rjeschmi commented on #2109
you also have a token, so it makes some sense to push using it.

[2017-02-10 01:25] JackPerdue opened #2111 "RFF: dump a copy of --dump-env-script output in the %(installdir)/easybuild directory as an .env file for each build"
I think the Subject: covers it.

But if it doesn't...... sometimes its nice to have a quick reference (especially for users) of what the environment was like when a certain package was built.  Especially if they want to use the EB version to build a custom version.  %(installdir)/easybuild already has a -devel file but its basically useless for users.  And teaching users how to use EB and run --du

[2017-02-10 01:29] JackPerdue commented on #2111
and yes I forgot the ending 's' on both uses of %(installdir) like I usually do... pep8 or eb would not be happy

[2017-02-10 08:47] boegel commented on #2111
I've been meaning to get this covered in the documentation (https://github.com/hpcugent/easybuild/pull/263), but I think there's an approach already that' may satisfy your needs, see the use of the `BuildEnv` easyblock at https://github.com/hpcugent/easybuild-easyconfigs/blob/master/easybuild/easyconfigs/b/buildenv/buildenv-default-intel-2016b.eb, which would give you a module like `buildenv/defau

[2017-02-10 13:40] verdurin opened #2114 "pyshortver deferencing fails when Python is not a full dependency"
I was testing an easyconfig with `Python` as a builddependency, not a full dependency.

In `postinstallcmds`, I tried to use `pyshortver` but this wasn't resolved and instead was passed as a raw value, causing a crash.

This should be picked up earlier, because it's a somewhat problematic configuration anyway.

[2017-02-10 13:41] verdurin commented on #2114
The problem went away when I instead had `Python` as a full dependency.

[2017-02-10 14:43] vanzod commented on #2111
It would be nice to hear Robert's opinion on having a native Lmod function to read such buildenv files and spit the information out accordingly. In this way the users will only have to interact with Lmod.

[2017-02-10 15:30] boegel commented on #1877
One more issue with extra statements for the module file that are specific for certain extensions, i.e. the contents of `self.module_extra_extensions`, cfr. https://github.com/hpcugent/easybuild-framework/pull/2112/files#r100551112.

One thing to look into could be to implement an `eb` option like `--verify-module-only` where EasyBuild would do the equivalent of `--module-only --force` to regenera

[2017-02-10 15:43] boegel opened #2115 "calling build_option too early causes a mess"
While working on #2110 with @victorusu, we bumped into a hard-to-debug mess by introducing a call to `build_option('extended_dry_run')` in the `symlink` function provided by `filetools` (which got rolled back).

Because `symlink` is by the handling of the `--include-*` options, which is done before option parsing fully completes, the `BuildOption` singleton is being created too early, i.e. before

[2017-02-13 06:45] koallen opened #2116 "Install failed due to error with PYTHONPATH"
I'm trying to install Easybuild on CentOS 7.2 with system default `python` & `gcc`. I'm using the bootstrap script provided in the `master` branch. State 1 goes well, but I encountered errors at `installing...` step of stage 2.

The error is

[code]

I tried to run

[code]

manually and the error seems to be

[code]

[2017-02-13 07:20] koallen commented on #2116
Ok, I somehow got it working. Let me describe my procedure cause the documentation is a little bit confusing to me. This is what I did

- Install using bootstrap script and failed (see above)
- Re-login to clear previously set environment variables
- `sudo pip install -U setuptools vsc-install vsc-base`
- Download bootstrap script again
- Bootstrap complains about `vsc-base` (`Found another vsc.ut

[2017-02-13 08:39] foxik0070 opened #2117 "cannot import name GENERAL_CLASS"
Hello,

After install EasyBuild new version (3.1.0) we see this error, any advice?

$ eb
Traceback (most recent call last):
   File "/usr/lib64/python2.6/runpy.py", line 122, in _run_module_as_main
     "__main__" Fname, loader, pkg_name)
   File "/usr/lib64/python2.6/runpy.py", line 34, in _run_code
     exec code in run_globals
   File "/apps/all/EasyBuild/3.1.0/lib/python2.6/site-packages/easyb

[2017-02-13 09:10] boegel commented on #2117
@foxik0070 How did you install EasyBuild v3.1.0? Did you have another EasyBuild version installed earlier? What does this print?

[code]

[2017-02-13 09:15] foxik0070 commented on #2117
@boegel Installed from EasyBuild-3.1.0.eb, but this is develop version. Yes, we have older versions (2.1.1  2.2.0  2.3.0  2.4.0  2.5.0  2.7.0  2.8.0  2.9.0  3.0.0  3.0.1.lua  3.0.2.lua  3.1.0.lua) and last instalation not working.

Print:
~]$ echo $PYTHONPATH
/apps/all/EasyBuild/3.1.0/lib/python2.6/site-packages::/apps/easybuild/python

~]$ python -c "import easybuild; print easybuild.__file__; im

[2017-02-13 09:25] boegel commented on #2117
@foxik0070 Python is picking up the installation you have in `/apps/easybuild/python`, which seems to be older?

How was this installation performed, and what is there exactly?

If you remove `/apps/easybuild/python` from `$PYTHONPATH`, the problem should be fixed?

[2017-02-13 09:31] foxik0070 commented on #2117
@boegel Yes, I am removed `/apps/easybuild/python` from the path and now it's work. Thank you.
And installation is the same as the older versions.

[2017-02-13 09:44] boegel commented on #2117
@foxik0070 If the problem is fixed now, please close this issue.

[2017-02-13 09:46] #2117 closed

[2017-02-14 11:33] akesandgren commented on #1674
Would be nice if --new-pr would automatically include any required patch files.

[2017-02-14 13:08] naveau commented on #2116
I had the same `fancylogger` error during the install and I can confirm that `vsc-install` and `vsc-base` should not be installed by the user before the bootstrap. I replicate this behavior on a freshly installed CentOS-7-minimal :

As root :
* `yum install epel-release `
* `yum install Lmod`
* `yum install python2-pip`
* `pip install --upgrade pip`
* `pip install -U setuptools`
* Add this step if

[2017-02-14 19:24] boegel commented on #2102
@tom6 How many cores do you have available in this system? It seems like the OpenBLAS build was failing because it was being built *too* parallel? That's rather strange, especially since capping it to 20 seems to fix the problem...
Note that using `--job-cores=20` is kind of equivalent to `--parallel=20` (not exactly though, since the latter enforces exactly `parallel=20` while the former is more

[2017-02-14 19:39] boegel commented on #2116
You should indeed not install `vsc-install` or `vsc-base` yourself before bootstrapping.
The bootstrap script will install both, and will make very sure that the `vsc-install` and `vsc-base` that it installs are also actually being used (which may not be the case when they were installed previously system-wide or via `pip install --user`).

The original problem may be something related to `setupto

[2017-02-14 19:41] boegel commented on #2114
@verdurin What do you think the best approach would be here? Try and scan easyconfigs for templates that we won't be able to resolve at all?

The tricky bit is that some templates can only be resolved as a certain point in time...

[2017-02-14 19:42] boegel commented on #2107
@JackPerdue Can you provide a mockup of the kind of output you are looking for?

[2017-02-14 19:44] boegel commented on #2108
@JackPerdue You can obtain exactly this via `--extended-dry-run`, see http://easybuild.readthedocs.io/en/latest/Extended_dry_run.html#module-load-statements-are-executed-or-simulated ?

[2017-02-14 20:22] mboisson opened #2118 "Option for --list-toolchains to show the list of *installed* toolchains"
The idea is to give installers the possibility to know what toolchain is currently installed and findable by easybuild.

Something like this almost works:

`module --show-hidden avail $(eb --list-toolchains | grep -v "List of known" | cut -f1 -d: | sed 's@$@/@g' | tr '\n' ' ')
`

except that toolchains can be renamed (our iccifort,<version> toolchains are actually named intel/<version>).

Also, so

[2017-02-14 20:53] JackPerdue commented on #2108
When the heck did that get added?  That looks entirely too useful.   :)   I owe somebody a beer.

[2017-02-14 20:53] #2108 closed

[2017-02-15 04:45] koallen commented on #2116
Hi @boegel,

Thanks for the reply. I'll try to replicate the error with `easy_install` again with `EASYBUILD_BOOTSTRAP_DEBUG=1` set. And see if the `setuptool` is causing the problem.

As for my suggestion on improving the documentation, there are 2 sections that describe the dependencies of EasyBuild on [this page](http://easybuild.readthedocs.io/en/latest/Installation.html). Although the require

[2017-02-15 06:16] koallen commented on #2116
I tried to replicate the error with a fresh CentOS 7.2.1511 and `python-pip` (which installs setuptools 0.9.8) but failed. I don't think I explicitly upgraded setuptools before (on the machine that had the error). Therefore, it's probably not setuptools' fault. I'll investigate further into the issue and see if I can find anything.

[2017-02-15 06:27] koallen opened #2119 "Order in known_module_commands"
Hi, I have a question regarding the order of module tools in the variable `known_module_commands`. To my knowledge, EasyBuild works the best together with Lmod since Lmod has some cool new features such as module hierarchy. However, the order when checking module command installed on the system is

[code]

Shouldn't it check Lmod first before the old Environment Module tool?

[2017-02-15 07:29] SethosII opened #2120 "multiline modloadmsg has undesired indentation"
At the begining of each line after the first there are spaces that aren't part of `modloadmsg`. For example when loading Trimmomatic:

[code]

The easyconfig contains `modloadmsg = """To execute Trimmomatic run: java -jar $EBROOTTRIMMOMATIC/trimmomatic-%(version)s.jar\n"""`, so there is no space after the newline.

The generated module file contains this:

[code]

I think the indentation is inheri

[2017-02-15 11:45] fedepad commented on #420
What's the status? Because I don't see this thing in the repo: downloaded the (latest?) bootstrap_eb.py as described in the website but fails as root. .
In my case I have a system that I use always as root (no multi-user....); I think "not being root" as a requirement it's not the best idea: probably make it as a default option that is configurable though in case someone who knows what is doing wa

[2017-02-15 20:44] boegel commented on #420
@fedepad Support for allowing to run as `root` is implemented in a straightforward way in https://github.com/hpcugent/easybuild-framework/pull/2123 .

That means that `--allow-use-as-root` will be supported in a future EasyBuild release (under the condition that the PR gets reviewed/approved/merged), so you should be able to bootstrap as `root` after running `export EASYBUILD_ALLOW_USE_AS_ROOT=1`

[2017-02-18 01:44] rjeschmi commented on #2014
I don't think eb_shell_quote does what you think it does.

It may work in certain cases, but wrapping `token' in singlequotes won't work since single quotes aren't valid in a shell string even if escaped.

so `token' becomes '`token\'' which is invalid. What you actually have to do is '`token'\''' (replace a single quote with '\''

https://stackoverflow.com/questions/1250079/how-to-escape-single-q

[2017-02-18 05:44] hajgato opened #2125 "rpm command fails on CentOS 7.3 if XZ 5.2.2 module is loaded"
[code]

See build report https://gist.github.com/hajgato/89428a29cc94c35857f93670cff2d0bd

[2017-02-18 07:20] hajgato commented on #2125
Already reported:
https://github.com/hpcugent/easybuild-easyconfigs/issues/4036

[2017-02-18 07:20] #2125 closed

[2017-02-19 10:24] jerowe opened #2126 "GitRepository help"
@boegel, this is not so much an issue as it a cry for help. I'm trying to use the github repo option, and either it doesn't do what I think its supposed to do, or I'm doing things wrong. ;-)

[code]

`git@github.com:nyuad-cgsb/nyuad-hpc-module-configs.git` is a publically available github repo. `gencore_qiime-1.0.eb` is an eb in that repo.

The error I get is:

[code]

Obviously I'm missing someth

[2017-02-20 10:01] boegel commented on #2126
`--repository*` is for specifying the type & location of the easyconfigs repository/archive that EasyBuild maintains (the easyconfigs that are installed are copied to there for archiving purposes), see also http://easybuild.readthedocs.io/en/latest/Configuration.html#easyconfigs-repository-repository-repositorypath .

`eb` will not pick up easyconfigs from there automagically, but you can tell it

[2017-02-20 10:08] fedepad commented on #420
@boegel Thank you very much for the explanation! Appreciated!

[2017-02-20 17:51] damianam opened #2127 "Yet another lmod integration feature (userInGroup)"
In lmod it is possible to use the `userInGroup` function to restrict the loading of modules to certain user groups:

[code]

I think this would be a nice thing to integrate together with the `group` key in easyconfigs.

I'll see if I can get to it soon[ish]

[2017-02-20 18:36] mboisson commented on #2127
Note that the error message and the name of the group must be site-customizable, i.e. in the easyconfig.

Also, for LmodError, if we want to use localization, we'ld have to wrap the error message to get the right language.

[2017-02-21 08:31] fedepad commented on #420
I was able after a while (a lot...) to build, install Easybuild with your patch and load the "main" module. Now I execute:

`eb mpiBLAST-1.6.0-goolf-1.4.10.eb --robot`
and I get:

How can this be solved **QUICKLY**?

[2017-02-21 08:42] ocaisa commented on #420
The quickest thing to do would be to not use `root` and take the more standard approach that is well documented.

Installing EB with `root` is one thing since @boegel know what the source does, installing all software through EB with `root` is another, how can you know that what you are doing is in any way secure? The EasyBuild recipes are community developed and not checked for security (they don

[2017-02-21 10:00] damianam commented on #2127
The name of the group is already customizable.

Regarding the error message, I am not superconvinced about being it site customizable through another easyconfig parameter. As I see it there are three ways:

1. Set a standard error message in Lmod, that is localizable and that can be leveraged from EB.
2. Generate from EB a generic error message ("You are not part of the `group` group. Please consu

[2017-02-21 10:32] boegel commented on #2127
I agree with @damianam here, 2 is exactly what I had in mind. 1 is fine too, depending on a particular version of Lmod for an optional feature isn't a huge problem imho.

I'm not planning to spend time on adding support on localisation in EasyBuild anytime soon, but if there are pull requests for it I'll certainly try and take a look at them if time allows for it.

[2017-02-21 10:35] boegel commented on #420
The security concern is broader than just EasyBuild: you're running scripts, Makefiles, etc. from a random source on the worldwide web, and there have been (unintended) problems with stuff like that before (google "bumblebee github fail" to see a 'nice' example).

[2017-02-21 10:37] boegel commented on #420
@fedepad w.r.t. support for running `eb` with `root` privileges, this will only be supported in EasyBuild v3.2.0 at the earliest, *if* pull request https://github.com/hpcugent/easybuild-framework/issues/2123 gets merged (there's some disagreement on how the command line option should be named)

[2017-02-21 13:00] mboisson commented on #2127
At the very least, if I were to enable this feature for Compute Canada, I would say something like "Please write to us at <email>@computecanada.ca with your NAMD username to become a member of that group", rather than "Please consult with user support...". I would probably make the message bilingual as well.

[2017-02-21 13:07] boegel commented on #2127
We don't have anything like that in EasyBuild yet, i.e. allow for customising EasyBuild error messages or statements that are included in module files. If we support this, it should be done as a part of a bigger effort, not as something for one specific feature...

[2017-02-21 13:10] mboisson commented on #2127
That's fine. I'll probably disable this feature and have it module-specific through the module footer in the EB recipe. Would there be a good place to document this alternative solution ?

[2017-02-22 07:03] SethosII commented on #2004
Closing because it's outdated and not relevant anymore.

[2017-02-22 07:03] #2004 closed

[2017-02-23 20:17] mboisson opened #2130 "Bug in install directory when using modaltsoftname"
Hi,
I am trying to install a 64bit version of PETSc. I use modaltsoftname to change the module name to "petsc-64bits"

I would have expected EB to install the software under a directory of the same name, but it instead overwrote the existing petsc directory.

I believe this is a bug in hierarchical_mns (I have not checked other MNS).

I have modified our own MNS here.
https://github.com/ComputeCan

[2017-02-23 20:28] boegel commented on #2130
`modaltsoftname` is intended to only affect the module name, but I understand that the side effect of silently overwriting an existing installation isn't exactly desirable...

So, I think we have a couple of options:

* indeed also change the name in the install directory (but as you mention, that's a backwards-incompatible change, which we are very careful with)
* add a check to avoid silently tr

[2017-02-23 20:31] mboisson commented on #2130
A third option might be to have an "installaltsoftname" which changes the name of the installation folder.

[2017-02-23 20:34] mboisson commented on #2130
Note that the current behaviour is actually using the "det_module_short_name" to figure out the installdir path. So, one could argue that "det_module_short_name" should actually give the alternative name, and the behaviour of the install dir just happens to follows from that.

[2017-02-23 20:39] boegel commented on #2130
Also supporting `installaltsoftname` is certainly doable, but we still need the check on the install dir.

The name of the install directory is determined via `det_install_subdir`, which indeed relies on `det_full_module_name`, but that method *is* aware of `modaltsoftname`...

Am I missing something? Also because you mention `det_module_short_name` rather than `...full...`?

[2017-02-23 20:42] mboisson commented on #2130
det_full_module_name is not aware of modaltsoftname, it just calls det_short_module_name to get the last part, and this one is not aware of modaltsoftname.

At least, they are not in hierarchical_mns.py

[2017-02-23 20:43] mboisson commented on #2130
None of the MNS - except our custom one - are aware (as of themselves) of modaltsoftname as of themselves:

[code]

[2017-02-23 20:54] boegel commented on #2130
The module naming scheme being used is not called directly, but via the `ActiveMNS` mechanism, see https://github.com/hpcugent/easybuild-framework/blob/master/easybuild/framework/easyconfig/easyconfig.py#L1636, which calls `_det_module_name_with`, which is aware of `modaltsoftname`.

So, that makes me wonder why you're hitting this at all, since the intention indeed seems to be that the installdir

[2017-02-23 21:10] mboisson commented on #2130
Mmmm

Looking at my installation logs, I do see that at some point it creates a directory and replace the software name with "petsc-64bits":
[code]

However, I do not see the same message when make_installdir is called:

[code]

here, it finds the petsc-64bits directory because this is a log obtained with my patch.

[2017-02-23 21:40] mboisson commented on #2130
Some more logs after reversing my local patch:

[code]

[2017-02-24 10:15] jdonners commented on #2055
Hi,

this is most probably caused by the rpath_args.py script, which removes the flag --enable-new-dtags from the command line. The compiler passes this flag to the linker using '-Wl, --enable-new-dtags' or '-Xlinker --enable-new-dtags'. The script would then remove --enable-new-dtags and the compiler basically passes whatever random flag is next on the command-line on to the linker. I created a s

[2017-02-24 10:23] jdonners commented on #2055
hmm, I'm not authorized to do that. Should I have created a separate branch from develop?

[2017-02-24 13:21] boegel commented on #2055
@jdonners Does the documentation at http://easybuild.readthedocs.io/en/latest/Contributing.html#pull-requests help?

[2017-02-24 13:50] boegel commented on #1626
@lucamar does you closing the issue mean you no longer require the ability to skip the sanity check?

[2017-02-24 14:31] lucamar commented on #1626
@boegel I've seen that you had added this issue to v2.x and we have now 3.0.2

[2017-02-24 14:38] jdonners commented on #2055
pull request is here: https://github.com/hpcugent/easybuild-framework/pull/2131

[2017-02-24 15:03] boegel commented on #1626
@lucamar the milestone was later bumped to v3.x, i.e. being able to skip the sanity check hasn't been implemented yet...

[2017-02-24 15:12] lucamar commented on #1626
@boegel I see: to be honest haven't tried that any longer. If you think that it is feasible to have it as a feature, then I'll reopen the issue

[2017-02-24 15:18] boegel commented on #1626
@lucamar Well, it's feasible, sure, but I don't know how smart it is to support it.

I do understand that it's frustrating to not be able to skip the sanity check, but I would like to somehow avoid that people start doing it all the time.

There's a very good reason the sanity check is there, but clearly there are corner cases where it breaks for the wrong reasons...

Your view @gppezzi?

[2017-02-27 10:08] migueldiascosta opened #2133 "TODO list for --check-style"
* [ ] check if filename is consistent with contents
* [ ] check order/grouping of parameters
* [ ] ...

[2017-02-27 15:51] basvandervlies commented on #2116
I jsut tried to bootstrap it on debian wheezy and had the same error. To solve it I had to
 * install pip
 * pip install --upgrade setuptools

[2017-02-28 15:04] boegel commented on #2055
@pescobar @jdonners's PR #2131 with the fix for this issue is merged into `develop`, please check whether this solves the problem you were seeing?

[2017-03-01 10:26] tom6 commented on #2102
Sorry to come back that late. Under here the output of the command requested.
Indeed it seems that using a parallel for example 24 solves a lot of this kind of issues.
[eb@bofur UDUNITS]$ python -c "from easybuild.tools.systemtools import det_parallelism; print det_parallelism()"
128

[2017-03-02 15:16] haribert commented on #2014
Could it be, that newlines in the description lead to an error too? I am not 100% percent sure and it is difficult to reproduce, but following rpm package failed via EasyBuild:
- [libxml2-2.9.4-foss-2016b.eb](https://github.com/hpcugent/easybuild-easyconfigs/blob/master/easybuild/easyconfigs/l/libxml2/libxml2-2.9.4-foss-2016b.eb)
- [GDAL-2.1.0-foss-2016b.eb](https://github.com/hpcugent/easybuild-e

[2017-03-02 17:17] damianam opened #2137 "No files found using glob pattern"
I would argue that failing if no file has been found is not the best behaviour. That change was introduced here: https://github.com/hpcugent/easybuild-framework/commit/cbd0c3996f38ed011ab8d1772ec5e536515ea465 The problem I have with it is that it forces me to change the EB configuration when deploying a new stage, since the `EASYBUILD_INCLUDE_*` directories are empty.

On my opinion, if the glob e

[2017-03-02 17:32] boegel commented on #2137
@damianam Changing this to a (clear) warning is fine by me, but it should be clear that this relates to the `--include-*` options (and ideally, to which specific one)

[2017-03-02 17:45] damianam commented on #2137
@boegel I agree

[2017-03-03 12:43] boegel commented on #2014
@haribert lots of easyconfigs have multi-line descriptions, so that would be surprising... @rjeschmi?

[2017-03-03 13:59] rjeschmi commented on #2014
I dont' think it is a problem. Before it was pointed out and we started doing better quoting to work around those things, but the new commands as lists is much more robust to this sort of thing so it really won't be a problem now.

[2017-03-06 11:35] damianam commented on #2120
In addition to that, wouldn't it make sense to use `LmodMessage` instead of `io.stderr:write`?

[2017-03-06 12:40] akesandgren opened #2143 "Problems when trying to use EB as a normal user with HMNS"
We're trying to make it possible for normal users to use EB for installing some software that we can't, or aren't allowed to, install globally.

We want them to be able to do this while still utilizing our site setup with all the existing toolchains etc.
We are using HMNS, minimal-toolchains, and recursive-module-unload.

When trying as a normal user and just setting installpath EB doesn't find th

[2017-03-06 12:46] ocaisa commented on #2143
In case you haven't seen it... https://github.com/hpcugent/easybuild-framework/pull/1472

[2017-03-06 12:59] akesandgren commented on #2143
I have, but I seem to have failed in reading all of it previously.

It actually talks about being able to do what we want, but there is no solution yet.
The comment from @geimer on Jan 20 2016, "And now the potential use case:" is precisely what we want to do.

What we have problems with is building software in the first place. I.e., EB not finding the already site installed modules that aren't in

[2017-03-06 13:12] geimer commented on #2143
Unfortunately, #1472 isn't enough.  EasyBuild searches for/loads modules with their full name, e.g., `Core/GCC/6.3.0-2.27` or `Compiler/GCC-6.3.0-2.27/OpenMPI/2.0.2`.  Thus it isn't enough to have the `Core` path in `$MODULEPATH`, but also it's parent directory.

Example: Suppose your system-wide EasyBuild prefix is `/opt/eb`, then modules end up in `/opt/eb/modules/Core`, `/opt/eb/modules/Compile

[2017-03-06 13:18] geimer commented on #2143
To be more precise: I have a module `SoftInst` which sets the desired EasyBuild configuration in the environment and loads the (hidden) EasyBuild module.  If loaded as a "normal" user, it also modifies some settings (in particular EASYBUILD_PREFIX) and loads the (again hidden) `eb_user` module which extends `$PATH` to the location of the above script.

[2017-03-06 13:24] akesandgren commented on #2143
Ah, now stuff is starting to make sense :-)

Could you give me your SoftInst etc modules so i can take a look and see what we need to do.

[2017-03-06 14:01] geimer commented on #2143
@akesandgren Sent by PM.

I briefly discussed this with @boegel some time ago and we thought about adding an `alt-prefix` or `alt-module-path` (or similar) configuration option to let EasyBuild do the `$MODULEPATH` extension.  But as usual, it ended up on the imaginary wish list and didn't materialize yet...

[2017-03-06 14:03] akesandgren commented on #2143
Regarding your SoftInst module, shouldn't EASYBUILD_REPOSITORYPATH really point to the users .local/ebfiles_repo or so? They shouldn't be allowed to write into the global repopath.

[2017-03-06 14:07] geimer commented on #2143
That's what is happening.  `EASYBUILD_REPOSITORYPATH` is unset for "normal" users, i.e., it uses the default `$EASYBUILD_PREFIX/ebfiles_repo`.

[2017-03-06 14:58] akesandgren commented on #2143
Regarding EASYBUILD_SUBDIR_USER_MODULES...
I'd like to have it set in the global easyconfig.cfg, would setting it to "" in SoftInst work just as well?

[2017-03-06 15:17] geimer commented on #2143
I believe empty strings are considered "unset" in Python, so probably yes.  But I'm not sure.

[2017-03-06 15:23] akesandgren commented on #2143
We'll find out probably tomorrow. Just need to rebuild a couple of modules so the user-hmns part gets included.

[2017-03-06 16:45] boegel commented on #2120
@SethosII Yes, you're probably right, although it's a bit hard to see that in the code straight away.

See `msg_on_load` in `module_generator.py` (https://github.com/hpcugent/easybuild-framework/blob/master/easybuild/tools/module_generator.py#L674), the message is being inserted with the newline included, but then the whole thing gets indented because it's wrapper in `self. conditional_statement`.

[2017-03-06 17:03] damianam commented on #2120
This is the first reference I see of `LmodMessage`: https://github.com/TACC/Lmod/commit/5d4166b26958b25279c1b1b3b82ee99c7f90a7e9 That's from `3.2`

[2017-03-07 02:56] DanielTosello commented on #1626
This would be extremely useful for developing new easyblocks & configs (and contributing them back without feeling like they're horribly messy)

[2017-03-07 06:42] SethosII commented on #2120
@boegel Here is an example of a `modloadmsg` with more lines:

[code]

So the first line has no indentation but all subsequent lines and intentional indentation is preserved.

[2017-03-07 13:40] haribert commented on #2014
@boegel I am aware that most of the easyconfigs have multi-line descriptions. For me it is the only explanation, why these packages may fail. Perhaps you have a better explanation based on my log files:

The last lines of the easybuild libxml2 log:
[code]

And the last lines of the GDAL log:
[code]

Everything works fine if I execute the same command by hand.

[2017-03-07 14:11] rjeschmi commented on #2014
It does look like an escaping problem, but I'm surprised I haven't seen this before as we did try to fix this earlier.

In any case, the new code is merged and much more robust for this case so I think it will be fixed now in develop. I'll test it later today.

[2017-03-07 15:07] haribert commented on #2014
@boegel I can test the two packages if EasyBuild 3.1.1 is available as easyconfig and inform you about the outcome.

[2017-03-07 15:37] haribert opened #2146 ""rpm -q" fails because easybuild breaks rpm system dependencies"
The EasyConfig [R-3.3.1-foss-2016b.eb](https://github.com/hpcugent/easybuild-easyconfigs/blob/master/easybuild/easyconfigs/r/R/R-3.3.1-foss-2016b.eb) fails on CentOS7 with a misleading error of missing OS dependencies. The command `rpm -q` fails with an error code 1 because EasyBuild does run rpm with a replaced XZ library.

[code]

The corresponding check of EasyBuild `rpm -q openssl-devel`  fail

[2017-03-07 15:46] boegel commented on #2146
@haribert This particular issue is fixed in the XZ 5.2.2 easyconfigs that are included in EasyBuild v3.1.1, see https://github.com/hpcugent/easybuild-easyconfigs/pull/4179 for more details.

We should indeed avoid that loaded modules influence the `rpm` command (and maybe also other commands), so we could add support to run them in a clean environment.

So, I'll leave this issue open as a reminder

[2017-03-08 07:33] boegel commented on #2014
@haribert EasyBuild v3.1.1 is now available, can you please verify that this issue is indeed fixed?

[2017-03-08 09:56] migueldiascosta opened #2147 "RFF: allow running --review-pr *before* --new-pr"
running (an equivalent to) `--review-pr` before submitting with `--new-pr` would allow the submitter to compare a new easyconfig to existing ones himself, before submitting and eventually having to amend the pr

this could be done for instance by running `--review-pr` against an intermediate local branch

[2017-03-08 23:46] opoplawski opened #2148 "Test failure: KeyError: 'PYTHONPATH'"
Running tests with "/usr/bin/python2 setup.py test" I get lots of these errors:
[code]
Looks like utilities.py needs to handle the case where PYTHONPATH is not set.

[2017-03-09 11:21] akesandgren opened #2150 "multiple paths in include-easyblocks doesn't always work"
Having
[code]
in my config file fails if the same easyblock is present in both directories.
[code]

This makes it harder to keep on developing an easyblock that haven't been accepted upstreams yet but is good enough for a site to move forward. The framework should handle this in my opinion. First seen should take precedence.

[2017-03-09 12:23] boegel commented on #2150
fixed in #2151, let's follow up there

[2017-03-09 12:23] #2150 closed

[2017-03-09 12:35] haribert commented on #2014
@boegel I tested it this morning with EasyBuild version 3.1.1, but it did not work either. Seems to be a generic error and not limited to the mentioned easyconfigs.

Looks like a fpm or ruby problem:
[code]

The same problem occurs at the easyconfig of `XZ`.

If I execute the same command in the command line, it works fine:

[code]

[2017-03-09 12:38] boegel commented on #2014
@haribert Maybe try using a more recent version of FPM? 1.3.3 is quite old, latest is 1.8.1...

[2017-03-09 12:39] rjeschmi commented on #2014
it looks like it isn't being recognized as ruby...

[2017-03-09 12:42] boegel commented on #2148
Should be fixed by the changes made in #2149, thanks for reporting this @opoplawski!

[2017-03-09 12:43] #2148 closed

[2017-03-09 12:44] haribert commented on #2014
@rjeschmi Yes, this exactly my thought. But the path in the fpm file (`/unibas/lcs-software/software/FPM/1.3.3-Ruby-2.1.6/bin/fpm`) is correct:

[code]

@boegel The fpm is the version from the [EasyConfig repository](https://github.com/hpcugent/easybuild-easyconfigs/tree/master/easybuild/easyconfigs/f/FPM).

[2017-03-09 13:01] boegel commented on #2014
@haribert What happens in you change the first line in `fpm` to `#!/usr/bin/env ruby`?

[2017-03-09 13:12] haribert commented on #2014
@boegel It does not change anything, same output (shifted by one line, because I did not delete the first line.):

[code]

[2017-03-09 13:51] rjeschmi commented on #2014
I am working on this and can reproduce it. Sorry it clearly wasn't tested properly before I submitted it.

Ultimately it is a problem of how to best escape arguments to commands outside of python, and it is not as simple as it should be.

[2017-03-09 14:14] rjeschmi commented on #2014
fix on the way, it seems to be a problem in executable being set to bash for shell=False (which basically execvp to just attach the args to /bin/bash, which is wrong).

https://github.com/hpcugent/easybuild-framework/pull/2153

[2017-03-09 16:10] opoplawski opened #2154 "test_vsc_location (test.framework.general.GeneralTest) fails"
I'm working on building Fedora rpms for easybuild packages.  I'm getting the following test error:
[code]
The vsc-base package does not install a __init__.py file in site-packages/vsc, I believe because it is a namespace package, so it doesn't not have a __file__ attribute.

[2017-03-09 19:55] boegel commented on #2154
@opoplawski Hmm, this is new to me... I can probably come up with a patch that dances around this, for example by checking `vsc.utils.__file__` or `vsc.utils.fancylogger.__file__` instead, but I'd like to understand what is causing this exactly.

You may be right that this may be due to `vsc` being registered as a namespace package, but it may also indicate a mistake in the packaging of `vsc-base`

[2017-03-09 22:23] opoplawski commented on #2154
One difference may be how you are installing the vsc packages when running the tests.  When you build the vsc packages locally, you get an __init__,py.  e.g.:
[code]
But that doesn't get installed into site-packages.  Instead a .pth file is installed:
[code]
In the Fedora build case, we install all of the dependencies via rpms instead of building them locally, and as a result there is no __file__

[2017-03-10 12:12] foxik0070 opened #2158 "Irresolvable dependencies encountered"
Hello,

We have a problem.

[code]

but:

[code]

Any advice?

[2017-03-10 12:14] boegel commented on #2158
@foxik0070 What is your EasyBuild version and configuration?

[code]

[2017-03-10 12:15] foxik0070 commented on #2158
@boegel

[code]

[code]

[2017-03-10 12:17] boegel commented on #2158
@foxik0070 It seems like you don't have the location to the easyconfig files that are included listed in `robot-paths` anymore?

[2017-03-10 12:20] boegel commented on #2158
Although that doesn't explain why `--search` is finding the easyconfig file that you need...

@foxik0070 Can you provide a debug log for the command that complains about not being able to resolve the dependency?

Use `-dr` rather than `-r`, and upload the log file somewhere?

[2017-03-10 12:24] foxik0070 commented on #2158
@boegel log [here](http://l.krupcik.sweb.cz/easybuild-nCGF3q.log)

[2017-03-10 12:33] boegel commented on #2158
Relevant portion of the log:

[code]

The robot does not append `easybuild/easyconfigs` in the path, while (apparently) `--search` does, which explains why the robot doesn't find what it needs.

That's certainly confusing, but I'm wondering why you're hitting it now...

Did you change the EasyBuild configuration recently?

[2017-03-10 12:40] boegel commented on #2158
@foxik0070 OK, if you append `easybuild/easyconfigs` to those additional locations, the problem should be solved.

There's an inconsistency about sometimes appending `easybuild/easyconfigs` in the search path, and sometimes not...

[2017-03-10 12:45] foxik0070 commented on #2158
@boegel OK,  but how do I fix it?

[2017-03-10 12:52] boegel commented on #2158
@foxik0070 As mentioned above, append `easybuild/easyconfigs` to those locations in your EasyBuild configuration file:

[code]

[2017-03-10 12:58] foxik0070 commented on #2158
@boegel Tried, does not help

[code]

[code]

[code]

[2017-03-10 13:02] foxik0070 commented on #2158
@boegel It works, thanks!!!

[2017-03-10 13:02] #2158 closed

[2017-03-11 17:51] boegel commented on #2014
@haribert Problems with EasyBuild v3.1.1 are fixed in #2153, I hope to release EasyBuild v3.1.2 ASAP.

[2017-03-13 07:12] akesandgren commented on #2143
WIth the SoftInst module from @geimer I now have this working to some extent.
Ran into some new bugs with module creation though.

[2017-03-13 07:22] akesandgren opened #2162 "Incorrect module loads in modules built by users with HMNS, minimal-toolchain, recursive-unload"
We have the following system setup:
[code]

Things work as expected and modules get correctly created.
But when adding the SoftInst module from @geimer on top of this to allow for users to build their own softwares we get incorrectly built modules.

[code]

With everything else in the chain installed at system level building, as user with SoftInst loaded,
[code]

the resulting x264 module contains

[2017-03-13 08:35] ocaisa commented on #2162
In what way is the OpenMPI load incorrect? Don't you want to guarantee that the hierarchy is correctly loaded since you will have to explicitly `module use` the modules of the user (i.e. they may be visible without having expanded your hierarchy yet)?

[2017-03-13 08:36] ocaisa commented on #2162
For this user space i would probably just turn off recursive unloading by default

[2017-03-13 09:00] geimer commented on #2162
@akesandgren Isn't this the same issue than addressed in https://github.com/hpcugent/easybuild-framework/pull/2152?  In fact, I would assume the same `load` statements to appear with a system-wide installation.

BTW: you probably want to adjust the `EASYBUILD_OPTARCH` setting in the `SoftInst` module. I needed to be creative here, as our test system has heterogeneous hardware.

[2017-03-13 09:15] akesandgren commented on #2162
@ocaisa OpenMPI is already loaded due to the hierarchy, and it is causing problems when building ffmpeg on top of x264, just the same problem i had with eb not finding binutils due to GCCcore getting loaded when it was already loaded.

[2017-03-13 09:22] akesandgren commented on #2162
@geimer Sort of the same as in #2152 but i already have that fix in place, and system-wide install doesn't get load openmpi in the x264 module.
System-wide (no SoftInst module loaded) x264 module looks like:
[code]

[2017-03-13 09:23] ocaisa commented on #2162
Maybe I don't understand fully how this setting functions. Did you have to rebuild your compiler/MPI modules to get path extensions into the user space? if not then don't you have to explicitly do
[code]
(either in the environment or in another module) to get access to the users module space. If you do this then what is the guarantee that the hierarchy is populated when you do "module load x264"?

[2017-03-13 09:25] akesandgren commented on #2162
@ocaisa The "subdir-user-modules     (F) = Public/easybuild/modules" setting makes the modules that expand MODULEPATH contain things like
[code]
So users do not have to do "module use $HOME/Public/easybuild/modules"

[2017-03-13 09:26] akesandgren commented on #2162
I will try unsetting recursive for user level builds, but it's still a bug that needs to be figured out.

[2017-03-13 10:04] boegel commented on #2080
Same problem with SWASH, see https://github.com/hpcugent/easybuild-easyconfigs/issues/4337

[2017-03-13 11:47] SethosII opened #2163 "--try-software-version leads to syntax error in Infernal EasyConfig"
EasyBuild generates a wrong EasyConfig when I try to use `--try-software-version` on the [Infernal easyconfig](https://github.com/hpcugent/easybuild-easyconfigs/blob/master/easybuild/easyconfigs/i/Infernal/Infernal-1.1-goolf-1.4.10.eb). See this example:

[code]

The original EasyConfig contains this:

[code]

So the `sanity_check_paths` is somehow partially deleted? For other EasyConfigs the `--t

[2017-03-13 20:28] opoplawski commented on #2154
One difference may be how you are installing the vsc packages when running the tests.  When you build the vsc packages locally, you get an __init__,py.  e.g.:
[code]
But that doesn't get installed into site-packages.  Instead a .pth file is installed:
[code]
In the Fedora build case, we install all of the dependencies via rpms instead of building them locally, and as a result there is no __file__

[2017-03-13 22:27] opoplawski commented on #2154
#2159 does appear to fix this issue.  Other errors I see are:
[code]

[2017-03-14 08:07] boegel commented on #2154
Thanks for the confirmation on #2159 and reporting these issues @opoplawski!

W.r.t. the tests still failing:

* `test_check_style`: I'm not 100% sure what the problem is here (maybe an old version of the `pep8` module being used?), but I suspect that it may be fixed by #2160; in any case, `pycodestyle` should be preferred over `pep8` now, cfr. #2161

* `test_toy_rpath`: please try applying the pa

[2017-03-14 16:08] boegel commented on #2143
see #2162 w.r.t. problems that @akesandgren referred to in previous comment

@geimer: W.r.t. the required `$MODULEPATH` extension, can't we derive that from the current `$MODULEPATH` and the subdirectory that points to the top of the module tree, which is specified in the module naming scheme?

[2017-03-14 16:12] boegel commented on #2162
This is probably related to the way in which we exclude dependencies in `make_module_dep`, where we hunt down the modules that extend `$MODULEPATH` with a specific location.

Since as a user you are installing modules in a different location, the check is probably done with an incorrect location...

@bartoldeman Thoughts on this?

[2017-03-14 16:24] boegel commented on #2163
Thanks for the bug report @SethosII...

My first suspicion is that it has something to do with the `%s` being used in `sanity_check_paths` in the original easyconfig...

I'll take a closer look and try to come up with a fix.

[2017-03-14 16:29] bartoldeman commented on #2162
I've seen similar things, using a simple --prefix=$HOME/easybuild to test out modules.
I think the issue is that MODULEPATH is compared literally, not taking into account the
[code]
stuff. I'll have a further look; sometimes this the output for such logic can be parsed by "module show" in Lmod.

[2017-03-14 16:50] bartoldeman commented on #2162
My PR #2104 addresses this issue. However it fails Travis. Let me check why.

[2017-03-14 17:52] bartoldeman commented on #2162
PR #2104 has been updated to (hopefully) pass Travis.

[2017-03-14 18:14] opoplawski commented on #2154
Checking with latest develop branch fixes everything but test.framework.options.CommandLineOption and test.framework.toy_build.ToyBuildTestsTest.  Setting verbose didn't get me much by itself, so I also set first_n to 10000 and now get:
[code]

[2017-03-14 19:25] boegel commented on #2163
@SethosII Problem should be fixed with changes made in pull request #2166.

The problem was not the `%s` used in `sanity_check_paths`, and it's a pretty nasty bug (which was not easy to fix).

When using `--try-software-version`, the `checksums` parameter is reset to an empty list (since it doesn't make sense to retain it, the checksums are hopefully not the same if the software version is differe

[2017-03-14 19:41] boegel commented on #2154
@opoplawski

* w.r.t. `AttributeError: 'Checker' object has no attribute 'total_lines'` that makes `test_check_style` fail:

  * Are you still seeing that exact same `AttributeError`?
  * Which `pep8` version are you using?
  * Is also installing `pycodestyle` (which is basically the replacement of `pep8` an option, and does it help? (requires `develop` or the upcoming EasyBuild v3.1.2 to make a d

[2017-03-14 21:21] boegel commented on #2163
fixed in #2166 which was merged to be included in EasyBuild v3.1.2, thanks for the bug report @SethosII!

[2017-03-14 21:22] #2163 closed

[2017-03-14 21:25] opoplawski commented on #2154
Same AttribueError.  pep8 is version 1.4.6.  I installed pycodestyle 2.0.0 and that cleared up that issue.

test_toy_rpath does appear to be virtualenv related, but I cannot reproduce with a simple virtualenv creation test case.

[2017-03-15 06:49] boegel commented on #2154
@opoplawski I couldn't find a related bug fix since `pep8` v1.4.6 in http://pep8.readthedocs.io/en/release-1.7.x/developer.html#changes, but I'm not sure if it's worth figuring this one out further since I haven't seen it with more recent versions of `pep8` either.

How do we proceed on the issue with `test_toy_rpath`? I don't think there's something we can do, looks like a bug in Python or virtua

[2017-03-15 07:43] boegel commented on #2162
@geimer Are you also seeing the superfluous loads in user-installed modules like @akesandgren does, with current `develop`?

[2017-03-15 07:46] geimer commented on #2143
@boegel Probably yes. So the idea would be to iterate over the paths in `$MODULEPATH` and try to strip off any path returned by `mns.det_init_modulepaths()`?

[2017-03-15 08:22] geimer commented on #2162
@boegel Yes, I see those as well -- but only for stuff that comes from the system-wide installation. If, for example, the toolchain itself is installed in the user's prefix, the loads don't show up.

[2017-03-15 08:23] geimer commented on #2162
@boegel Sorry, I didn't read your previous comment not carefully enough.  I see those with EasyBuild 3.1.1.  Will now also check develop.

[2017-03-15 08:44] geimer commented on #2162
@boegel Same situation with `develop`.

[2017-03-15 15:05] opoplawski commented on #2154
Can you get me the commands to run to reproduce the test_toy_rpath test?  With that I could probably track down the issue.  Thanks.

[2017-03-15 17:35] boegel commented on #2154
@opoplawski I'm not sure what you mean... Do you want to run the `test_toy_rpath` only?

Then use `python -O -m test.framework.suite test_toy_rpath`.

[2017-03-16 08:44] boegel commented on #2162
@bartoldeman With the current implementation, where we search for `$MODULEPATH` extensions (via `module use` or `prepend_path MODULEPATH`) in the raw module file we should be getting the ` pathJoin(os.getenv("HOME"), "Public/easybuild/modules/Compiler/GCCcore/6.3.0")` (and if not, we should fix the regex we're using so we do).

That may no longer be the case when using `show` though, since then we

[2017-03-16 10:41] geimer opened #2167 "`modaltsoftname` creates empty modulefile directory with original name"
When adding `modaltsoftname` to an easyconfig to create a modulefile with an alternative name, EasyBuild still creates an empty directory in the `modules` subdir with the original name.  Since I was able to reproduce this with `iccifort` (which uses a custom easyblock) as well as `M4` (which uses the generic `ConfigureMake` easyblock), it seems like a generic issue somewhere in the framework.

[2017-03-16 12:00] geimer commented on #2167
I believe it comes from here: https://github.com/hpcugent/easybuild-framework/blob/master/easybuild/framework/easyblock.py#L1530. At least that's what I see in the debug logs...

[2017-03-17 16:48] geimer commented on #2167
Fixed in #2168

[2017-03-17 16:48] #2167 closed

[2017-03-17 16:58] geimer commented on #2130
@boegel I'm not using `--fixed-installdir-naming-scheme` and see the same behavior: `modaltsoftname` only affects the module name, but the install directory still uses the "original" name.  I believe this is the originally intended behavior as `modaltsoftname` is defined as a modulefile easyconfig parameter.  If it would affect both the modulefile and the install path, `altsoftname` would IMHO be

[2017-03-17 20:30] boegel commented on #2162
Test that reproduces this bug is added in #2172, the problem is fixed in #2104.

I'll close this once both #2104 and #2172 are merged.

Thanks for the bug report @akesandgren, @ocaisa and @geimer for the feedback and @bartoldeman for working out the fix!

[2017-03-18 09:47] boegel commented on #2080
Even when not using `ccache` for building CP2K, it fails if `libxsmm` was built with `ccache` enabled because of missing `libxsmm` Fortran modules...

[2017-03-18 12:55] boegel commented on #2162
fixed in #2104, confirmation in #2172

[2017-03-18 12:55] #2162 closed

[2017-03-18 12:56] boegel commented on #2014
fixed by #2153

[2017-03-18 12:56] #2014 closed

[2017-03-19 17:51] boegel commented on #2143
@geimer Basically, yes, that makes sense to me...

[2017-03-22 11:06] boegel commented on #2080
another victim: WRF (cfr. https://github.com/hpcugent/easybuild-easyconfigs/pull/4385)

[2017-03-23 21:05] mboisson commented on #1494
@masaofujinaga hit the same problem when building WPS.

I am working on a fix to wps.py similar to the one in hpcugent/easybuild-easyblocks#1027 for HDF5

[2017-03-23 21:59] mboisson commented on #1494
Fir fix for wps.py is in this PR: hpcugent/easybuild-easyblocks/pull/1150

[2017-03-27 13:31] mstud opened #2182 "optarch for different compilers breaks --job"
I was trying to use the GC3Pie job backend but keep getting this error message in the job log file:

ERROR: Failed to parse configuration options: "The optarch option has an incorrect syntax: '{\\'GCC\\': \\'march=westmere -mtune=haswell\\', \\'Intel\\': \\'xSSE4.2 -axCORE-AVX2\\'}'"

My optarch line in the EasyBuild config file:
optarch=Intel:xSSE4.2 -axCORE-AVX2;GCC:march=westmere -mtune=haswell

[2017-03-27 16:04] boegel commented on #2182
@damianam Any ideas on this one?

[2017-03-27 16:51] damianam commented on #2182
I haven't tested the option using a config file, but in a terminal I'd put the options between single quotes. However, the error seems to spit a valid dictionary.......

The troubled lines are these: https://github.com/hpcugent/easybuild-framework/blob/261861679742a8cc69cca232bb878bd698cd93f7/easybuild/tools/options.py#L745 but I don't see how that can happen...... I'll try to take a look at it to

[2017-03-27 18:13] Sneeg commented on #2182
The problem seems to be that _postprocess_optarch is called twice when using --job, once immediately when running eb and then later in the job again. The second time, self.options.optarch has already been overwritten by the string representation of the dictionary with the parsed data. Then,  of course, there is no OPTARCH_SEP in the string, but two OPTARCH_MAP_CHARs, so the exception is raised.

[2017-03-28 09:24] damianam commented on #2182
I'd say you are right, but there is more to it. `self.options.optarch` is a string that looks like an already processed `dict`, and that's why it doesn't fail during `self.options.optarch.split(OPTARCH_SEP)`

I think the issue is more complex than it looks like because somewhere, when using `--job`, the `dict` gets serialized to a string, and then things go down. We could apply a quick and dirty f

[2017-03-28 09:29] damianam commented on #2182
On the other hand, this can be seen as a side effect of doing something nasty, like shoving a dict into what it used to be a string. I remember saying something like "I am not convinced that's a great idea...." ;-P. Maybe it is better to simply check if `--job` is part of the options, and avoid the processing altogether when that happens?

[2017-03-28 09:37] boegel commented on #2182
@damianam We should look into how hard it is to avoid changing `options.optarch` in place, since that would fix the problem, no?

Alternatively, we can treat `--optarch` specially when passing down options to the submitted job, if we have to, but I'd consider that a last resort.

[2017-03-28 09:45] damianam commented on #2182
@boegel I assume you didn't read my last reply. A third way would be to avoid processing the option the first time, and leave the parsing to the second pass, once `--job` is removed and the job is running on the node. This should be fairly easy to implement.

Avoid changing `options.optarch` is also perfectly feasible, but requires deciding where to put the dict, or generate the dict on the fly (w

[2017-03-28 09:49] boegel commented on #2182
@damianam Skipping the parsing under `--job` makes sense too, indeed.

[2017-03-28 09:56] damianam commented on #2182
Just pick your fix and I'll implement it. But keep in mind that one can be done today, and the other will have to wait, there are too many things in my TODO list with high priority ;-)

[2017-03-28 09:59] boegel commented on #2182
@damianam Go with your suggestion, postponing the parsing, makes sense to me.

[2017-03-28 17:22] damianam commented on #2182
@mstud could try out the fix in https://github.com/hpcugent/easybuild-framework/pull/2183 ?

[2017-03-29 06:31] mstud commented on #2182
Works like a charm, thank you for the prompt fix.

[2017-03-29 06:35] mstud commented on #2182
Was bit fast to close this here, while it does indeed not prevent me from using --job anymore, it seems to ignore the optarch in a job now altogether:

== 2017-03-29 08:28:49,711 environment.py:97 INFO Environment variable OPTFLAGS set to -O3 -xHost (previously undefined)

[2017-03-29 07:01] mstud commented on #2182
If it helps you debug the issue, it appears that in the job there have been single quotes added to the self.options.optarch string which messes up the parsing.

[2017-03-29 08:01] boegel commented on #2182
let's follow up on this in #2183, I don't like having two 'issues' open for the same problem, it's confusing

[2017-03-29 08:01] #2182 closed

[2017-03-29 15:40] shahzebsiddiqui opened #2184 "cyclic dependency not handled well"
https://github.com/hpcugent/easybuild-easyconfigs/issues/4408

[2017-03-29 15:48] shahzebsiddiqui commented on #2184
I am still getting an error after removing GCC from its dependency. I am running a dry-run and it is failing.
[code]
[code]

[2017-03-29 16:51] boegel commented on #2184
@shahzebsiddiqui The traceback you are showing is quite strange... It's getting stuck in an infinite loop while defining a simple environment variable?!

What happens if you run this?

[code]

[2017-03-29 17:49] shahzebsiddiqui commented on #2184
[code]

[2017-03-30 07:04] boegel commented on #2184
@shahzebsiddiqui Can you provide a full debug log for this?

[2017-03-30 14:04] gwolosh opened #2186 "eb does not automatically module Core modules during a robot build"
[code]

`eb GCC-6.3.0-2.27.eb --robot --installpath=XXXX --installpath-modules =YYYY --robot `
Bison installation failed due to a module load issue.
From the log --

[code]

module use YYYY/all/Core and rerun - Builds successfully

[2017-03-30 14:08] shahzebsiddiqui commented on #2184
I ran the command using

[hpcswadm@amrndhl1157 intelcuda]$ eb intelcuda-2017.01.eb -d --robot --devel

Please see the log
[easybuild-qQw9z2.txt](https://github.com/hpcugent/easybuild-framework/files/882540/easybuild-qQw9z2.txt)

Snapshot of error
[code]

[2017-03-30 15:25] boegel commented on #2186
@geimer Thoughts on this? Should EasyBuild do the `module use .../Core` itself, maybe along with a big fat warning that `$MODULEPATH` isn't set up correctly to consume the modules EasyBuild procudes in the HMNS?

[2017-03-30 15:36] geimer commented on #2186
@boegel I never tried `eb` with `$MODULEPATH` not being set up correctly.  What does EasyBuild do for the "classical" naming scheme?  Will `modules/all` be added to `$MODULEPATH` automatically?  If so, I think that `Core` should be added when using HMNS.

[2017-04-02 07:57] verdurin commented on #2109
I think this is the reason I'm seeing the following error when running `--check-github` on a newly-built system:
[code]

[2017-04-02 20:36] verdurin commented on #2109
No, that's not the reason...

I do agree with the suggestion to make the scheme configurable.

[2017-04-03 10:13] avapirev commented on #1626
I would love to be able to skip the sanity checks. In 100% of the cases (my cases) the fails are due to differences in the file/direcotries locations for different versions of the software I install and not in errors of the installation itself. That is, the files are there and they do work as expected, but the sanity check expects them to be somewhere else. An example - OpenFOAMv4: file named 'vor

[2017-04-03 10:34] wpoely86 commented on #1626
@avapirev How will you know if your build is really broken or just a file in a different location?
It's better to make the sanity checks smart. What do you do to make to files be at different locations?

[2017-04-03 10:44] avapirev commented on #1626
@wpoely86 And how do you define a "broken build"? Configure. Check. Compile. Check. Install. Check. Ask for trouble (sanity). Check (read "Failed"). As I said, that is my experience. Other users may have different opinion and I respect that of course. Cheers.

[2017-04-03 10:50] wpoely86 commented on #1626
I know how annoying it is when a build fails in the sanity check (especially when it's ParaView and takes 3h to compile).

My point is if you skip the sanity check, how will you know that `vorticity` is there or not? The OpenFOAM build procedure is crazy enough to continue even if something fails.

I'm more interested why some binaries end up in a different place for you.

[2017-04-04 12:14] holstgr-kaust commented on #1094
This is still occurring in EasyBuild v3.1.2, also with a custom ParaView (v5.3.0) build config.  The behaviour is exactly as described above:

[code]

That ParaView config is building more components than previous working ParaView configs had.

Maybe log rotation should be disabled (e.g., set MAX_BYTES = 0 in vsc.utils.fancylogger) until it works reliably?

[2017-04-06 14:29] haribert opened #2188 "Package (rpm/deb/...) does not get build if the module already exist."
If a module does already exist and you execute EasyBuild a second time with the package parameter `--package` the `rpm`/`deb`/... package does not get build. EasyBuild does not check if the package does not exist, it only checks if the module is there.

This is important for the following case: If EasyBuild gets executed with the `--package` parameter and the build of the module was successful but

[2017-04-10 18:15] akesandgren opened #2189 "bad behaviour in framework/easyconfig/easyconfig.py update function"
The class EasyConfig update function is incorrectly adding an extra " " when updating strings.

[code]
The "self[key] = '%s %s ' % (prev_value, value)" should not contain the last " "
This is currently causing problems with my current update to the NAMD easyblock.

With the current code i get a double " " in the string which is causing trouble later on in the NAMD easyblock.

[2017-04-10 19:05] hajgato commented on #2188
^ @haribert

[2017-04-11 07:15] ocaisa commented on #2072
With the Creator Update that was released today this problem is now fixed, HPL was successfully installed (and executed a successful test run). The only modification to the standard foss toolchain is to remove the ibverb support in the OpenMPI easyconfig (since I didn't have any infiniband).

[2017-04-11 07:15] #2072 closed

[2017-04-12 10:55] akesandgren commented on #2189
See PR #2190

[2017-04-13 14:20] shahzebsiddiqui commented on #2184
Is IntelCuda going to be fixed for EB 3.2 release?

[2017-04-15 11:56] JackPerdue opened #2191 "easyblock = line in easyconfigs should allow comments"
If I comment the easyblock used for an easyconfig like:

[code]

I get an error like:

[code]

That ain't right.

I can write it as:

[code]

and it works but would prefer the former (and doesn't think adding a comment to that line should result in an error).

[2017-04-18 11:53] boegel commented on #2191
@JackPerdue that's indeed rather stupid, it's a matter of fixing `fetch_parameters_from_easyconfig` (https://github.com/hpcugent/easybuild-framework/blob/master/easybuild/framework/easyconfig/parser.py#L59) which now doesn't take into account comments at all...

[2017-04-18 12:03] boegel commented on #2191
fixed in #2192, which we can hopefully include in EasyBuild v3.2.0

[2017-04-18 12:32] boegel commented on #2189
follow-up in #2190

[2017-04-18 12:32] #2189 closed

[2017-04-18 13:40] boegel commented on #2184
@shahzebsiddiqui This is a very strange problem, I'm not sure it's a bug in EasyBuild at all, it looks like a problem with Python itself.

The problem occurs when EasyBuild is doing something very simply, i.e. defining the environment variable `$LMOD_QUIET` to `1`. The log message being emitted when doing that somehow triggers and infinite loop in your Python installation, I have no idea why that

[2017-04-19 13:54] shahzebsiddiqui commented on #2184
Hi Ken

Please see the system information below.
[code]

We are running NFS v3 for installing apps and few other services. We use AFS for home directories. The file that you are asking to edit is it.

[code]

Content of main is as follows
[code]

[2017-04-19 19:31] shahzebsiddiqui commented on #2184
The issue doesn't seem to be a system python issue something to do with the eb files. I tried with Python and Anaconda from eb and this error only happens on intelcuda dependency tree. It also happens building iccifortcuda.

I can't build any intelcuda related packages.

[code]

[code]

[2017-04-20 12:03] haribert commented on #2188
The rebuild of the package is a functional workaround.

Nevertheless, this creates another issue. If the rpm package does already exist (for any reason), the build process fails:

[code]

[2017-04-20 14:56] boegel commented on #991
Support for specifying custom easyconfig parameters per extension is added with #2194, which should close this issue.

@gatagat The concept of extensions was introduced exactly to avoid having a separate easyconfig file per extension. Later on, we also added support for installing extensions like `numpy` as stand-alone modules, where you indeed need a separate easyconfig file.

[2017-04-21 06:54] boegel opened #2195 "scipy.test is not run when scipy is installed as extension"
cfr. https://github.com/hpcugent/easybuild-framework/pull/2194/files#r112528743

[2017-04-21 09:36] boegel commented on #2191
#2192 was merged in time for EasyBuild v3.2.0, so closing this

Thanks for the bug report @JackPerdue!

[2017-04-21 09:36] #2191 closed

[2017-04-21 16:10] andreas-h opened #2196 "issues with sanity_check_paths"
I'm having an issue with `sanity_check_paths`:

When I'm setting

    sanity_check_paths = {
        'files': ['bin/emos_tool', 'lib/libemos.a'],
    }

I get the error *Incorrect format for sanity_check_paths (should (only) have dirs,files keys, values should be lists (at least one non-empty)).*

However, when I set

    sanity_check_paths = {
        'files': ['bin/emos_tool', 'lib/libemos.a'],

[2017-04-21 16:24] andreas-h commented on #2196
A second point is that this error is only raised *after* installing.  This is not optimal, as it wastes (potentially) a lot of time.  Checks like this should be performed before even configuring.

[2017-04-25 09:07] wpoely86 commented on #2012
I'm hitting the same issue. Any clues @boegel or @riccardomurri ?
It makes that GC3Pie thinks that jobs have failed while the succeed.

[2017-04-25 13:22] boegel commented on #2012
Is the home directory on a shared filesystem (NFS)? Not sure if that was the case for @rjeschmi...

[2017-04-25 13:39] riccardomurri commented on #2012
Re: the log lines reported by @rjeschmi , this looks like a bug in GC3Pie (directory cleaned up twice). So far, I had only seen it happening with the "localhost" execution backend, never with batch systems, though...

Re: the general issue of GC3Pie mis-detecting the fate of jobs: it's hard to tell what's happening without some more data printed to the logs.  I can cook up a PR to make DEBUG logs

[2017-04-26 07:08] wpoely86 commented on #2012
It's on NFS.

@riccardomurri Sure, I'm happy to provide any additional info you want.

It works but it's just annoying that GC3Pie claims that all jobs fail. What I don't understand is why it then submits new jobs. I would expect that if it see that jobs fail, it should halt (as the new jobs depend on the former).

[2017-04-28 15:47] #1013 closed

[2017-04-29 08:35] boegel commented on #1013
@ahmedsajid No longer relevant to you? Can you clarify?

[2017-04-29 14:14] ahmedsajid commented on #1013
@boegel no longer using easybuild.
Completely forgot what this was about.

[2017-05-02 11:19] boegel commented on #2059
Checking of exit code on module commands in implemented in #2200

[2017-05-02 11:20] boegel commented on #991
#2194 is merged so support for specifying `buildopts` and other easyconfig parameters will be included in the upcoming EasyBuild v3.2.0

[2017-05-02 11:20] #991 closed

[2017-05-02 11:20] boegel commented on #420
Support for configuring EasyBuild with `--allow-use-as-root-and-accept-consequences` will be included in the upcoming EasyBuild v3.2.0 via #2123, so closing this.

[2017-05-02 11:20] #420 closed

[2017-05-02 11:22] boegel commented on #2154
@opoplawski Any updates on this?

[2017-05-02 11:26] boegel commented on #2196
@andreas-h The requirement of specifying both `files` and `dirs` is intentional, to keep things consistent.

You're right that the error should be raised earlier, we already have an open issue for that, cfr. #703.

Are you up for taking a look into fixing this?

[2017-05-02 11:28] boegel commented on #2119
Good point, thanks for raising this @koallen!

Fixed in #2201

[2017-05-02 11:28] #2119 closed

[2017-05-04 09:05] boegel commented on #502
fixed in #2203

[2017-05-04 09:05] #502 closed

[2017-05-04 13:30] nortex opened #2204 "Crashes while using --job (GC3Pie/2.4.2 + Slurm)"
Hi all,

Everytime i try to install software with the --job option i get this message after few minutes:

`== temporary log file in case of crash /tmp/eb-DqqWHV/easybuild-uUo01C.log
== resolving dependencies ...
== GC3Pie job overview: 3 submitted (total: 7)
Traceback (most recent call last):
  File "/usr/lib64/python2.6/runpy.py", line 122, in _run_module_as_main
    "__main__", fname, loader, pk

[2017-05-04 15:08] andreas-h commented on #2196
Yes, can do that.  It'll be some time before I can do so, though.

[2017-05-04 17:39] boegel commented on #2204
We'll need some more details I guess...

Which version of GC3Pie are you using, and which configuration?

cc @riccardomurri

[2017-05-07 04:42] nortex commented on #2204
Hi, i am using GC3Pie v.2.4.2 with default configuration:

`[resource/slurm]
enabled = yes
type = slurm

# use settings below when running GC3Pie on the cluster front-end node
frontend = localhost
transport = local
auth = none

max_walltime = 2 days
# max # jobs ~= max_cores / max_cores_per_job
max_cores_per_job = 16
max_cores = 1024
max_memory_per_core = 2 GiB
architecture = x86_64

# to add non-

[2017-05-08 10:22] jhein32 opened #2210 "EB 3.2, issues with bzip2 for GCCcore 6.3 - fine in EB 3.1.2"
Hi,

First a big thanks to everyone who contributed to EB 3.2.  I have just upgraded and am trying to install some of the new packages.  On our installation a simple build of bzip2 for GCCcore 6.3 fails quite late.  I get

[code]

Downgrading to EB 3.1.2 I can build a bzip2 in GCCcore 6.3.0.  A diff shows no difference for the .eb files in EB 3.1.2 and 3.2.0

A diff shows the module_generator.py h

[2017-05-08 10:44] JensTimmerman commented on #2210
This is a bug indeed, the '%' signs in the bzip2 description are not escaped before the description string is formatted.

[code]

[2017-05-08 11:20] boegel commented on #2210
I noticed this issue over the weekend, fixed in #2209.

I'll issue a version 3.2.1 release later this week, just taking the opportunity to include some other things as well.

[2017-05-08 11:20] #2210 closed

[2017-05-08 12:42] riccardomurri commented on #2012
@wpoely86 I've had a look at the current EB/GC3Pie code (in "develop" but it has not changed since some time) and it looks to me that the GC3Pie logger will just inherit the logging level setting from EB.

Are you able to reproduce the issue while running at DEBUG level?

[2017-05-08 12:43] riccardomurri commented on #2204
@nortex Are you able to reproduce the issue while running at DEBUG log level and post the log? (here or on a paste bin)

[2017-05-08 13:09] wpoely86 commented on #2012
Here you go, a full debug log:
[EB-GC3Pie-debugdump.txt](https://github.com/hpcugent/easybuild-framework/files/983544/EB-GC3Pie-debugdump.txt)

[2017-05-08 14:25] riccardomurri commented on #2012
@wpoely86 Can you please patch a copy of EB with the patch in PR #2211 and then
run it again at DEBUG log level?

**Note:** the attached patch requires the "master" branch version of GC3Pie
(i.e., 2.5.0.dev) -- will not work with the 2.4.2 code that's on PyPI. You
should be able to update it by just doing a `git clone` followed by `pip install
-e .` in the checkout directory.

[2017-05-08 14:36] riccardomurri commented on #2012
Longer story: Unfortunately, I cannot find any clear reason of the failure reason in the DEBUG-level log:

* this is GC3Pie monitoring the state of the (unique) job submitted:

        == GC3Pie job overview: 1 running (total: 1)
        == 2017-05-08 15:04:22,332 workflow.py:422 DEBUG Task #0 in state RUNNING
        == 2017-05-08 15:04:22,332 core.py:435 DEBUG About to update state of applicatio

[2017-05-09 05:13] nortex commented on #2204
Hi,

Logically i found what causing that error, this is happen always when some application didn't install successfully(because of lack of some OS dependency or broken source link for example). The question is whether the error is what i should get? or should i get a normal log and message that some software was not installed successfully with the name and reason so i would not have to manually en

[2017-05-09 07:24] riccardomurri commented on #2204
Thanks for posting the log, it is very useful!

Can you please run the following command and post its output?

    env SLURM_TIME_FORMAT=standard sacct --parsable --format jobid,exitcode,state,ncpus,elapsed,totalcpu,submit,start,end,maxrss,maxvmsize -j 1455631

[2017-05-09 07:37] nortex commented on #2204
Output:

`JobID|ExitCode|State|NCPUS|Elapsed|TotalCPU|Submit|Start|End|MaxRSS|MaxVMSize|
1455631|1:0|FAILED|1|00:01:06|00:00:00|2017-05-09T07:54:25|2017-05-09T07:54:25|2017-05-09T07:55:31|||
1455631.batch|1:0|FAILED||00:01:06|00:00:00|2017-05-09T07:54:25|2017-05-09T07:54:25|2017-05-09T07:55:31|||`

[2017-05-09 08:00] riccardomurri commented on #2204
I think this has already been fixed in the "master" branch of GC3Pie (to be released as 2.5.0 some day).
Would you be able to test it?

Unfortunately, it requires some little changes to EB code, namely merging (at least) the first hunk of the patch at #2211

Updating GC3Pie code should be more mechanical: just `git clone` the masterbranch and then `pip install -e .` into the virtualenv you use for

[2017-05-09 17:26] vanzod commented on #153
I also hit the same problem when trying to build `Python` with `foss` toolchain when the `ncurses` library built with the `dummy` toolchain has been built with separate terminfo symbols (see PR #3545) as described in #4049.

I would personally prefer to have EB purge the environment if modules are loaded (with the exception of the EB module) and then restore them after the installation is complete

[2017-05-09 17:37] boegel commented on #153
I guess different sites/people would have differences preferences here...

We could implement a detection mechanism for this (that ignores a loaded EasyBuild module), with a couple of different options as to how EasyBuild should respond:

* `--detect-loaded-modules=warn`: print a big fat warning if any (EasyBuild-generated) modules are loaded, mentioning that this may affect the installations done

[2017-05-09 18:15] pneerincx commented on #455
Just ran into this issue today with Picard. Older versions had a version number in the downloaded file, but it's distributed as of version 2.5.0 without version number :(. Combined with a lack of a checksum for the sources (checksums are optional :o) this resulted in an easyconfig for version 2.9.x that happily found a previously downloaded version 2.7.x and installed that as 2.9.x: oops. Robust h

[2017-05-10 06:16] boegel commented on #455
@pneerincx Making checksums mandatory is something we're considering, but it'll be quite an effort.

Also, even though it would have helped to avoid this problem occurring silently, it's still a good idea to rename sources that are not versioned. This is something we should also support in EasyBuild, maybe with a syntax like:

[code]

EasyBuild would then first go looking for `picard-%(version)s.z

[2017-05-10 16:00] fgeorgatos opened #2212 "In filetools.py, max_fail_ratio=0.5 should be a tunable?"
ref. https://github.com/hpcugent/easybuild-framework/search?utf8=%E2%9C%93&q=max_fail_ratio&type=

In `filetools.py`, `max_fail_ratio` should be a tunable?
N.B. we've got a filesystem export which gives complaints (only that export), however I believe that as a performance tradeoff since I otherwise do not detect any side-effect. So, could this be ignored, at will?!

[code]

[2017-05-10 18:33] boegel commented on #2212
This should indeed be configurable, hardcoded values are invented by the devil himself.

Fixed in #2213

[2017-05-10 18:33] #2212 closed

[2017-05-12 02:56] fgeorgatos opened #2216 "bug: eb/3.2.0 does not tolerate % character in description and the build crashes, fi. bzip2"
there were recent changes in the framework around generalization of handling the `description`,
so they are possibly related (look carefully the stacktrace below). I switched `%` to `p.c.` as quick remedy.

fi. bzip2 build collapses as follows - across multiple toolchains:

[code]

[2017-05-12 06:45] boegel commented on #2216
already fixed in `develop` via #2209, fix will be included in the upcoming EasyBuild v3.2.1 release

[2017-05-12 06:45] #2216 closed

[2017-05-14 15:01] fgeorgatos opened #2222 "*amend* parameters ignored? just wondering if there is something else to it"
(I know, this is a hopeless way to overcome the checksum control which HAS to be done manually,
but the failure mode is interesting in its own right, because it bails out in a totally unexpected manner,
without actually amending anything in the original file?!)

[code]

[2017-05-14 15:43] boegel commented on #2222
@fgeorgatos Can you clarify, what are you expecting to happen here exactly using `--amend=checksums=...` (rather than `--try-amend`)?

I'm not sure that values passed to `--amend` are used at all when you're also specifying an easyconfig file to use, so we should probably make that clear via an error or warning...

[2017-05-16 19:53] pescobar opened #2226 "long MODULEPATH drastically reduces performance"
I did this test with latest EasyBuld 3.2.1 and Lmod-7.4.5 in a Centos7.3 machine:

With a long `$MODULEPATH` the execution time is quite long:

[code]

If I just reduce the `$MODULEPATH` length the execution time is much better:

[code]

I don't know if this is the root cause but It seem that when `MODULEPATH` is so long EasyBuild is executing Lmod many more times:

[code]

[code]

[2017-05-16 20:07] pescobar commented on #2226
To make this issue more weird, if I try the same using EB-3.2.1 in Centos6 machine with Lmod-6.0.9 the long `$MODULEPATH` doesn't seem to be a problem:

[code]

[2017-05-16 20:13] boegel commented on #2226
@pescobar That could be because of internal changes to Lmod...

A long `$MODULEPATH` is currently going to make EB run a lot of `module use` commands, which may be handled very differently by Lmod 6 & Lmod 7. Thoughts @rtmclay?

[2017-05-16 20:41] rtmclay commented on #2226
I have a few ideas but I can't really say without more data.  Try timing a module avail and a module load (without the spider cache) for both a long MODULEPATH and a short one.  For the test to be fair, it would be nice if the total number of modules was the same.

Also please do the same thing for Lmod 6.

[2017-05-16 21:03] pescobar commented on #2226
I think I located the issue. I did this other test in the Centos6-Lmod6.9 environment and I got totally puzzled because I was getting the same bad runtime and the difference in `$MODULEPATH` was 17 folders vs 21 folders:

[code]

Then I realized that my `$MODULEPATH` in Centos7 contains non existing folders like `/scicore/soft/modules/cae` .When I configured Lmod in centos7 I added all the EasyBui

[2017-05-18 15:35] bryank-cs commented on #2050
You can download a tar from gitlab with something like:
version = '1.2.0'
source_urls=[('https://gitlab.com/gpaw/gpaw/repository/', '?rev=%(version)s')]
sources=['archive.tar.bz2']

Unfortunately the file will always be called archive.tar.bz2.  Issue  #455 is supposed to address this. It has a recent pull request, as well.

[2017-05-18 15:47] boegel commented on #2050
@bryank-cs Once we have #2223 merged in, we don't care much what the name of the downloaded file is anymore, as we can rename it on the fly.

[2017-05-19 15:55] boegel commented on #153
fixed in #2228, let's follow up there in context of the proposed enhancements...

[2017-05-19 15:55] #153 closed

[2017-05-22 13:17] wpoely86 commented on #2226
I'm have 10 directories in `$MODULEPATH` and I count 154 calls to `ml use`. This makes it all very slow.

[2017-05-24 07:41] wpoely86 commented on #1219
The `:=` assignment expanded immediately so when you do something like:
[code]
where `A` gets filled in later in a makefile, you cannot switch to `:=`. To avoid recursive issues, you need a `EBVAR` variable.

[2017-05-24 09:59] boegel commented on #1219
@wpoely86 Do you mind issuing a PR to clarify the comment why `$EBVAR` variables are also being defined, and to add a test to check whether they're being set (so we don't break this accidentally)?

Worth mentioning: `$EBVARCFLAGS` & co are required for the patch for FSL added in https://github.com/hpcugent/easybuild-easyconfigs/pull/4614

[2017-05-29 09:51] hajgato opened #2231 "Some tarball contents have no write permissions, so patching does not work"
We should add write permission (at least for the user) for the whole untrarred directory path  before patching.

[2017-05-30 06:44] hajgato commented on #2231
I have overlooked the problem, it seems to work patching by default.

[2017-05-30 06:44] #2231 closed

[2017-05-31 12:54] rcespa opened #2233 "GNU_SOURCE constant points to wrong URL"
Good day to everyone.
First of all let me say that I am a complete noob to easybuild but I really want to say a big thank you to everyone involved in its development.

I was trying to install some modules but I often hit the wall of "_Couldn't find file XXXXX anywhere and downloading id didn't work either_" error message; taking a look at the logs I noticed that the URL used to download packages f

[2017-05-31 15:26] boegel commented on #2233
@rcespa Thank you very much for the bug report!

It seems like you're hitting the nail on the head, and I guess this explains why we've been seeing problematic downloads for GNU software, but only occasionally (something it seems to work without the `/gnu`, depending on which mirror is being used)...

Fixed in https://github.com/hpcugent/easybuild-framework/pull/2235 & https://github.com/hpcugent/

[2017-05-31 15:26] #2233 closed

[2017-05-31 15:40] rcespa commented on #2233
Sometimes I have problems with ftp.gnu.org and github, too.
It looks like a timeout problem because I'm able to download the problematic tar.gz files manually via wget; when I do this, I can see the transfer speed dropping at the end and stalling for some seconds.

[2017-05-31 15:51] boegel commented on #2233
@rcespa You can use the `--download-timeout` option available in `eb` to specify a larger timeout threshold (default is 10 seconds)

[2017-05-31 16:10] rcespa commented on #2233
I'll give it a try! Thanks

[2017-06-01 17:51] akesandgren opened #2236 "dep-graph doesn't take filter-deps into consideration"
Example:
easyconfig.cfg contains:
filter-deps=pkg-config

eb X11-20170314-GCCcore-5.4.0.eb --dep-graph=X11-grap.dot -r
== temporary log file in case of crash /scratch/eb-x8T3rb/easybuild-vSJe4C.log
== resolving dependencies ...
ERROR: Failed to find easyconfig file 'pkg-config-0.29.1-GCCcore-5.4.0.eb' when determining module name for: {'external_module_metadata': {}, 'full_mod_name': None, 'toolch

[2017-06-01 20:23] vanzod opened #2237 "Copy patch file fails if easyconfig archive path is in robot path and file already archived"
After #2202 got merged, if the easyconfig files archive path is present in the robot path and the patch file has already been archived during a previous build, EB fails to copy the file because source and destination are the same.

Here is the traceback:
[code]

[2017-06-03 09:03] boegel commented on #2237
fixed in #2241

[2017-06-03 09:03] #2237 closed

[2017-06-07 14:23] serverhorror commented on #1597
Could it be that this is the culprit:

* https://github.com/hpcugent/easybuild-framework/blob/027438dffb67121e9feb2a4764a72ccaa338f1c7/easybuild/framework/easyconfig/templates.py#L102-L105

Current:

[code]
Should be:
[code]

I gave it a quick try but it seems that `nameletter*` is never actually resolved and I couldn't find why this would be happening as it will be populated for the actual easyco

[2017-06-08 06:45] boegel commented on #1597
@serverhorror The actual URLs are not the problem. For PyPI specifically, we translate the URLs obtained through `PYPI_SOURCE` via `derive_alt_pypi_url` to an actual download URL (see https://bitbucket.org/pypa/pypi/issues/438 why).

The problem is indeed that templates like `%(name)s` are not being resolved correctly for extensions, since `name` is still the name of the 'parent' software. I'm not

[2017-06-08 09:56] serverhorror commented on #1597
If that is any help:

I'd expect the templates to refer to the extension not the parent. It just feels natural to me. Otherwise things like `%(nameletter)s` don't make any sense. Think about `Python` with `SQLAlchmey`in `exts_lists`. Now when `nameletter` is `P` how is that related to `SQLAlchemy`, or any other current extension for that matter?

Another reason why I would think the inner scope sh

[2017-06-09 15:41] boegel commented on #2226
`module use` supports multiple arguments, that would be an easy way to fix this...

[2017-06-12 15:38] jdonners commented on #1992
Are there more details about the remark 'some easyblocks need to specialise the locations for the RPATH sanity check (e.g. OpenFOAM)'? I have been able to install OpenFOAM 2.3.1 using the --rpath support without any tweaks. I could install OpenFOAM-4.0 using the --rpath support with an additional line to the easyconfig for the ParaView installation.

[2017-06-12 20:47] jdonners commented on #2055
I didn't check the exact version that @pescobar used, but I could build Python-2.7.12-intel-2016b.eb including mpi4py using --rpath

[2017-06-13 07:46] boegel commented on #2055
OK, I'll close this as fixed, thanks for the fix & feedback @jdonners!

[2017-06-13 07:46] #2055 closed

[2017-06-16 09:18] boegel commented on #1992
@jdonners I created a new issue for the OpenFOAM issues at https://github.com/hpcugent/easybuild-easyblocks/issues/1193

[2017-06-20 21:59] fgeorgatos commented on #2222
@boegel : correct, either fail or warn, would be great.

[2017-06-20 22:07] fgeorgatos opened #2242 "Automatically colorise GPU modules..."
...or, anything of the sort, for that matter.

Lmod supports color output, but the .lua modulefiles need the property in them.

A way to handle it perhaps, is to define that anything that is based on CUDA (or some other regex) should get a particular property added automagically. Dunno how somebody would go about implementing it, but I'd propose to consider hooks which are generic for several futu

[2017-06-21 06:31] boegel commented on #2242
@fgeorgatos We still don't support injecting properties (other than using `modluafooter` & co), because it's not a trivial thing to set up.

First of all, you need to make very sure that EasyBuild only injects properties that are known to Lmod, so you need to be able to query Lmod which properties it knows about (in a machine-readable way).

You can then support both static properties, i.e. lettin

[2017-06-21 06:32] boegel commented on #2222
@fgeorgatos Can you check using `--try-amend` rather than `--amend`?

I think `--amend` is only used to filter candidate easyconfigs (which is not done here because you're specifying one).

[2017-06-22 07:08] boegel commented on #2133
@migueldiascosta The filename check is already done in the easyconfigs test suite, see https://github.com/hpcugent/easybuild-easyconfigs/blob/master/test/easyconfigs/easyconfigs.py#L207

For the order/grouping of parameters, there's a WIP PR: #2165

So, maybe this issue can be closed, to avoid having duplicates around?

[2017-06-22 07:10] boegel commented on #2059
Closing this since #2200 is merged.

[2017-06-22 07:10] #2059 closed

[2017-06-22 07:11] boegel commented on #2116
@koallen Any updates on this?

[2017-06-22 07:16] boegel commented on #455
follow up in #2223 which adds support for renaming sources on download

[2017-06-22 07:16] #455 closed

[2017-06-22 07:17] boegel commented on #198
fixed in #2202

[2017-06-22 07:17] #198 closed

[2017-06-22 07:18] koallen commented on #2116
Hi, I'm still not sure what the problem is. I've had no problem when I tried to reproduce the error or installing Bootstrap on another machine running freshly installed CentOS 7.3.

[2017-06-22 07:56] boegel commented on #2116
OK, thank you for the feedback @koallen. I'll close this issue since it can't be reproduced, but for future reference, I think it's quite likely this way due to an outdated `setuptools` installation (or a buggy one).

[2017-06-22 07:56] #2116 closed

[2017-06-27 12:10] damianam commented on #2000
It has always worked with earlier versions, or we would have noticed this.

@boegel I agree. But have somebody already done it? If not, we'll do it this week.

[2017-06-27 12:17] boegel commented on #2000
@damianam I didn't report it, I don't know of someone else doing it.

[2017-06-27 12:21] ocaisa commented on #2000
@damianam Looking back over the thread I don't think anyone actually reported it

[2017-06-27 12:26] damianam commented on #2000
Ok, we'll get to it then.

[2017-06-27 18:10] pescobar opened #2247 "Script 'rpath_args.py' not found"
After installing easybuild 3.3.0 inside a docker container using `pip install EasyBuild` I get this error when testing the --rpath support

```Script 'rpath_args.py' not found at expected location: /usr/lib/python2.7/site-packages/easybuild/scripts/rpath_args.py```

I have seen that pip installs this script in `/usr/easybuild/scripts/rpath_args.py`

[2017-06-28 07:49] boegel commented on #2247
@pescobar please check whether the changes to `find_eb_script` in #2249 fix this problem

[2017-06-29 03:25] JackPerdue opened #2251 "bug: --dump-env-script fails with OpenFOAM-4.0-intel-2016b.eb with: ""
Related to #2111 (the buildenv module is new/neat and is a definite help but I'd still like the whole env, including dependencies for users who want to rebuild on their own)

[code]

I've tried commenting out all dependencies in the easyconfig and commenting out the patch_step in the openfoam.py easyblock...  neither helped

[code]
Any ideas?

[2017-06-29 04:35] JackPerdue commented on #2251
also tried unsetting EASYBUILD_MINIMAL_TOOLCHAINS  and setting EASYBUILD_ROBOT to '' (blank/nothing)... neither helped

[2017-06-29 06:45] boegel commented on #2251
@JackPerdue This is a problem in the OpenFOAM easyblock, I'll look into a fix.

[2017-06-29 08:01] boegel commented on #2251
Fixed in https://github.com/hpcugent/easybuild-easyblocks/pull/1202, let's follow up there

Thanks for reporting this @JackPerdue!
To fix the problem for OpenFOAM, see the (trivial) changes to the OpenFOAM easyblock here: https://github.com/hpcugent/easybuild-easyblocks/pull/1202/files#diff-0edc74d66adc49c07871a687be0ef167

[2017-06-29 08:01] #2251 closed

[2017-06-29 10:17] ocaisa opened #2252 "Keeping an open search but restricting the robot"
To my understanding it's not possible to have an open search but restrict the robot. At the moment you can restrict the robot through `EASYBUILD_ROBOT` and `EASYBUILD_ROBOT_PATHS`, but once you set `EASYBUILD_ROBOT_PATHS` your search space is also restricted. It would be nice if these could be tweaked independently (say with a new setting `EASYBUILD_SEARCH_PATHS`).
This makes sense when you start

[2017-06-29 10:29] mmterpstra commented on #1962
# plz recheck this issue!

I have problems installing/upgrading easybuild with `bootstrap.py` because of the git dependency and the fact of not being root on the system.
maybe omit using distribute and using `setuptools >=0.27` then this should not need git?

[2017-06-29 10:29] boegel commented on #2252
@ocaisa Makes sense to me, and it should be fairly easy to do.

The `search_easyconfigs` function in `easybuild.tools.robot` now only considers `robot_path` (which is a combination of the paths specified in `--robot` and `--robot-paths`, according to the rules outlines at http://easybuild.readthedocs.io/en/latest/Using_the_EasyBuild_command_line.html#robot-search-path), but it can be easily extend

[2017-06-29 10:34] boegel commented on #1962
@mmterpstra Which version of `setuptools` do you have installed?

Providing `git` somehow should work, why do you think you need to run `module purge` between the bootstrap steps?

Another option is to perform an 'offline' bootstrap, see easybuild.readthedocs.io/en/latest/Installation.html#offline-bootstrapping-using-supplied-source-tarballs .

[2017-06-29 12:50] mmterpstra commented on #1962
The offline method works better, but not completely... also see the logs. Got any ideas? Maybe broken install/env...

Python 2.6 with setuptools0.6 as installed by easybuild.

Because of the warning probably. Also it tends to miss /usr/lib64/python2.6/ when complaining about libs...

#### The log as install without git
[code]

#### Log of install with git module

[code]

#### Log of offline instal

[2017-07-01 09:28] boegel commented on #2247
fixed in #2249

[2017-07-01 09:28] #2247 closed

[2017-07-04 11:30] mmterpstra commented on #1962
Works with incremental install from old to new EB2.8 > EB 2.9 > 3.21 after copying the sources from other cluster.

[2017-07-05 07:54] zao opened #2257 "--new-pr bails out on github 307 redirect"
After the move of upstream repositories to the "easybuilders" account, --new-pr bails out after pushing the branch to the fork, assumedly when it's going to make the PR.

[code]

[2017-07-05 07:57] zao commented on #2257
The upstream account can be altered with `--pr-target-account=easybuilders` as a workaround.

[2017-07-05 14:45] boegel commented on #2257
Should be fixed by #2258, let's follow up there

Thanks for reporting this @zao!

[2017-07-05 14:45] #2257 closed

[2017-07-06 15:44] shahzebsiddiqui opened #2260 "--new-pr issue, need to ignore os dependencies"
[siddis14@amrndhl1315 Perl]$ eb --new-pr Perl-5.22.1-foss-2016b.eb
== temporary log file in case of crash /dev/shm/tmp/eb-C65okM/easybuild-WaHBf3.log
ERROR: Failed to process easyconfig /home/siddis14/easybuild-easyconfigs/easybuild/easyconfigs/p/Perl/Perl-5.22.1-foss-2016b.eb: Failed to process easyconfig /home/siddis14/easybuild-easyconfigs/easybuild/easyconfigs/f/foss/foss-2016b.eb: Failed to p

[2017-07-06 20:47] boegel commented on #2260
@shahzebsiddiqui Please check whether the change in https://github.com/easybuilders/easybuild-framework/pull/2262/files fixes this for you?

[2017-07-07 14:27] vanzod opened #2264 "--check-style fails with pep8 v1.5.7"
With `pep8` v1.5.7 the style check fails since `checker_state` (see #2160) is missing.

It may be worth considering adding a `pep8` version check.

[code]

[2017-07-07 20:40] vanzod opened #2265 "Robot picks same dependency from different builds"
When minimal toolchains are not enforced, it is possible that robot picks two different builds of the same dependency from two different toolchain levels and Lmod complains as in [1].

In this specific case, the `ncurses/6.0` easyconfigs are available at both `GCC` and `GCCcore` toolchains. When building `LLVM-3.9.0-GCC-5.4.0-2.26.eb` [2], the `GCCcore` version is initially loaded as dependency fo

[2017-07-19 14:54] damianam commented on #2093
See https://github.com/easybuilders/easybuild-framework/pull/2134

[2017-07-19 15:39] #2133 closed

[2017-07-20 09:03] damianam opened #2277 "Desirable side effects of --read-only-installdir or --group-writable-installdir"
These two options remove write permissions. If none of them is used, then easybuild gives read permissions to everyone (respecting umask and groups). The code is here:

https://github.com/easybuilders/easybuild-framework/blob/master/easybuild/framework/easyblock.py#L2260

Now, under certain circumstances, one might want to keep the permissions as they are. For instance, packed binaries, where the

[2017-07-22 12:42] JackPerdue commented on #2264
FWIW... I had no luck finding a solution for RHEL6.  On RHEL7 I got it working with python2-pycodestyle-2.0.0-5.el7.noarch from Fedora's EPEL.

[2017-07-22 12:48] JackPerdue opened #2278 "Update --check-style to match Travis and require on --new-pr/--update-pr (also checksums)"
Could the (local) command line --check-style option include all the checks that Travis does (e.g. "Old URL")?

Also, could it be automatically run when issuing --new-pr/--update-pr?

Also, could it include a check for checksums if there are sources since that seems to be a new requirement for EasyConfig PRs anyway?

That would be cool.  It would save me from having to fix PRs later.

Thanks.

[2017-08-01 14:01] steevmi1 opened #2279 "bootstrap install error for RHEL6"
I'm trying to install using the bootstrap method on a RHEL6 system with the stock python (2.6.6), and get the following error:
[code]

[2017-08-06 12:47] boegel commented on #2278
@JackPerdue Thanks for the suggestions.

We already had plans to include checking style (as implemented by `--check-style`) in `--new-pr`, but it hasn't been implemented yet.

You're right that we also should include the other style-related checks in `--check-style`.

We are not strictly enforcing checksums yet (Travis doesn't highlight missing checksums yet), but we do plan on doing that in the n

[2017-08-06 12:50] boegel commented on #2279
@steevmi1 Hmm, this is a curious error, I suspect it is something in your environment that is making the bootstrap procedure fail.

Do you have any `$EASYBUILD_*` environment variables defined (check with `env | grep ^EASYBUILD`)?

Can you check whether you get some more information by defining `$EASYBUILD_BOOTSTRAP_DEBUG` (just run `export EASYBUILD_BOOTSTRAP_DEBUG=1` before bootstrapping EasyBui

[2017-08-07 16:05] boegel opened #2280 "add support for using Lmod's `depends_on` in generated modules"
supported since Lmod 7.6, see http://lmod.readthedocs.io/en/latest/098_dependent_modules.html

[2017-08-07 16:40] boegel commented on #2184
@shahzebsiddiqui Can you upload the easyconfig files you are using for `intelcuda-2017.01.eb` somewhere?

Are you also hitting this problem when using the `intelcuda-2016.10.eb` we have included currently in EasyBuild?

[2017-08-07 17:54] shahzebsiddiqui commented on #2184
It looks like the issue doesn't happen with intelcuda-2016.10.eb I will try to test intelcuda-2017.01.eb again.

[2017-08-07 20:50] shahzebsiddiqui commented on #2184
I am still getting the issue with intelcuda-2017.01.eb

This is just a snippet of the error
[code]

Here is the end of the error
[code]

My eb configuration is the following

[code]

I think you can reproduce the same error if you clone https://github.com/shahzebsiddiqui/easybuild-easyconfigs and try building intelcuda. I am not sure if it has to do with the dependency section. Robot doesn't seem

[2017-08-07 20:56] shahzebsiddiqui commented on #2184
Not sure if there is something wrong with my easyconfigs.
[code]

[2017-08-07 22:47] shahzebsiddiqui commented on #2184
@boegel I got intelcuda to work, there was quite a few errors in my easyconfig files that caused the issue. I had named my files incorrectly see https://github.com/shahzebsiddiqui/easybuild-easyconfigs/commit/12613c598584cef0a7b535f89affa57d74f15848 for more details.

I will try to create a PR for this.  There will be a slight change in all the eb files since I use binutils 2.27 with GCC-5.4.0.
[c

[2017-08-08 07:29] boegel commented on #2184
@shahzebsiddiqui Great, thanks for clearing this up.

You basically introduced a cyclic dependency by using the `iccifortcuda` toolchain when installing `CUDA`.

EasyBuild should be handling this more gracefully though...

[2017-08-08 13:20] OndrejMarsalek commented on #2279
I have the same problem on Fedora 20. Here is the debug output and my environment:

https://gist.github.com/OndrejMarsalek/454e4866bf187f90b6400e4dc3d30cb0

[2017-08-08 13:30] OndrejMarsalek commented on #2279
When I run with `DEBUG_EASYBUILD_OPTIONS` and interactively (but with redirection to a file), I get additional output, which seems to be key:

[code]

[2017-08-08 13:52] shahzebsiddiqui commented on #2184
I am glad this is resolved, at some point I will upload the intelcuda 2017.01 easyconfig files. I got everything installed, but I have to make a few modification. Do you want the files to be intelcuda-2017b.eb

[2017-08-08 17:00] boegel commented on #2279
As mentioned by @zao on Slack: is `/tmp` mounted `noexec`?

Can you try using a different location for temporary files? You can control that via `$EASYBUILD_TMPDIR`.

[2017-08-08 18:20] arnold-jr commented on #2279
Hi,

I'm having the same issue and did some debugging.

In function, `easybuild/tools/filetools.py(177)resolve_path():

[code]

`path` is `None`, so the resulting error is

[code]

`path` is being assigned the result of the call to
`easybuild/tools/filetools.py(286)which()`:

[code]

 that occurs in
`easybuild/framework/easyconfig/tools.py(254)get_paths_for()`:
[code]

I'm unclear as to why the pa

[2017-08-08 18:26] boegel commented on #2279
@arnold-jr Great job debugging!

EasyBuild itself uses the location of where `eb` is available to figure out where the easyconfig files included in it are located.

It's clearly not doing a great job in properly reporting a situation in which `eb` is not available, so that should be improved.

Question is *why* is `eb` not available through `$PATH`, i.e. why is `which` returning `None`...

Do you

[2017-08-08 19:06] arnold-jr commented on #2279
@boegel Thanks!

Here's the warning:
[code]

`eb` is present in `/tmp/tmphKX4Mh/eb_stage1/bin` but this is not in `$PATH`.

[2017-08-08 19:11] boegel commented on #2279
@arnold-jr OK, thanks!

With some help from @vanzod, I've traced the problem down to the location of the `eb` installed during stage 1 of the bootstrap procedure not being added to `$PATH`.

This is a hard requirement now since the change in #2248, which was included in v3.3.1 but not in v3.3.0. When no `eb` is available in `$PATH`, `which` returns `None`, and `resolve_path` doesn't deal well with

[2017-08-08 20:18] boegel commented on #2279
Thanks for the detailed debugging information @arnold-jr, and for helping with figuring this out @vanzod.

Bootstrapping EasyBuild v3.3.1 is broken in the current context:

* there is no `eb` command available through `$PATH` already (the actual location doesn't matter)
* the setuptools version available on the system is considered to be too old (`< 0.6c11`), and hence stage 0 of the bootstrap pro

[2017-08-08 20:18] #2279 closed

[2017-08-08 23:13] arnold-jr commented on #2279
@boegel and @vanzod Thanks for all your help!

[2017-08-09 07:41] boegel commented on #2184
follow-up in https://github.com/easybuilders/easybuild-easyconfigs/pull/4993

[2017-08-09 07:41] #2184 closed

[2017-08-09 17:56] JackPerdue opened #2284 "--dump-env-script and --force require a rebuild for no reason"
Say I just built a package:

$ ls -al /sw/eb/mods/all/libxml2/2.9.4-GCCcore-6.4.0-Python-2.7.13-bare-debug.lua
-rw-rw-r-- 1 j-perdue staff 1504 Aug  9 12:48 /sw/eb/mods/all/libxml2/2.9.4-GCCcore-6.4.0-Python-2.7.13-bare-debug.lua

When I try to then dump the environment I get:

$ eb --dump-env-script libxml2-2.9.4-GCCcore-6.4.0-Python-2.7.13-bare-debug.eb
== temporary log file in case of crash /tm

[2017-08-09 18:00] JackPerdue commented on #2284
Related to PR #2111

[2017-08-10 15:24] boegel commented on #2093
let's follow-up on this in #2134

[2017-08-10 15:24] #2093 closed

[2017-08-11 02:15] robqiao commented on #2233
Same issue here, seems --download-timeout=30 some times fix the timeout, hard code the URL seems working most of times for me.

[2017-08-11 07:36] boegel commented on #2233
@robqiao Can you clarify what you mean with "hard code the URL"?

[2017-08-11 14:47] boegel commented on #2277
Since the use case is specific to certain software packages, this should be an easyconfig parameter rather than a configure option?

So, something like this?

[code]

[2017-08-11 14:50] damianam commented on #2277
Sounds reasonable.

[2017-08-12 02:13] robqiao commented on #2233
@boegel rather than use <code>GNU_SOURCE</code> system variable, use the URL directly, something like this <code>source_urls = ['ftp://ftp.gnutls.org/%(account)s/%(name)s/v%(version_major_minor)s']</code> works fine even time I had this issue.

[2017-08-12 07:50] boegel commented on #2233
@robqiao The `GNU_SOURCE` template was broken for a while, was fixed recently (in EasyBuild v3.3.0), see https://github.com/easybuilders/easybuild-framework/pull/2235, maybe that explains it?

[2017-08-16 15:45] fgeorgatos opened #2287 "Possibly add a hook/check for externally provided checksums, on the fly"
this came up during discussion of `--inject-checksum` feature and the idea is to cross-check with the repo of reference for validity (fi. a test build should not become green before local easyconfigs and repo align);

here's an example JSON format for the case of artifactory, but the concept should be generic:
https://www.jfrog.com/confluence/display/RTF/Artifactory+REST+API#ArtifactoryRESTAPI-Fil

[2017-08-17 09:31] arif-ali commented on #1962
I still have this issue when doing a local install in centos 6. The same process does work with centos 7/ubuntu16.04. Below is my script to try and do a local install. I am trying to install EasyBuild 3.3.1 in CentOS 6, and I am having the problem as decribed as @mmterpstra, as shown below

[code]

Script below

[code]

[2017-08-18 07:00] boegel commented on #2127
@mboisson I never answered your last question...

Your alternative approach could be documented in a section that covers both `group` easyconfig parameter, which is yet to be written...

[2017-08-23 04:22] kometchtech opened #2288 "skip sanity check"
Hi, developer

When trying to build GCCcore-4.9.3 in the following environment, it seems necessary to check the library related to libsanitizer in the sanity check step, but in case of aarch64 environment libsanitizer support becomes no , The library is not generated.

`checking for libsanitizer support... no`

**gcc.py**
[code]
It seems that #1626  has been argued in the past, but do you make a b

[2017-08-23 12:06] boegel commented on #2288
@kometchtech There is no easy way to skip the sanity check entirely right now. We're a bit reluctant to allow this, because the sanity check is there for good reason, it protects you from ending up with a partial installation.

Long-term, we should indeed update the GCC easyblock (`gcc.py`) to not check for `libsanitizer` on AARCH64 (@geimer: why didn't you run into this?).

As a temporary workaro

[2017-08-23 12:13] kometchtech commented on #2288
@boegel

Thank you for your polite answer.
For the sanity_check_paths parameter, I thought that it would be added to existing ones. In fact it is overwritten.
As you say, it is a confirmation that the file is installed correctly, so it is a bad way to handle comments that I did.
I will try it tomorrow.

Best regards.

[2017-08-23 14:38] geimer commented on #2288
@boegel: I haven't built anything older than GCC 6 on my AARCH64 box (IMHO building ancient compilers is a waste of time and energy), which does provide the sanitizer libraries.  So maybe we need a platform-specific version check in the EasyBlock?

[2017-08-25 00:11] shawarden opened #2289 "EasyBuild install > TypeError: __init__() takes exactly 2 arguments (4 given)"
Trying to install via the bootstrap_eb.py it crashes with the above error.

easybuild install process:

[code]

output:

[code]

debug output and log attached

[easybuild.zip](https://github.com/easybuilders/easybuild-framework/files/1250508/easybuild.zip)

[2017-08-25 02:31] shawarden commented on #2289
Reinstalling python-setuptools.noarch seems to have resolved this.****

[2017-08-25 02:31] #2289 closed

[2017-08-25 06:58] boegel commented on #2289
@shawarden Seems like the setuptools you were using (0.9.8) was buggy?

[2017-08-25 07:24] shawarden commented on #2289
Probably. The site-packages had screwy permissions when re-installed via pip so I checked the system packages and just reinstalled that.

[2017-08-26 04:09] #2126 closed

[2017-08-29 00:10] kometchtech commented on #2288
@boegel

Contact became late.

I was able to confirm that sanity check itself can be overwritten by appending the parameter of sanity_check_paths to the eb file for the time being.
[code]

Permanently, consider adding a conditional branch to gcc.py.

Thank you very much.

[2017-08-29 21:22] boegel commented on #2288
@geimer Any idea since which version the sanitizer libraries are available on AARCH64?

[2017-08-30 18:15] boegel commented on #2186
@geimer To get back to this: yes, EasyBuild automatically makes sure that the location where it installs modules too is prepended to `$MODULEPATH.

I agree it makes sense to do the same for an HMNS...

[2017-09-04 10:00] boegel commented on #2252
follow up in #2255

[2017-09-04 10:00] #2252 closed

[2017-09-07 08:14] wpoely86 opened #2296 "--inject-checksums fails"
Running `eb -f --inject-checksums sha256 kallisto-0.43.1-intel-2017a.eb` with the easyconfig below doesn't change anything in the file.

[code]

[2017-09-07 09:34] boegel commented on #2296
@wpoely86 The checksum that is there is the right one, so why would `--inject-checksums` be changing anything?

[2017-09-07 09:44] wpoely86 commented on #2296
the comment with the filename is missing?

[2017-09-07 09:45] boegel commented on #2296
If there's only a single checksum, `--inject-checksums` doesn't add the comment, since it's clear what the checksum is for...

[2017-09-07 10:10] #2296 closed

[2017-09-07 12:20] ocaisa opened #2297 "Rough indicators for remaining installation times"
It would be nice if we included a rough time guide in easyconfigs for how long an installation may take. For beginners it would be useful in that they on't be surprised that something like a compiler takes quite some time to build. The timing could be added as part of the PR or from test reports.

[2017-09-07 13:24] boegel commented on #2297
@ocaisa I understand this can be useful, but it's quite difficult to give a realistic ballpark estimate, since it depends on many factors, like where build directories are located, e.g. slow home filesystem vs `/dev/shm` vs something in between...

[2017-09-07 13:33] ocaisa commented on #2297
Yeah, I appreciate that...but having EB just sit there for an hour with no output can make a novice believe that things are just hanging. Saying something like "This installation takes seconds/minutes/an hour/hours" might be enough to keep them happy.

[2017-09-07 15:36] boegel commented on #2297
@ocaisa Well, I guess we can always print a message like `This installation may take anywhere from seconds to minutes or hours, it depends...` ;)

Maybe the `--trace` option that will be included (under `--experimental`) in EasyBuild v3.4.0 will help to provide some more context on what `eb` is chewing on? See https://github.com/easybuilders/easybuild-framework/pull/2285.

[2017-09-11 15:18] verdurin opened #2301 "Better error message for custom easyblocks"
I recently had a case where I had written a custom `easyblock` last year, and explicitly referred to that `easyblock` in the `easyconfig`.

I.e.

`easyblock = AmberTools`

This led to an error message:
[code]

whereas an more helpful message might be roughly:
[code]

[2017-09-12 02:30] kometchtech opened #2302 "PETSc-3.7.3 build fails"
Hi, developer

I tried to build PETSc using the following eb file, but I can not build it because an error is output.
`PETSc-3.7.3-foss-2016a-Python-2.7.11.eb`
`== 2017-09-12 09:37:20,957 easyblock.py:2650 WARNING build failed (first 300 chars): cmd " ./configure --prefix=/home/yhorigome/easybuild_x64/software/PETSc/3.7.3-foss-2016a-Python-2.7.11 --LIBS="$LIBS -lrt" --with-cc="mpicc"  --with-cxx="

[2017-09-12 04:31] kometchtech commented on #2302
log also has been pulled up.
[easybuild-PETSc-3.7.6-20170912.115919.EoYBc.txt](https://github.com/easybuilders/easybuild-framework/files/1294733/easybuild-PETSc-3.7.6-20170912.115919.EoYBc.txt)

[2017-09-12 04:36] kometchtech commented on #2302
I will attach the log of Easybuild.
[easybuild-PETSc-3.7.3-20170912.091534.sUtzG.txt](https://github.com/easybuilders/easybuild-framework/files/1294740/easybuild-PETSc-3.7.3-20170912.091534.sUtzG.txt)

[2017-09-13 13:19] paulmelis opened #2303 "Option download_filename not working when sources come from URL"
According to http://easybuild.readthedocs.io/en/latest/Writing_easyconfig_files.html#alternative-formats-for-sources it should be possible to use the key `download_filename` in a sources dict to specify the file name to which a downloaded file is saved.

But looking at `EasyBlock.obtain_file()` (https://github.com/easybuilders/easybuild-framework/blob/c1dabed9d6882f34f351f754bcd529b5a0b5f5a7/easyb

[2017-09-14 06:42] boegel commented on #2301
@verdurin Hmm, I'm not sure if we can improve this easily...

If EasyBuild would be importing an easyblock based on the software name (`AmberTools`), it would try to import `EB_AmberTools` from `easybuild.easyblocks.ambertools`.

This is different from what you're telling it to do (import `AmberTools`).

How can EasyBuild know your intentions, you may be genuinely specifying a custom easyblock?

[2017-09-14 13:26] vanzod opened #2304 "Allow robot to search in remote GitHub easyconfig repo"
For sites that have their own private easyconfig repository for keeping track of local customization, it would be useful to allow robot to search directly in the remote repository via git. In this way there is no need to do a manual pull in `robotpath`. Ideally it would download only the matching easyconfig files in a temporary path.

Similarly, it may be also useful to be able to set the easyconf

[2017-09-14 14:03] damianam opened #2305 "Group writable and special groups"
I'd argue that when using special groups for installing software, EB shouldn't make the files group writable unless explicitly forced. Example:

-You have a group of people installing software. They belong to the "sw" group.
-You want to allow this group to overwrite each other installations, to enable collaboration, so by default you enable the group writable option.
-You have software that just

[2017-09-14 18:41] vanzod commented on #2305
We had the same problem with MATLAB. This feature would be certainly useful.

[2017-09-16 08:24] guest1604 opened #2308 "There should be no difference between `--force` and `--rebuild` for `--module-only`"
Creating modules only with  `--force` works, check sanity step is skipped as expected.
Creating modules only with  `--rebuild` fails at check sanity step (see below).
There should be no difference between `--force` and `--rebuild` for `--module-only`.

[code]

[2017-09-16 09:25] boegel commented on #2308
@guest1604 A fix for this is implemented in #2307

[2017-09-17 18:11] JackPerdue commented on #1993
Example from @boegel 's recent Perl PR

[2017-09-17 18:13] JackPerdue commented on #1993
and I guess that upload failed.... trying again

[2017-09-17 18:15] JackPerdue commented on #1993
We don't support that file type: Try again with .PNG .GIF .DOCX. PPTX .XLSX .TXT .PDF .ZIP

I guess I'll try .TXT

[2017-09-17 18:29] JackPerdue commented on #1993
[easybuild-Perl-5.26.0-20170917.122829.ZArSi.logtail-50000.txt](https://github.com/easybuilders/easybuild-framework/files/1309278/easybuild-Perl-5.26.0-20170917.122829.ZArSi.logtail-50000.txt)

[2017-09-17 18:29] JackPerdue commented on #1993
Example of cc fail on RHEL6

[2017-09-17 21:30] omula opened #2309 "Implement Function Multiversioning (FMV)"
Recently I have discovered Function Multiversioning  (FMV) which is being used in Clear Linux.
http://schd.ws/hosted_files/ossna2017/6b/Boosting_GLIBC_GCC.pdf
https://github.com/clearlinux/make-fmv-patch

It would be really nice to implement FMV as part of EB as away to avoid having to compile for each microarchitecture and also to save space.

How feasible do you think it is?

[2017-09-18 18:48] boegel commented on #1993
@JackPerdue That's probably a good reason to modify the `GCC` easyblock to make `cc` a symlink to `gcc` (and probably also have `c++` link to `g++`), see discussion in https://github.com/easybuilders/easybuild-easyblocks/issues/507...

[2017-09-18 18:50] boegel commented on #1993
Relevant part of the uploaded log:

[code]

[2017-09-19 00:34] JackPerdue commented on #1993
@boegel I think the cc symlink in the GCC easyblock is a great idea.   I plopped one in GCCcore-6.4.0 and Perl built with no problems.  And I'm sure its a common usage (cc instead of $(CC)).   I note that there is already a c++ that isn't the same as g++..... not sure where that fits in.  But a link from cc->gcc in the install would easily solve a lot of problems (AFAIK).

[2017-09-19 15:02] boegel commented on #1993
@JackPerdue Actually, they seem to be exactly the same?

[code]

[2017-09-20 14:33] boegel commented on #1993
GCC easyblock is updated in https://github.com/easybuilders/easybuild-easyblocks/pull/1256 to put symlinks in place for `cc` & co.

Strictly speaking this doesn't resolve this issue though, since the original intention was to *track* the usage of `cc` & co here...

[2017-09-21 19:16] ky36 opened #2312 "python -m test.framework.suite failed"
$ type module
module is a function
module ()
{
    eval $($LMOD_CMD bash "$@") && eval $(${LMOD_SETTARG_CMD:-:} -s sh)
}

$ type -f module
bash: type: module: not found

$ module --version

Modules based on Lua: Version 7.7  2017-09-19 11:05 -05:00
    by Robert McLay mclay@tacc.utexas.edu

$ module av EasyBuild

-------------------------------------------------------------------------------------