[2017-09-22 09:47] boegel commented on #2312
@appleorange Thanks for the report!

The failing tests are most likely an issue with the tests themselves rather than with your EasyBuild installation, I'll look into fixing them.

[2017-09-25 10:38] nortex commented on #2204
Hi,

I still do not see the 2.5.0 version available neither on EasyBuild repository or on github...

Is there still no way to fix the errors i keep receiving?

[2017-09-25 11:58] riccardomurri commented on #2204
hi @nortex

GC3Pie 2.5.0 has not yet been released -- at the moment is really refers to code in the "master" branch on GitHub.
Update instructions are in my previous comment, but please point out if they are not sufficient or clear.

Ciao,
R

[2017-09-26 08:21] nortex commented on #2204
I didn't understand what file i need to edit, and where this file is located

[2017-09-26 09:02] riccardomurri commented on #2204
You have to:

* apply the patch in [PR #2211](https://github.com/easybuilders/easybuild-framework/pull/2211/files) to file `easybuild/tools/job/gc3pie.py` (part of Easybuild Framework)
* install GC3Pie "master" (i.e., 2.5.0.dev) instead of GC3Pie 2.4.2 which comes with EB; GC3Pie should be installed within the same virtualenv where the EB code resides.  A simple way to do it would be to run::

[2017-09-26 10:51] jhein32 opened #2315 "Multiple configs in a single build from pull requests"
Hi,

I was trying to build multiple Anaconda installations in a single call from a pull request:

[code]

It would not find the second one.  Specifying either of them in a single call works fine.

[2017-09-26 12:26] nortex commented on #2204
Hi,

I followed your steps, changed the easybuild gc3pie.py file and executed the pip install git command on my installed GC3Pie python site-packages.

Now i receive the next error:

== resolving dependencies ...
ERROR: Failed to create GC3Pie engine: Could not instanciate resource type 'slurm': ImportError: No module named cryptography.hazmat.backends

[2017-09-26 13:27] riccardomurri commented on #2204
Can you please save the following to a file `gc3pie-reqs.txt` and then run `pip install -r gc3pie-reqs.txt` ?  (Again from within the EB virtualenv)

[code]

This should solve any dependency problem.

[2017-09-26 19:23] boegel commented on #998
`--module-only` has been supported since EasyBuild v1.16, see also http://easybuild.readthedocs.io/en/latest/Partial_installations.html#only-re-generating-additional-module-files-using-module-only

[2017-09-26 19:23] #998 closed

[2017-09-27 05:52] nortex commented on #2204
Hi this gives me a problem with libffi package:

`Collecting PyNaCl==1.1.2 (from -r gc3pie-reqs.txt (line 22))
  Using cached PyNaCl-1.1.2.tar.gz
    Complete output from command python setup.py egg_info:
    Package libffi was not found in the pkg-config search path.
    Perhaps you should add the directory containing `libffi.pc'`

Those the new version using PyNaCI + libffi? when i was installin

[2017-09-27 07:30] riccardomurri commented on #2204
*PyNaCl* is a dependency of *paramiko*, which GC3Pie uses to SSH into target hosts.  At the time of the 2.4.2 release, *paramiko* did not have that dependency...

Anyway, you can fix it easily by running::

    # on Debian/Ubuntu
    sudo apt-get install libffi-dev libssl-dev

    # on CentOS/RHEL
    sudo yum install libffi-devel openssl-devel

or maybe there are already EB recipes for building t

[2017-09-28 18:02] omula commented on #2309
Victor Rodriguez from Clear Linux has written a very nice tutorial on how to use FMV.
https://github.com/VictorRodriguez/clear-linux-documentation/blob/44ac15f479a83ccc7d5267a603ed75dc939e5640/source/clear-linux/tutorials/fmv/make_fmv.rst

[2017-09-28 23:17] zao opened #2317 "Lua generator emits description verbatim into module source"
A description like `description = "hi [there]"` will be emitted into a Lmod module as `whatis([[Description: hi [there]]])`.

There is no escaping inside of such "long brackets" and as such, the string will prematurely terminate on the first `]]` found.

The mechanism that Lua offers to have long brackets occur inside of long brackets is to add one or more `=` inside the left and right bracket pai

[2017-09-29 14:05] jpc2350 opened #2318 "Build Dependencies not loading"
Hi Guys,

I'm struggling to get builddependencies to load into the build environment when building Automake-1.15.1

I've got the following in the easyconfig file:
builddependencies = [
    ('binutils', '2.28'),
    ('flex', '2.6.4'),
    ('Bison', '3.0.4')
]

dependencies = [
    ('Autoconf', '2.69'),
]

And I'm using
`eb Automake-1.15.1.eb --robot` and
`eb Automake-1.15.1.eb --robot --use-existin

[2017-09-29 14:58] boegel commented on #2318
@jpc2350 This probably happens because you have `dummy` listed as `version` in the `toolchain` spec, just use an empty version (`''`) instead; see also http://easybuild.readthedocs.io/en/latest/Concepts_and_Terminology.html?#dummy-toolchain .

This is weird behaviour, it's a historical mistake, we hope to get rid of this when we 'rebrand' the `dummy` toolchain concept into the more meaningful `sys

[2017-09-29 15:15] jpc2350 commented on #2318
Ahhhhh that makes sense now, changed and it's now working correctly! Thanks @boegel

[2017-09-29 15:15] #2318 closed

[2017-09-29 20:44] boegel commented on #2317
PR to fix this is at #2320, let's follow up there...

[2017-09-29 20:44] #2317 closed

[2017-10-02 13:00] #2308 closed

[2017-10-02 13:02] boegel commented on #2301
@verdurin I guess a (slightly) more meaning error message could be `class 'AmberTools` not found in `/path/to/easybuild/easyblocks/a/ambertools.py'` rather than `'module' object has no attribute 'AmberTools'`, but I'm not sure if that would've been helpful in this case?

[2017-10-02 14:51] jpc2350 opened #2321 "Unknown Family of Compilers (Build Failure)"
Hi Guys,

I'm know trying to build Python using EasyBuild and I'm getting this error when using the Dummy Toolchain, Primarily when trying to tie in NumPY:

Unknown family of compilers being used: DUMMY

Is there anyway to get around this using EasyBuild but without using the GCC/Intel Toolchains?

Thanks

[2017-10-02 17:10] boegel commented on #2321
@jpc2350 If you prefer using your system compiler, you could install a wrapper module for it via the `GCC-system.eb` easyconfig.

For `numpy` specifically, that will only get you so far though, since you also need a BLAS/LAPACK library in that case.

In general, it's better in the long term is you build a toolchain (e.g. `foss/2017a`) first with EasyBuild, and then build software on top of that.
U

[2017-10-02 21:23] jpc2350 commented on #2321
Hi @boegel, Unfortunately in this case, it's not been my decision. I will take a look at the wrapper module thanks.

[2017-10-03 08:22] jpc2350 commented on #2321
Hi @boegel, quick question - Are we able to use a toolchain without having the modulefile named with the toolchain in it?

[2017-10-03 08:26] boegel commented on #2321
@jpc2350 Yes, you can use a custom module naming scheme and just strip out the toolchain part. I suspect you may run into problems at some point if you do that though, since mixing things that were built with different toolchains would lead to problems.
If you stick to building things with one particular toolchain (e.g. `foss/2017a`), that may work.

There are a couple of module naming schemes imp

[2017-10-03 16:12] jpc2350 commented on #2321
Hi @boegel, Ok thanks - I'll take a look at that and see what we can do.

Also, how do I build a tool with a GCC toolchain, where the modules exist (without the toolchain extension) or where there are no recipe files that have the toolchain extension?

I'm using the --use-existing-modules option, but that doesn't seem to work?

[2017-10-03 16:34] ocaisa commented on #2321
The `--use-existing-modules` only functions with the `--minimal-toolchains`  option (and from what you have described would also require `--add-dummy-to-minimal-toolchains`). See http://easybuild.readthedocs.io/en/latest/Manipulating_dependencies.html#using-minimal-toolchains-for-dependencies for a more complete explanation.

Your use case is not entirely clear to me though, and I have my doubts i

[2017-10-03 16:42] ocaisa commented on #2321
Regarding not including toolchain extensions in the module naming scheme, using a hierarchical naming scheme can achieve this for you. If you want to do this in a flat naming scheme then you are explicitly removing uniqueness (`zlib/1.2.8` built with foss has the same module name as one built with intel) which of course can lead to problems since this is against the philosophy of generating a cohe

[2017-10-04 09:08] jpc2350 commented on #2321
Hi @ocaisa thanks, So at the moment, the decision has been made to use the system compiler - GCC 5.x (packaged with OS). So at this point, we're only running with that single toolchain which is the 'dummy' one. I have however, installed GCCcore-6.4.0 to fix the issue with NumPY and Perl.

[2017-10-04 09:18] ocaisa commented on #2321
I have a pair of open PRs (that will hopefully be merged very soon) that help to cover your type of situation (and still maintain the general philosophy)
https://github.com/easybuilders/easybuild-easyblocks/pull/1106
https://github.com/easybuilders/easybuild-easyconfigs/pull/4136
...but they won't help with the module naming scheme, for which I would recommend a hierarchical scheme with a set of p

[2017-10-04 12:48] paulmelis commented on #1626
Having just battled the forced sanity checks myself, here my 2 cents.

I feel what is not clear here, and it's what I read in @avapirev's and @DanielTosello's comments as well, is the difference between having the sanity checks in place during a regular EB build and install (where it obviously makes sense) versus during *development of an EB config script* (where you might sometimes want to leave

[2017-10-04 16:34] jpc2350 commented on #2321
So I'm still getting a NumPY build issue - It's not the GCCcore problem (as I've now added that) - I'm not convinced it's an EasyBuild problem - but the tests come back as problematic (which NumPY confirm is acceptable) but the problem appears to be that the test fails and although a normal build will still work - the easybuild fails on this point.

Finished processing dependencies for numpy==1.12

[2017-10-10 15:01] crphilipp opened #2322 "Install Failure"
I am having issues with installing EasyBuild. I am attaching the log file. I initially install EasyBuild without any issues under my personal account, but I decided to create a dedicated user for EasyBuild and I ran into these issues. Any help would be appreciated.

[easybuild-EasyBuild-3.4.0-20171009.150459.WxuFR.log](https://github.com/easybuilders/easybuild-framework/files/1372384/easybuild-Eas

[2017-10-11 09:02] boegel commented on #2322
@crphilipp It seems like your dedicated user doesn't have write permissions in `/usr/lib64`?

[code]

[2017-10-11 14:30] crphilipp commented on #2322
I found the problem, the permissions were off for the python-simplejson
package (not sure why). Thanks for being that extra set of eyes for this
stupid error.

--
-----------------
Randy Philipp

[2017-10-11 14:35] #2322 closed

[2017-10-19 11:50] boegel opened #2328 "check for valid/non-empty toolchain name"
We should check the specified toolchain name a bit better.

For example, using an empty toolchain name by mistake now leads to a nasty traceback:

[code]

[2017-10-24 17:44] boegel commented on #2321
@jpc2350 Did you figure things out (since you closed this issue)?

[2017-10-27 09:31] migueldiascosta opened #2334 "--new/update-pr fails in extended dry run mode when adding a patch file"
When running `--update-pr -x` and adding a new patch file, it fails saying it cannot find the patch file, which should have been copied to the temp dir. But the actual `--update-pr` works, so `-x` must be disabling the copy?

Additionally, doing the same to submit changes to a patch, dry run mode doesn't show the changes to the patch file, although the actual `--update-pr` does submit them.

[2017-10-28 08:16] akesandgren opened #2335 "--dep-graph ignores --filter-deps"
--filter-deps gets picked up correctly by --dry-run, but not --dep-graph

Annoying when starting a larger chain.

[2017-10-28 15:38] boegel commented on #2315
@jhein32 You specified `Anaconda3-4.4.0`, while you need to specify the correct easyconfig filename (incl. the `.eb` extesnion): `Anaconda3-4.4.0.eb`.

I guess we could do better w.r.t. error reporting here, for example give a list of easyconfig filenames from the PR...

[2017-10-28 15:40] boegel commented on #1798
@ocaisa Is this still relevant?

[2017-10-28 15:45] jhein32 commented on #2315
Sorry for not spotting this. I think we can just close this.

Have a nice weekend
  Joachim

Sent from my nanoPad

On 28 Oct 2017, at 17:38, Kenneth Hoste <notifications@github.com<mailto:notifications@github.com>> wrote:

@jhein32<https://github.com/jhein32> You specified Anaconda3-4.4.0, while you need to specify the correct easyconfig filename (incl. the .eb extesnion): Anaconda3-4.4.0.eb.

I g

[2017-10-30 16:10] ocaisa commented on #1798
I think so, the system setuptools version in the Ubuntu 16.04 is still `20.7.0`

[2017-11-01 13:41] boegel commented on #2315
I'll keep this open for now, until we look into better error reporting...

[2017-11-01 13:47] boegel commented on #2305
`--group-writable-installdir` is disabled by default, you must have EasyBuild configured to enable it?

In that case, you are effectively telling EasyBuild to make the install dir group writable.
If you don't want that, you should use `--disable-group-writable-installdir`.

I do understand this is easy to overlook though... How can we improve this?

Hard disable `--group-writable-installdir` when

[2017-11-02 13:30] jpc2350 commented on #2321
At the moment it's still plaguing me, I've got a few other identified issues - but I thought it would be better raising them as separate cases.

[2017-11-02 23:35] verdurin opened #2338 "GITHUB_SOURCE macro configuration"
Oughtn't the `GITHUB_SOURCE` template to take `github-user` rather than `github_account`?:
[code]

[2017-11-03 14:00] #2321 closed

[2017-11-03 18:46] boegel commented on #2303
@paulmelis It seems like you got things backwards... `download_filename` is the name of the file under which it can be downloaded, `filename` is the name of the file that EasyBuild should store it with. So you got the values reversed?

[2017-11-03 20:48] paulmelis commented on #2303
Right, it seems I indeed got the arguments switched. Flipping them indeed succeeds in downloading.

I also think I understand why my mistake happened. In the normal case (when the filename in the URL has an extension and so can be unpacked) you only specify the mandatory `filename` value, which together with `source_urls` specifies the URL to use and also the name to save to. In the case where the

[2017-11-03 20:51] paulmelis commented on #2303
I actually still don't understand that this works, as the comment above on `obtain_file()` still holds: `download_filename` isn't used when `filename` is a URL. But I'm a bit tired and might not be clear enough at the moment to figure this out.

[2017-11-04 08:23] boegel commented on #2303
@paulmelis Your point is still valid about `download_filename` not being used when the source filename being provided is a URL by itself.

This relates to a use case like this, where `source_urls` is not used at all:

[code]

We don't use this in the central easyconfig repository though...

So, how would we take `download_filename` into account there? I don't think it would make much sense, since

[2017-11-04 12:57] boegel commented on #2338
@verdurin The `--github-user` configuration option lets you specify which GitHub account should be used for all features related to the integration with GitHub, see http://easybuild.readthedocs.io/en/latest/Integration_with_GitHub.html#configuration.

The `github_account` easyconfig parameter can be specified in an easyconfig file to let EasyBuild complete the `GITHUB_SOURCE` template.

Does that

[2017-11-05 11:15] boegel commented on #1798
@ocaisa Yes, but the bootstrap script will now simply skip stage 0 is a sufficiently recent setuptools is already available on the system? See #1946

[2017-11-13 15:24] boegel opened #2341 "also test against environment modules (Tcl) 4.0.0"
https://modules.readthedocs.io/en/stable/NEWS.html

[2017-11-13 16:12] mvsurfsara opened #2342 "Error with --try-toolchain"
Getting the following error when trying the option --try-toolchain=intel,2016b for a intel/2017a easyconfig file:

[code]

The Irresolvable dependencies listed here are all available for the GCCcore toolchain.

[2017-11-13 16:30] ocaisa commented on #2342
Unfortunately this shortcoming is well known but still a very early work in progress, see https://github.com/easybuilders/easybuild-framework/issues/1627

[2017-11-14 08:12] boegel commented on #2342
@ocaisa I was sitting next to @mvsurfsara when he ran into this, and asked to open an issue since I think we can do better here with limited extra effort.

Since we're sticking to the same toolchain, just a different version, so we don't have the problem of needing to map subtoolchains between different toolchains.

For some reason, there is no easyconfig generated for `cURL`, not even with the ta

[2017-11-19 11:07] holstgr-kaust commented on #1094
This issue: https://github.com/hpcugent/vsc-base/issues/252
Has a workaround hack to fix issue.

[2017-11-20 09:50] boegel commented on #1094
I consider this fixed via #2347, thanks for bringing attention to this again @holstgr-kaust!

[2017-11-20 09:50] #1094 closed

[2017-11-21 20:25] hajgato opened #2349 "Precision/reporducibility changes in intel 18 compiler"
Its worth to read this about the changes of precision in Intel 18 compilers:
https://software.intel.com/sites/default/files/managed/de/a1/FP_Consistency_091117.pdf

[2017-11-22 09:00] migueldiascosta opened #2350 "parameter to control whether sequential or threaded versions of libraries will be used?"
(prompted by https://github.com/easybuilders/easybuild-easyblocks/pull/1294)

should there be a default parameter to control linking against sequential or threaded blas/lapack libraries?

if that parameter set, e.g., `$LIB{BLAS/LAPACK/SCALAPACK}` to the value of `$LIB{BLAS/LAPACK/SCALAPACK}_MT`, there would be no need to change the easyblocks

admitedly, it would change the current behaviour, but

[2017-11-22 10:10] boegel commented on #2350
I like this idea, and as long as we don't change default behaviour, that's fine imho, since that retain backward compatibility.

This should be a new toolchain option, so this can be set on demand in specific easyconfig files?

[2017-11-22 13:30] mboisson opened #2351 "Way to declare a dependency as unfiltered"
Is it possible to add a way to declare a dependency in an easyconfig file to be unfiltered despite the easybuild config.cfg ?

[2017-11-22 17:19] akesandgren commented on #2350
Basically if toolchainopt has openmp the _MT libs should be used.
Unfortunately that doesn't always apply. There are some openmp codes that must use the non-threaded libs since they do the openmp part on a higher level (this for performance reasons mostly)

But i do agree that it would be useful to have such an option. There are a lot of codes that would benefit from that performance wise.

[2017-11-23 01:27] migueldiascosta commented on #2350
@akesandgren at first I also thought that the openmp toolchainopt could be used. In most cases, either the application itself is not openmp parallelized so it's irrelevant, or you actually want to use both threaded application and libraries.

The cases I see where one would like to enable threaded libraries without enabling openmp in an openmp parallelized application would be if that parallelizat

[2017-11-23 05:40] akesandgren commented on #2350
Yes, that's even better, defining a list is good. The question is how to define the libs to make it easy to use and easy to code in the framework.

[2017-11-23 05:59] migueldiascosta commented on #2147
implemented in #2331, closing

[2017-11-23 05:59] #2147 closed

[2017-11-23 18:21] dwaylooper opened #2352 "version info in dependecy graphs?"
Firstly, thank you for Easybuild! My request is for a "feature enhancement" - i.e. for package versions to be included within dependency graphs. Apologies if already requested / recently implemented. Currently I've written a 60 line bash script that does this for me, but would be good to have this built-in? Many thanks!

[2017-11-23 21:54] boegel commented on #2352
@dwaylooper Thanks for the feature request!

The current implementation of `--dep-graph` actively filters out the versions (& toolchain info) after checking that each software name only occurs once, with no option to disable that, so this should be fairly easy to implement.

Any suggestions on how you would specify that though? An extra `--dep-graph-style` option, where the default (equivalent wit

[2017-11-25 09:00] boegel commented on #2351
We discussed this a bit more, and @mboisson came up with another idea that would cover his use case: being able to filter out only certain version of particular dependencies, e.g. filter out `flex` `2.6.*` (and up?), but keep older versions, so support something like `--filter-deps='flex>=2.6,foo,bar'`

[2017-11-27 12:29] mboisson commented on #2351
The new proposal is this :
1) `name` only means any version
2) `name=version` means this exact version
3) `name=[low,high[` means any version between low (inclusively) and high (exclusively). We could also support `name=[low,high)`, and similarly `name=]low,high]` or `name=(low,high]` to exclude the low version and include the high version.

[2017-11-28 12:34] adamryczkowski opened #2354 "bootstrap_eb.py fails on Ubuntu 16.04"
Error:

[code]

Steps to reproduce:

1. Install Ubuntu 16.04 (tested on LXC container and VirtualBox)
2. Download the bootstrap script `wget https://raw.githubusercontent.com/easybuilders/easybuild-framework/develop/easybuild/scripts/bootstrap_eb.py`
3. Install the lmod and python: `sudo apt install lmod python`
4. Execute the lmod profile init script `source /usr/share/lmod/lmod/init/profile`
5.

[2017-11-28 12:35] adamryczkowski commented on #2354
Installing setuptools changes the error:

`sudo apt install python-setuptools`

[code]

[2017-11-28 12:50] ocaisa commented on #2354
There is no git command available
[code]
installing git should get you further. For more details on the real problem see https://github.com/easybuilders/easybuild-framework/issues/1962

[2017-11-28 13:03] ocaisa commented on #2354
Also, there are some python packages that are requirements (and include `setuptools` and `vsc-install`), these are outlined in http://easybuild.readthedocs.io/en/latest/Installation.html#required-python-packages

[2017-11-28 13:07] adamryczkowski commented on #2354
Hurray! Installing **git** solved the problem. Beside me, 2 seasoned HPC administrators were trying to troubleshoot this problem for over 1 hour.

Please, add the git to the list of the compulsory requirements to save time for others.

Or should I file a separate issue for that?

[2017-11-28 13:17] ocaisa commented on #2354
#1962 talks through this issue, `git` is not a requirement for EasyBuild. The problem stems from using an old version of setuptools.

[2017-11-28 14:09] jdonners commented on #2076
I agree with @tgamblin that using the absolute paths is better for libs that are installed in deeper hierarchies (I'm thinking especially shared objects for python packages here). However, I'd suggest to include $ORIGIN itself as well. E.g. ParaView installs libraries in lib/paraview-$version, which wouldn't be found otherwise.

[2017-11-29 08:24] boegel commented on #2350
I finally got around to finish the PR I had in the works for this, see https://github.com/easybuilders/easybuild-framework/pull/2356.

For now, it only adds the (boolean) `mt_blas_lapack` toolchain option, which is used as trigger to use for value of *all* `$*MT` environment variables for their non-MT equivalents (so `$LIBBLAS` is defined like `$LIBBLAS_MT`, etc.).

W.r.t. the list idea, I guess t

[2017-11-29 12:57] dwaylooper commented on #2352
@boegel - thanks for your reply and also for accepting my feature request.

I will leave this to you, especially as you guys would have development roadmap/directions in mind, hence can make decisions in alignment with all this, but IMHO, I would simply have "--dep-graph-versions" perhaps?

[2017-12-06 07:44] boegel commented on #2335
duplicate of #2236

[2017-12-06 07:44] #2335 closed

[2017-12-07 13:17] boegel commented on #2080
When `ccache` is being used when installing TensorFlow with the easyblock from https://github.com/easybuilders/easybuild-easyblocks/pull/1287, a fork bomb is created because the `EB_TensorFlow` easyblock also uses a wrapper for `icc`...

[2017-12-20 19:25] ebagrenrut commented on #2341
Modules 4 is based on the Tcl Modules implementation (1.923), however its command interfaces have been changed to be compatible with the C implementation that it replaces. As a result, neither setting `EASYBUILD_MODULES_TOOL=EnvironmentModulesC` nor `EASYBUILD_MODULES_TOOL=EnvironmentModulesTcl` works with Modules 4. In the former case, EasyBuild fails to determine the version of the Modules imple

[2017-12-20 20:37] boegel commented on #2342
I found the problem causing this issue, and I'm working on fix a fix (which is less trivial then I initially thought it was going to be, of course it is...).

The problem is that the `while` loop in the `tweak` that is intended to filter out the toolchain & its deps from the list of easyconfigs to tweak is too aggressive: it also filters out dependencies that use a subtoolchain like `GCCcore`.

Fi

[2017-12-20 22:20] ebagrenrut commented on #2341
I've submitted a pull request with a first attempt at supporting Modules 4. #2365

[2017-12-25 09:47] boegel commented on #2341
Thanks a lot for your efforts on this @ebagrenrut, much appreciated!

[2017-12-26 10:47] boegel commented on #2341
@ebagrenrut I just installed Modules v4.0.0 to play around with and test your contribution in #2365, but I'm not getting a `modulecmd` at all:

[code]

So, you approach in #2365 to leverage `EnvironmentModulesC` isn't going to work, we should leverage `EnvironmentModulesTcl` instead? Probably also other changes are needed, since the way `modulecmd.tcl` has changed...

[2017-12-26 20:25] ndusek opened #2366 "bootstrap_eb.py fails to find Tcl Modules installation"
When running **bootstrap_eb.py**, the script fails with the following error:

[code]

I have the Tcl Modules system installed. Running **type module** yields

[code]

and running **module --version** gives

[code]

So it seems that Tcl Modules is installed properly, although making the **module** command available by defining a function alias seems a bit hackish to me. But that is the default inst

[2017-12-27 08:15] boegel commented on #2366
@ndusek The version of the modules tool you are using is not supported yet by EasyBuild, but we're working on fixing that, see https://github.com/easybuilders/easybuild-framework/issues/2341 and https://github.com/easybuilders/easybuild-framework/pull/2365 .

[2017-12-27 08:47] boegel commented on #2341
@xdelaruelle Can you shed some light on the above?

[2017-12-27 14:15] ndusek commented on #2366
Great, thank you!

[2017-12-28 09:28] xdelaruelle commented on #2341
@boegel Sure! From what I see I also think it should leverage `EnvironmentModulesTcl` rather `EnvironmentModulesC`. Especially the `set_path_env_var` and `remove_module_path` defs from the Tcl-specific class will also be useful for Modules >=4.

The `modulecmd.tcl` script is installed in `libexec` dir and it is intended to be reached through a shell alias or function. On RH-like systems, a `module

[2017-12-28 15:47] ebagrenrut commented on #2341
@boegel , @xdelaruelle Thanks for clarifying. I am indeed running on RedHat, thus the /usr/bin/modulecmd link was created. I have no preference as to the name of the new class (if there even needs to be one). Feel free to make whatever changes you see fit to my PR (or deny it and start anew); unfortunately I won't be able to work on it until later in January.

[2017-12-28 19:02] ebagrenrut commented on #2341
How about these ideas for a new class:

- Class name is `EnvironmentModules`
- `COMMAND` is set to the equivalent of `${MODULESHOME}/libexec/modulecmd.tcl`
- `VERSION_REGEXP` is `r'^Modules\s+Release\s+(?P<version>\d\S*)\s'`
- `REQ_VERSION` set to `4.0.0`

[2017-12-28 19:10] ebagrenrut commented on #2341
OK, my proposed class works on my RHEL systems, so I've committed it. Unfortunately, Travis seems to be blowing up when trying to install some python modules to test on Python 2.6, which I assume is not related to my code.

[2017-12-29 09:19] boegel commented on #2341
Thanks a lot for the feedback @xdelaruelle!

The expectation is indeed that `modulecmd.tcl` is available either via `$PATH` or full path via an environment variable. I know neither are currently in place for Modules v4, but the same goes for older versions of environment modules, so people need to include the location of the actual command (`modulecmd` or `modulecmd.tcl`) to `$PATH` to make EasyBu

[2017-12-29 09:39] boegel commented on #2341
@ebagrenrut Issue with failing tests should be fixed by #2367. I'll send a pull request to your branch to also enable testing EasyBuild against Modules v4.

[2017-12-29 10:27] boegel commented on #2341
@ebagrenrut PR to also test EasyBuild against Modules v4 is available at https://github.com/ebagrenrut/easybuild-framework/pull/1, if you merge that your PR #2367 will be updated to include it.

There seems to be an issue with the `module purge` command as called by EasyBuild, leading to an error like this when `modulecmd.tcl python purge` is called:

[code]

Any idea what's going on with this @xd

[2017-12-29 15:05] #2366 closed

[2017-12-29 15:15] xdelaruelle commented on #2341
@boegel `purge` command does not accept any argument and it seems it has detected more than 0 argument in the situation you describe.

Looking at the `purge` def, it seems an empty argument is passed to the `run_module` method:

    self.run_module('purge', '')

Maybe that is what is causing the issue

[2017-12-29 16:30] ebagrenrut commented on #2341
I can reproduce the behavior using modulscmd.tcl directly:

raise RuntimeError('modulecmd.tcl: 1 error(s) detected!')
ERROR: Unexpected number of args for 'purge' command

[2017-12-29 18:12] boegel commented on #2341
@xdelaruelle Nice catch! There's indeed no reason to pass an empty argument to `purge`. It seems like other modules tools just ignore the additional empty argument, while Modules v4 is more picky about it (which actually makes sense to me).

Fixed with https://github.com/ebagrenrut/easybuild-framework/pull/2

[2017-12-29 23:10] ebagrenrut commented on #2341
@boegel I think there is an assumption in the test_load method of the ModulesTest class that is probably not true for Modules 4. The test loads the GCC/4.6.4 modules, then unsets $EBROOTGCC. A comment indicates that EBROOTGCC will be reset if the GCC/4.6.4 module is loaded again. Modules 4 doesn't reset EBROOTGCC (I've confirmed by simply trying it in my environment), and I think that may be by de

[2017-12-30 08:27] xdelaruelle commented on #2341
@ebagrenrut If a module is already loaded, new `module load` on this module wil be ignored. So if one variable set by a module is unset, a new module load on this module will not restore it.

This is currently made this way not to mess the path reference counters handled by commands like `append-path`. But I have seen also in other situations that one should be able to reload with a `load` command

[2017-12-30 10:56] boegel commented on #2341
@ebagrenrut That particular check was added as a part of a test for the `allow_reload` option of the `load` method implemented by EasyBuild.

By default EasyBuild *allows* reloading of already loaded modules, but in some particular circumstances that needs to be disabled (which makes EasyBuild first check via `module list` before loading a module).

I don't think EasyBuild assumes anywhere that al

[2017-12-31 16:03] boegel commented on #2354
When no sufficiently recent version of `setuptools` is found, the EasyBuild bootstrap script tries to install one first, but that's known to be troublesome on some systems.

`git` is required because of `vsc-install`, see also https://github.com/hpcugent/vsc-base/issues/243.
It is not required for EasyBuild itself though (unless you want to use the GitHub integration features, cfr. easybuild.readt

[2017-12-31 16:07] boegel commented on #1962
Sorry for not getting back to this...

The `TypeError` issue was also reported in #2289, it seems to occur due to an corrupted `setuptools` installation.

[2018-01-04 18:17] xdelaruelle commented on #2341
FYI, starting with version ``4.1`` of Modules, a ``modulecmd`` wrapper script will be installed in binary directory. In addition a ``MODULES_CMD`` environment variable will be set, at initialization time, to the fully qualified path of the module script.

[2018-01-04 19:30] boegel commented on #2341
@xdelaruelle That's useful, but we'll probably stick to our current approach in #2365, i.e. finding `modulecmd.tcl` via `$MODULESHOME`, since that also works with Modules 4.0.

Hopefully that will stay in place?

[2018-01-04 19:45] xdelaruelle commented on #2341
Of course, ``$MODULESHOME/libexec/modulecmd.tcl`` will also do the job in future releases.

[2018-01-05 16:34] boegel commented on #2341
fixed in #2365, thanks for your help @ebagrenrut and @xdelaruelle!

[2018-01-05 16:34] #2341 closed

[2018-01-05 21:25] boegel commented on #2342
partial fix in #2371, but it needs more work...

[2018-01-08 21:22] kiwijo2000 opened #2372 "EasyBuild fails at stage 2"
Hi There
I'm having some issues getting EasyBuild installed, which is probably because I'm not very confident using Unix and don't really understand what's going on with the error message. I've tried following some of the previous posts on how to fix install issues, but I couldn't see how to resolve my problem. I have installed Lua and Lmod, and I think that I've set up the paths to these correctl

[2018-01-09 00:30] kiwijo2000 commented on #2372
Sorry, ignore this. I realised I should have run it as
'''
python bootstrap_eb.py EASYBUILD_PREFIX
'''
not
'''
python bootstrap_eb.py $EASYBUILD_PREFIX
'''

[2018-01-09 07:58] boegel commented on #2372
@kiwijo2000 I consider this a bug, so thanks for reporting this.

Apparently the bootstrap script doesn't deal well with being passed a relative path (which is basically what you're doing when passing `EASYBUILD_PREFIX` rather than `$EASYBUILD_PREFIX`).

[2018-01-12 17:40] mzpqnxow commented on #2076
I had success making this work by symlinking to lib/lib64 directories some time back, but this was done with a tool that wrapped virtualenv, not in virtualenv itself...

[2018-01-12 22:44] boegel opened #2375 "make robot only require toolchain definitions to resolve dependencies with subtoolchains"
Currently, the `--robot` implementation will only resolve dependencies via a subtoolchain if the matching easyconfig file is available in the robot search path (even if the corresponding module is available already).

However, I don't think there's a strict need for it, it should suffice that just the easyconfigs that define the toolchain are available, since that's sufficient to figure out the su

[2018-01-15 14:41] ocaisa commented on #2375
This approach also wouldn't work if `modaltsoftname` was used in the (now unparsed) dep easyconfig as the module name wouldn't be correct.

[2018-01-16 21:47] vanzod opened #2380 "Allow only checksum verification"
A better way to check checksums provided in easyconfig files should be implemented.

Currently when checking easyconfig PRs that only update checksums, a full module rebuild is required. Using `--stop source` does not provide a viable solution since the corresponding installed module is deleted before the source fetching step, which breaks Lmod module dependencies.

Additionally, it would be great

[2018-01-22 16:08] idanbudin opened #2383 "Failed to import EB_q easyblock"
Trying to install bcl2fast via eb with this: [](https://github.com/verdurin/easybuild-easyconfigs-devel/blob/master/bcl2fastq2-2.17.1.14-foss-2016a.eb).

I have used the following command line : `eb /home/me/Downloads/bcl2fastq2-2.17.1.14-foss-2016a.eb --robot.`
Which caused this error output:

[code]

**Any idea what is the problem and what can I do to fix it?**

The log file is below:

[code]

[2018-01-23 18:45] boegel commented on #2383
@idanbudin Hmm, this is a weird issue... I'm lacking the required info to pinpoint the actual issue.

* Which EasyBuild version are you using?
* What's your EasyBuild configuration (output of `eb --show-config`)?
* Can you provide a debug log, collected via `eb --debug bcl2fastq2-2.17.1.14-foss-2016a.eb --robot`?
* Can you share the `bcl2fastq2-2.17.1.14-foss-2016a.eb` easyconfig file you are usin

[2018-01-23 19:30] boegel commented on #2380
There's actually a way around this... You can avoid that the existing modules get removed by specifying a custom separate installation prefix; EasyBuild will only touch module files in the installation prefix it is configured with, not outside of that.

So, you could do something like:

[code]

That doesn't mean we should provide an easier way though :)

[2018-01-24 10:30] idanbudin commented on #2383
- The version is: 3.5.1

- My configuration:
buildpath      (D) = /home/me/.local/easybuild/build
installpath    (D) = /home/me/.local/easybuild
repositorypath (D) = /home/me/.local/easybuild/ebfiles_repo
robot-paths    (D) = /home/me/software/EasyBuild/3.5.1/lib/python2.7/site-packages/easybuild_easyconfigs-3.5.1-py2.7.egg/easybuild/easyconfigs
sourcepath     (D) = /home/me/.local/easybuild/sourc

[2018-01-24 19:10] idanbudin commented on #2383
I've managed to install bcl2fastq with all its dependencies without easybuild thanks to the following link:
https://github.com/igorbarinov/bcl2fastq/blob/master/install-2.17.sh
So for now this problem doesn't bother me anymore.
Thank you anyway!

[2018-01-25 14:06] Quarkmus commented on #2186
@boegel So if I'm using HMNS I have to add those paths manually to the MODULEPATH?
This confuses me as det_init_modulepaths returns exactly those missing paths, is there no way to automate this?

[2018-02-01 11:09] boegel opened #2389 "bootstrap script should fall back to 'pip install' during stage 1 if 'easy_install' fails"
Several people, including @teojgo and @A1ve5 and also @adamryczkowski (cfr. #2354) have reported running into problems with the EasyBuild bootstrap stage 1 failing with:

[code]

when running `easy_install --quiet --upgrade --prefix=/tmp/<random_sudir>/eb_stage1 easybuild`

The exact reason that this fails is unclear to me, but it looks like an incompatibility between old `setuptools` versions and

[2018-02-01 11:48] akesandgren commented on #2226
I can also see a big improvement by removing non-existing dirs from MODULEPATH

[2018-02-02 17:38] teojgo commented on #2389
I managed to successfully run the bootstrap script and install Easybuild. Let me be more specific. I run Linux Mint 18..3. I initially had the above error but I solved it by installing `setuptools` via the apt package manager. It seems that somehow the setuptools installed by pip confuse the script and cannot run correctly the `easy_install` steps.

[2018-02-05 14:02] zao opened #2393 "bootstrap fails to locate its EasyBuild with `HierarchicalNMS`"
I've got `HierarchicalNMS` configured in an `easybuild.d` configuration file and am trying to bootstrap into `/eb`.
The installation procedure seems to complete but some phase after the installation seems to fail.

[code]

[2018-02-05 20:34] bryank-cs opened #2394 "eb -S output truncation yields wrong output"
When searching for IGV with "eb -S IGV", the output improperly truncates the IGVTools directory name:

[code]

[2018-02-06 11:36] rjeschmi commented on #1407
This is still something that should be reconsidered. I'll add this here as well:
http://jsonnet.org/

[2018-02-06 12:07] ocaisa commented on #1407
#2181 is a step in right direction for this, opening the door to dumping yebs to (a set of) easyconfigs at runtime and then using existing resolution methods

[2018-02-06 13:56] boegel commented on #2226
@rtmclay Does this ring a bell for you? Why would Lmod be significantly slower with a bunch of non-existing paths included in `$MODULEPATH`?

Note that this is with Lmod under EasyBuild's control, so with `$LMOD_IGNORE_CACHE` set...

[2018-02-06 22:03] ndusek commented on #2366
@boegel What is the earliest version of the Tcl Modules software that EB supports? We have a cluster running 3.2.10 which should be compatible according to the docs, but it is not recognized by the bootstrap script. Here is the output of `module --version`

[code]

Let me know if I should file this under a new issue or not. I did look into #2341  and #2365 and it looks like 4.0 commits have been m

[2018-02-06 22:10] boegel commented on #2366
@ndusek 3.2.10 is supported, it should be auto-recognised by the bootstrap script as `EnvironmentModulesC`, are you saying it doesn't?
Note that you must have the actual `modulecmd` binary available via `$PATH`, which is non-standard...

You can also try bootstrapping after specifying which modules tool it should use, via:

[code]

[2018-02-06 22:29] ndusek commented on #2366
Correct, it does not auto-recognize it. But we did not have the `modulecmd` binary in `$PATH`. Adding that in did prompt it to recognize our version of Modules. Thank you!

[2018-02-07 10:27] boegel commented on #2366
@ndusek Having `modulecmd` available via `$PATH` is a strict requirement, see also http://easybuild.readthedocs.io/en/latest/Installation.html#requirements .

[2018-02-07 13:03] ocaisa opened #2396 "Comparing compilation options"
I came across this comparison of optimisations options between PGI, Clang, GCC and XL. It is probably useful to try to line the EB options with these (and particularly incude anything we might be missing).

The original file is at http://www.idris.fr/media/ouessant/ouessant-user_guide.pdf and is targeted at an OpenPOWER system.
<img width="1119" alt="screenshot 2018-02-07 13 58 38" src="https://us

[2018-02-07 14:11] ndusek commented on #2366
Ok, I do see that now. Must have missed it. Thanks again.

[2018-02-12 22:09] boegel opened #2402 "combining multiple compiler wrappers may result in 'fork bomb'"
When multiple compiler wrappers are being used together, e.g. when `--rpath` or `--use-ccache` are used when building `TensorFlow` with the `intel` toolchain (which involves a wrapper to ensure `icc` still works when being called by Bazel, cfr. https://github.com/easybuilders/easybuild-easyblocks/pull/1287/files#diff-925e7942309e22e4c64cb2d99b50c206R77, one wrapper ends up calling the other wrappe

[2018-02-12 22:17] boegel commented on #2402
Another option would be that the wrappers we generate filter their own location from `$PATH` before calling out to whichever compiler command is next in `$PATH`...

[2018-02-13 19:06] bmcgough commented on #538
+1 - with the increasingly large monolithic builds that we are doing for R and Python, failing a download is much more common than it should be. We are beginning to cache source downloads so we don't rely on PyPi, CRAN, or Bioconductor as none of them have 100% uptime.

[2018-02-13 22:33] fgeorgatos commented on #2394
good catch; in fact, this has never worked exactly in an excellent way, personally i'd rather see the following to happen:
* an EasyBuild modulefile defines $EBROOTEASYBUILD and could also provide $EB_EASYCONFIGS
* the output of `-S` should rather be defined against that $EB_EASOCONFIGS, where applicable
(choose your names, this is just an idea)

[2018-02-13 22:37] fgeorgatos opened #2403 "feature request? --strict=warn,ignore should allow more liberal --group options"
I would claim, that the following should have worked, regardless of local directory intricacies:

[code]

[2018-02-14 09:13] jdonners commented on #2402
the second option is the right one, IMHO. That is what our compiler wrappers do as well. One issue with this option is that the compiler and linker wrappers would have to be in separate paths, because the compiler usually calls the linker, which should call the linker wrapper first to add the RPATH.

[2018-02-14 22:24] jdonners commented on #2349
Most of the information in this document applies to the Intel compiler in general, already for many years. Some options have changed with the 18 release, but I don't see that anything fundamental about precision handling has changed.

[2018-02-15 14:39] pescobar opened #2405 "wrong indentation when using a multi line `modloadmsg` with Lua format"
I have noticed that if define this in an easyconfig:
[code]

The indentation is wrong when loading the module:
[code]

This is the generated Lua modulefile:

[code]

If I modify the modulefile like this then it works ok:
[code]
It would be cool if easybuild would generate the modulefiles with the proper indentation.

By now I am using a workaround suggested by Zao in the chat using `\r`

[code]

[2018-02-15 23:30] 0xaf1f opened #2406 "unit test failures with easybuild 3.5.1 on CentOS 7"
I'm setting up easybuild on a VM to evaluate it, but I get two failures when running the unit tests, so I'm reporting them here
[easybuild-tests-halibw.log.gz](https://github.com/easybuilders/easybuild-framework/files/1729748/easybuild-tests-halibw.log.gz)
 [as directed](http://easybuild.readthedocs.io/en/latest/Installation.html#running-unit-tests):

[code]

The log file is attached.

[2018-02-16 18:00] damianam opened #2407 "Add hooks executed to the output"
Wouldn't it make sense to add something like `== running whatever_hook` to the output, so at least it's clear that a hook is being executed?

[2018-02-16 23:54] fgeorgatos commented on #2407
+1
--
echo "sysadmin know better bash than english"|sed s/min/mins/ \
  | sed 's/better bash/bash better/' # signal detected in a CERN forum

[2018-02-19 13:02] SethosII opened #2408 "Endless loop during initialization with non-existing directories in MODULEPATH"
I recently switched from using `.../modules/all` in the `MODULEPATH` to `.../modules/{bio,compiler,...}` and for completeness sake I added all categories that EasyBuild currently has, but since then EasyBuild gets stuck:

[code]

Here is the log: [easybuild-lQ_eaM.log](https://github.com/easybuilders/easybuild-framework/files/1736687/easybuild-lQ_eaM.log).

If I remove all non-existing directories

[2018-02-19 15:16] boegel commented on #2408
@SethosII How much time did you give it? This looks very related to #2226...

Are you using Lmod? If so, which version?

[2018-02-20 06:26] SethosII commented on #2408
@boegel I tried again and in the end it took more than 10 minutes. So indeed, no endless loop ;) Yes, I'm using `Lmod` version `7.7.14`. So I will close this one and move to the other issue.

[2018-02-20 06:26] #2408 closed

[2018-02-20 06:39] SethosII commented on #2226
I encountered the same issue with non-existing directories in `MODULEPATH` slowing down EasyBuild considerably (see #2408, for me the initialization of EasyBuild takes more than 10 minutes). Here is the log: [easybuild-aML_jl.log](https://github.com/easybuilders/easybuild-framework/files/1739092/easybuild-aML_jl.log). Notice how `lmod python use ...` is executed over and over again for the same di

[2018-02-20 10:17] boegel commented on #2407
It's already mentioned in the log, but I guess it doesn't hurt to have it more prominent...

Easy to change in `run_hook` (https://github.com/easybuilders/easybuild-framework/blob/master/easybuild/tools/hooks.py#L160), just add a call to `print_msg` next to the `log.info` call...

[2018-02-20 19:19] boegel commented on #2402
Fix for wrapper used in `TensorFlow` easyblock when building with `icc` is in https://github.com/easybuilders/easybuild-easyblocks/pull/1361, fix for RPATH wrapper is in https://github.com/easybuilders/easybuild-framework/pull/2410

[2018-02-20 23:14] shahzebsiddiqui opened #2411 "add support for custom easyconfig repo in singularity containers"

[2018-02-20 23:15] shahzebsiddiqui opened #2412 "Feature Req: add custom easyblock repo in singularity container"

[2018-02-20 23:17] shahzebsiddiqui opened #2413 "Feature Req: custom root commands in %post section"
eb should allow option to install packages into singularity container at build time. This would be useful when building MPI to install certain package deps prior to building container.

easybuild-framework should be able to add any root commands prior to build. Either this can be done with a custom easybuild base container or ability to do this generated recipe file.

eb should be able to add cust

[2018-02-21 16:25] shahzebsiddiqui opened #2414 "Feature Req: Specify sourcefiles in container"
@boegel

easybuild cant build singularity container when it can't pull sourcefiles from upstream site. The tarballs can go in /scratch/sources in the container and have eb inside container find them during the build

[code]

[2018-02-22 21:19] #2402 closed

[2018-02-23 08:48] fgeorgatos commented on #2402
Apologies for arriving late for the show (but you see, reading your email backlog during a flight has its advantages!)

Couldn’t this need by treated somewhat by hacking together a solution around Lmod’s StackedVariables concept?!

Don’t get me wrong, that might impose a single modules back-end but it comes with the benefit of ability to control the ordering in the stack of wrappers, which might i

[2018-02-23 09:12] boegel commented on #2402
@fgeorgatos The RPATH wrappers are put in place dynamically, as a part of setting up the build environment for the toolchain & dependencies. I don't think Lmod is of much help in that context.

[2018-02-23 16:24] pescobar commented on #1964
I have also hitted this one

[2018-02-28 13:47] SethosII opened #2415 "new-pr GitHub integration stuck on first try, works on second try"
Whenever I use the `--new-pr` option for the first time in a session it gets stuck during `copying easyconfigs` like this:

[code]

Here is the [log](https://github.com/easybuilders/easybuild-framework/files/1767224/easybuild-VZNOTH.log).

However, it succeeds on the second try.

[2018-03-01 15:37] boegel opened #2417 "no way to override use of software-specific easyblock for extensions"
When installing extensions, EasyBuild will currently first try to find and import an easyblock based on the extension name, before it falls back to determining an easyblock to use based on `exts_classmap` and finally `exts_defaultclass` (see `for` loop in `extensions_step`).

This is a potential issue when there is an easyblock available that matches the extension name, but shouldn't be used... Th

[2018-03-01 17:00] shahzebsiddiqui opened #2418 "--update-pr issue with multilevel Fork structure"
We have a fork of easybuild-easyconfig in organization PfizerRD and I have my fork from PfizerRD.

See https://github.com/PfizerRD/easybuild-easyconfigs and https://github.com/shahzebsiddiqui/easybuild-easyconfigs

My git remotes are the following, and I am cloning from origin

[code]

My github easybuild is configured to push to origin

[code]

I have a PR https://github.com/easybuilders/easybuil

[2018-03-01 17:08] boegel commented on #2418
@shahzebsiddiqui I think the problem is that `--update-pr` pushes the updated branch to whatever account you have specified in `--github-org` or `--github-user` (in your case `shahzebsiddiqui`), rather than the account/organisation where the branch relating to the PR lives (in your case `PfizerRD`).

Can you check whether this change fixes your problem? Basically change `github_account` to `target

[2018-03-02 08:14] boegel commented on #2418
fixed in #2419

[2018-03-02 08:14] #2418 closed

[2018-03-02 19:35] vanzod opened #2423 "--new-pr is broken in EasyBuild 3.5.2"
When using `--new-pr` with `EasyBuild-3.5.2`, it fails since it tries to push to the upstream `easybuilders/easybuild-easyconfigs repo instead of the personal fork.

[code]

[2018-03-02 19:35] shahzebsiddiqui commented on #2418
@boegel i see this is merged, looks fine with me.

[2018-03-02 19:41] boegel commented on #2418
Well, the downside is that I introduced a bug in #2419, which breaks `--new-pr` in EasyBuild v3.5.2, see #2423 ... :(

[2018-03-04 08:51] boegel commented on #2415
@SethosII It gets stuck when pushing the branch it has created to GitHub, apparently...

Can you try running `eb --check-github` in a new session, do you see something fishy being reported there? What if you run it a second time, is it different?

There was a DDOS attack on GitHub around the time you reported this issue, maybe it's related to the problems you were seeing? Or has this been occurrin

[2018-03-05 06:34] SethosII commented on #2415
@boegel The odd thing is that the branch gets pushed. See here: https://github.com/SethosII/easybuild-easyconfigs/branches. There are two `ChimPipe` branches, one from the stuck command and another one from the second try.

`eb --check-github` also gets stuck on the first try:

[code]

Should I have provided the `--github-user` option? Here is the log file from the first try: [easybuild-4TdE24.log

[2018-03-05 14:14] boegel commented on #2423
@vanzod Can you verify that #2426 fixes this problem?

[2018-03-05 17:29] boegel commented on #2423
follow-up in #2426

[2018-03-05 17:29] #2423 closed

[2018-03-06 10:20] damianam commented on #2127
This has been added, so I am closing the issue.

[2018-03-06 10:20] #2127 closed

[2018-03-06 10:52] damianam commented on #1723
Fixed here https://github.com/easybuilders/easybuild-framework/pull/2228

[2018-03-06 10:52] #1723 closed

[2018-03-06 17:53] mrobbert opened #2428 "Bootstrap fails on CentOS 6"
I am trying to install Easybuild on CentOS 6 and can not get it to work. I tried first on our cluster and after multiple unsuccesful attempts I installed a basic CentOS 6 VM to see if maybe we had some customizations that were incompatible, but I'm seeing the same error. Should this work or do we need to upgrade to CentOS 7?

 Here are my systems stats:
[code]

[code]

[code]

Here is the full out

[2018-03-06 18:11] boegel commented on #2428
@mrobbert This issue has been reported before, the problem seems to be that old versions of `setuptools` can not communicate with https://pypi.python.org/pypi anymore... See https://bugzilla.redhat.com/show_bug.cgi?id=1510444 for more details.

The easiest workaround is to update your system `setuptools` installation to a sufficiently recent version, that way the bootstrap script won't need to ins

[2018-03-06 18:14] boegel commented on #2428
A fix we have in mind for this is to try `pip` as well in case `easy_install` fails during `stage 1`, see https://github.com/easybuilders/easybuild-framework/issues/2389.

Would that help in this case @mrobbert?

[2018-03-06 18:29] mrobbert commented on #2428
I can't say if that fix would work or not, but if it gave me a path to install on CentOS or RHEL 6.x that would help me and I'd be willing to test it.
I will note that I did a little more playing around in my VM and found that if I ran the easy_install manually it failed due to a problem with git+https being an unknown protocol. Then I tried the offline install procedures and that worked. I though

[2018-03-06 18:32] boegel commented on #2428
@mrobbert Do you have `openssl-devel` installed? Cfr. https://github.com/easybuilders/easybuild/issues/23

I'll try and see if I can find some time to enhance the bootstrap script to fall back to `pip`.

I guess the first questions there are: i) do you have `pip` installed, ii) which version?

[2018-03-06 19:18] mrobbert commented on #2428
[mrobbert@centos6 ~]$ rpm -qa|grep openssl
openssl-devel-1.0.1e-57.el6.x86_64
openssl-1.0.1e-57.el6.x86_64
[mrobbert@centos6 ~]$ rpm -qa|grep pip
python-pip-7.1.0-1.el6.noarch

[2018-03-06 19:41] boegel commented on #2415
@SethosII Interesting...

Please run `eb --check-github --debug` in a new session, and provide the log to us.

Also, check with providing `--github-user` as well to `eb --check-github` (but it probably won't make a difference for the hang).

Try to kill the running command from another session rather than cancelling with with Ctrl-C, that may make a difference for the log, we may get some more inf

[2018-03-06 20:35] boegel commented on #2407
fixed in #2427

[2018-03-06 20:35] #2407 closed

[2018-03-07 06:53] SethosII commented on #2415
@boegel Here are output and logs with and without `--github-user` canceled with kill.

[code]

[easybuild-jRY7SH.log](https://github.com/easybuilders/easybuild-framework/files/1788005/easybuild-jRY7SH.log)

[code]

[easybuild-ONep13.log](https://github.com/easybuilders/easybuild-framework/files/1788001/easybuild-ONep13.log)

The `GitPython` ist from the Ubuntu 16.04 repository: https://packages.ub

[2018-03-07 09:39] boegel commented on #2415
@SethosII OK, this helps...

It seems like it's the `git clone` that gets stuck. Can you try a manual `git clone git@github.com:SethosII/easybuild-easyconfigs.git` in a new session, does that also get stuck?

It seems like several related issues have been solved in more recent versions of `GitPython`, so I would definitely look into trying a new version of `GitPython`, I don't think there's much w

[2018-03-07 11:51] SethosII commented on #2415
@boegel Cloning manually runs without problems.

I grabbed the 18.04 package of `python-git` and updated dependencies (`python-gitdb` and `python-smmap`) but it still gets stuck while cloning:

[code]

[easybuild-0WUvIV.log](https://github.com/easybuilders/easybuild-framework/files/1788772/easybuild-0WUvIV.log)

[2018-03-08 10:35] boegel commented on #1964
proposed fix in #2432

[2018-03-08 21:31] crbaird opened #2433 "vi swap file in easybuild-framework-3.5.3.tar.gz"
Purely a cosmetic issue, but RPMLINT noticed a vi swap file snuck in the latest release tarball:

easybuild-framework-3.5.3/test/framework/sandbox/easybuild/easyblocks/generic/.toy_extension.py.swp

[2018-03-11 15:18] boegel commented on #2433
Thanks for reporting this @crbaird!

There's little we can do about this for the 3.5.3 release, since in-place updating the existing source tarball is not something I want to do (also, `PyPI` simply doesn't allow it, for good reasons).

The impact of this should be marginal, am I right? Once EasyBuild is installed this doesn't matter anymore, i.e. the `.swp` is not included in the actual installat

[2018-03-12 12:53] boegel commented on #1964
follow-up in #2432

[2018-03-12 12:53] #1964 closed

[2018-03-12 16:17] crbaird commented on #2433
I understand and appreciate not wanting to silently 'update' a published tarball. It does end up in our RPM, but as you say there is no impact to users.

[2018-03-14 04:39] migueldiascosta commented on #2334
just ran into this issue again, this time with `--new-pr`

[2018-03-14 04:42] migueldiascosta commented on #2334
additionally, `--new-pr` with a patch file asks for a custom `pr-commit-message` even if the easyconfig is a new one, shouldn't the message be autogenerated also in this case?

[2018-03-14 08:41] migueldiascosta commented on #2334
I can submit a PR for this, but I see two alternatives:

1) skip staging the patch in `_easyconfigs_pr_common` (fixes the crash but will still not show the patch)

2) add `force_in_dry_run=True` to `copy_file` in `copy_patch_files` (not sure if it will affect anything else)

[2018-03-14 11:35] JackPerdue opened #2439 "GitHub code should indicate that python2-keyring (or similar) is not installed instead of saying "No token""
``
[j-perdue@terra2 2017b]$ eb -D --new-pr --github-user=JackPerdue cuDNN-7.0.5-goolfc-2017b.eb
== temporary log file in case of crash /tmp/j-perdue/tmp/eb-tqwHay/easybuild-LAMl2F.log
== resolving dependencies ...
ERROR: GitHub token for user 'JackPerdue' must be available to use --new-pr

# MAGIC FIX!!! (I know I already have a token given past usage)
[j-perdue@terra2 2017b]$ sudo yum install pyt

[2018-03-14 19:53] #2354 closed

[2018-03-14 19:58] boegel commented on #2334
@migueldiascosta The latter is probably the best option... `force` sounds scary, but since we're copying to a temporary directory that is set up to prepare the branch to push to GitHub, that's OK imho

[2018-03-14 20:16] shahzebsiddiqui opened #2441 "BUG: Backup modules created with --module-only"
@damianam @boegel

Looks like whenever I want to run --module-only I get a backup module created that is part of ``module av``

The backup should be hidden but I assume you had to specify ``--backup-modules`` in order to do this. Right now it is doing by default.

I am running Lmod 6.5.1 on Redhat 7.3

[code]

[2018-03-14 20:23] boegel commented on #2441
@damianam Seems like we should always make the backup modules hidden by using a leading dot (`.`) in the filename?

@rtmclay Is it possible that Lmod 7 only considers files ending in `.lua` as module files, while Lmod 6 was picking up anything that has `.lua` somewhere in the filename?

See above: the (backup) module file `M4/1.4.17.lua.bak_20180314160540` is being shown by Lmod 6.5.1 as `M4/1.4.1

[2018-03-15 08:05] migueldiascosta commented on #2334
fixed by #2442

[2018-03-15 09:32] migueldiascosta opened #2445 "travis checks seem to be skipping github integration tests when using python 2.7 (but not with 2.6)"
e.g. https://travis-ci.org/easybuilders/easybuild-framework/builds/353717946

[2018-03-16 07:56] SethosII commented on #2415
@boegel I encountered something similar while using `--update-pr`. See this commit: https://github.com/easybuilders/easybuild-easyconfigs/pull/5930/commits/eadee0a8f4fb62c7b12e9d4f1bbe35bde654b791. `--update-pr` gets stuck but succeeded to push and got the author and commiter wrong:

[code]

[easybuild-S_qio1.log](https://github.com/easybuilders/easybuild-framework/files/1818351/easybuild-S_qio1.l

[2018-03-16 15:55] boegel opened #2447 "pypi_source_urls function broken"
Probably an upstream issue at PyPI, seems this worked fine before....
Reported at https://github.com/pypa/pypi-legacy/issues/783

[code]

[2018-03-16 16:37] boegel commented on #2447
Should be fixed now, see https://github.com/pypa/pypi-legacy/issues/783 and https://github.com/pypa/warehouse/pull/3294.

[2018-03-16 16:37] #2447 closed

[2018-03-16 22:02] boegel commented on #2445
I'm not sure why those tests are only skipped for Python 2.7, getting #2449 merged would help (just having the PR open doesn't help, the GitHub token is not available in PR tests for security reasons...).

[2018-03-19 21:48] rtmclay commented on #2441
It is true that Lmod 7 only considers files that end in *.lua as Lua modulefiles.  Lmod 6.5.1 considers files that have .lua anywhere as a lua modulefile.

[2018-03-19 22:46] pescobar opened #2453 "GCCcore installed twice . Bug in --hide-deps ?"
I just installed latest easybuild 3.5.3 and when trying this:

[code]

I get this list of apps to be built:

[code]

I have double checked that GCCore is built twice if I try to build foss/2016b . Is this a bug in `--hide-deps` ?

[2018-03-20 08:39] boegel commented on #2453
@pescobar To hide toolchains, you need to use `--hide-toolchains` (too). Toolchains & dependencies are considered different things.

[code]

[2018-03-20 10:05] boegel commented on #2441
@damianam Are you up for looking into a fix for this?

[2018-03-20 21:12] pescobar commented on #2453
ups, I forgot about that. Sorry for the noise

thanks @boegel !

[2018-03-20 21:12] #2453 closed

[2018-03-21 12:30] boegel commented on #2445
Also need #2454 to get correct output from `--check-github`...

[2018-03-27 06:52] MisterFruits opened #2456 "Add a "fetch only" option"
There is currently a way to easily get tarballs for an easyconfig (and dependencies). This is very convenient when the WWW is not accessible from where installation takes place.

It can be done this way:

[code]

Nevertheless it still requires a module tool on the machine. While it could be easy to install, it also could no be wanted.

I which I could work on this issue if implementation is not to

[2018-03-27 09:46] MisterFruits commented on #2456
I started implementing this feature. Few interrogation:
 - would ``--fetch`` belongs to "Basic Options" ?
 - where should I document the feature in the documentation ? (beside the option page)

[2018-03-29 10:46] omula opened #2459 "dry-run misleading behaviour"
While running eb with -D option it tries to look for the easyconfig file. If the software has been installed with --try-toolchain(-name|-version) it will not find the easyconfig file. Therefore, it will show a message with irresolvable dependencies.

[code]

If running without -D the software can be installed properly.
[code]

[2018-03-30 12:02] boegel commented on #2334
fixed with ~~#2442~~

[2018-03-30 12:02] #2334 closed

[2018-03-30 13:21] boegel commented on #2415
@SethosII Sorry for not getting back to this, but the cause of the issue is still unclear to me... You're using what's pretty much the latest version of `GitPython`, so we can't blame it on an old version either.

What's strange is that I haven't heard from anyone else with problems like this, so it must be something in your setup.

The faulty author in the commit intrigues me... I assume it didn'

[2018-03-30 18:56] boegel commented on #2441
Fix implemented in #2463, let's follow up there...

[2018-03-30 18:56] #2441 closed

[2018-03-30 19:42] boegel commented on #2226
I'm having trouble reproducing this...

I tried adding a whole bunch of non-existing directories in `$MODULEPATH` using:

[code]

But I'm not seeing any noticeable slowdown. Am I overlooking something?

[2018-03-31 08:25] boegel commented on #2459
I'm not sure this is easy to fix... `--dry-run` (or `-D`) needs the easyconfig files to figure out the dependencies, those can not be easily derives from an existing module file (at least not in a way that `eb` needs them).

One way to work around this is to include the location where EasyBuild stores easyconfigs that were installed into the robot search path (see `repositorypath` in the output of

[2018-04-03 09:27] omula commented on #2459
Does it need to be the path containing the .eb file or will it recurse sub-directories and therefore can use the installpath?

[2018-04-09 13:48] sdesrozis opened #2469 "Error with toolchain gimkl"
(sorry for multiple post...)

Hello,
I would like to use a toolchain gimkl, meanning GCC + Intel MKL + Intel MPI. I have modified a HDF5 1.8.20 easybuild to enable gimkl-2017b toolchain (more or less equal to 2017a) and I have the following error during build step :`

[code]

You can check that CPPFLAGS includes mkl headers (here math.h, but also intrinsics etc.) which are not compatible with GCC.

[2018-04-10 11:26] SethosII commented on #2415
@boegel No problem. And if nobody else encountered it I can live with the issue. `paul` is my local account name there. So it ignored the `--github-user` (Github username) and `.gitconfig` (full name) in this situation. I don't have special `git` configurations in place. The `.gitconfig` only contains name and email and there is no special configuration for the repository.

[2018-04-10 11:48] SethosII commented on #2226
@boegel This might be due to our file system having a very bad latency/small read behaviour which amplifies the issue. Do you have a measurable slow down with non existing directories?

[2018-04-15 07:55] riccardomurri commented on #1441
Sorry, completely fell off my radar ... :-(

[2018-04-15 08:36] boegel commented on #2226
OK, I gave this another try, with:

* `$HOME` an NFS mount (so quite slow)
* 1000 non-existent directories in `$MODULEPATH`, added via `module use`

[code]

So there's a noticeable slowdown of about 5x, but I don't think that's a surprise with 1000 (non-existing) directories, since Lmod will check each of those locations whether it has modules present in those locations.

Creating the directories

[2018-04-17 16:01] riccardomurri commented on #1441
Could anyone please test #2474 ?  That should fix this issue.

[2018-04-17 18:47] shahzebsiddiqui opened #2475 "osdependency list with eb-singularity"
eb should process all easyconfigs to generate os dependency list that must be added to %post section in the container. Right now the osdependency list is done on the calling easyconfig.

This line https://github.com/boegel/easybuild-framework/blob/package_singularity/easybuild/tools/containers.py#L167 needs to be fixed.

[2018-04-17 18:55] boegel commented on #2475
As per @FooBarQuaxx 's suggestion, the idea would be to:

* let `main.py` resolve dependencies first
* harvest all OS dependencies from the dependency graph
* use the same `eb` command as was called on the command line, but remove all `--container-*` options (similar to what we do for `--job`, see https://github.com/easybuilders/easybuild-framework/blob/master/easybuild/tools/parallelbuild.py#L129

[2018-04-17 18:57] FooBarQuaxx commented on #2475
Small thing, `--container*` to accommodate for `--containerize` too.

[2018-04-18 08:54] FooBarQuaxx commented on #2475
On a related note, we should also add `containerize` to the `auto_ignore_osdeps_options` set: https://github.com/easybuilders/easybuild-framework/blob/master/easybuild/tools/config.py#L374.

[2018-04-18 09:39] boegel commented on #2475
done in 66895f1bb (which is part of https://github.com/shahzebsiddiqui/easybuild-framework/pull/3, which will be included in https://github.com/easybuilders/easybuild-framework/pull/2332)

[2018-04-19 16:14] FooBarQuaxx commented on #2475
Another thing is to remove the `--ignore-osdeps` too from the returned `ec_go.generatet_cmd_line()` returned list.

[2018-04-24 17:14] akesandgren commented on #2469
Has to be something else causing the problem. There is no math.h in mkl.

[2018-04-25 06:36] migueldiascosta opened #2484 "--container-build-image leaves image owned by root..."
... shouldn't `eb` `sudo chown` it to the user running `eb`?

cc @shahzebsiddiqui @boegel

[2018-04-25 06:54] boegel commented on #2484
I was discussing this same thing with @shahzebsiddiqui earlier, but we weren't sure...

We could `chown` to `$USER`, but we should also `chgrp`?

Thoughts @FooBarQuaxx?

[2018-04-25 09:43] FooBarQuaxx commented on #2484
If that's needed, well you can always get correct values from python `pwd` module, eg: `pwd.getpwuid(os.getuid())`

[2018-04-25 11:07] boegel commented on #2469
@sdesrozis As discussed in the EasyBuild Slack channel: please check whether your Intel MKL was installed with only MKL.

You can specify `components = ['intel-mkl']` in the easyconfig file in case you're tweaking the `sources` spec to use the tarball for the full Intel Parallel Studio (or whatever it's called these days)

[2018-04-25 11:59] boegel commented on #2469
We're making the `components = ['intel-mkl']` consistent in https://github.com/easybuilders/easybuild-easyconfigs/pull/6234

[2018-04-25 16:38] pescobar opened #2486 "support for custom docker and singularity registry"
Hi

I know that this is still not released ;) but I noticed that we cannot use a custom registry for the base container image. Only offficial docker hub and singularity hub can be used
http://easybuild.readthedocs.io/en/develop/Containers.html#base-container-image-container-base

It would be really cool to be able to use a custom/private registry. I am asking this because during my tests with the

[2018-04-25 17:49] guest1604 commented on #2469
@boegel Thanks for your help ! For my part, using `components = ['intel-mkl'] ` solved this issue.

However, we use "parallel_studio_xe_2017_update4.tgz" to provide "imkl 2017.3.196" and "impi 2017.3.196" (for "intel/2017b" and "gimkl/2017b" toolchains), and Intel installer asks a license, so we have to comment `kwargs['requires_runtime_license'] = False` in "impi.py" and "imkl.py" like below  :
[

[2018-04-25 18:05] boegel commented on #2469
@guest1604: there's no need to change the easyblocks for this, you can do this in the easyconfig files as well, by including `requires_runtime_license = False`

[code]

[2018-04-25 19:47] boegel commented on #2486
@pescobar Is that actually supported by Singularity? I don't see that mentioned in https://singularity.lbl.gov/docs-recipes#header...

[2018-04-25 19:55] guest1604 commented on #2469
@boegel Intel installer required an activation type so I have to use `requires_runtime_license = True` (I "use parallel_studio_xe_2017_update4.tgz" as source).

I tried this but I have the same error if I use `requires_runtime_license = True` or `requires_runtime_license = False` => `The product you are installing does not support  activation type. Use other\nactivation options.`

This easyconfig

[2018-05-02 10:24] smoors opened #2495 "error when using eb --new-pr"
when I create a PR with `eb --new-pr`, it works, but then I get this error:
[code]

[2018-05-02 15:14] vanzod opened #2496 "--from-pr does not seem to merge with develop branch"
While testing https://github.com/easybuilders/easybuild-easyconfigs/pull/6263 with `--from-pr`, it seems that a previously merged PR (https://github.com/easybuilders/easybuild-easyconfigs/pull/6261) does not get pulled automatically.

Full debug log:
https://gist.github.com/vanzod/a19c284ce3dd953a886b72cfcec2aecc

[2018-05-02 17:53] boegel commented on #2496
@vanzod `eb` *does* merge the PR with `develop` before actually using the easyconfigs, that's not the problem:

[code]

The problem is that you have `/opt/easybuild/ebfiles_repo` listed in `--robot-paths`, and that the easyconfig for the `NiBabel` dependency is taken from there:

[code]

This easyconfig was installed with a version of framework that pre-dates https://github.com/easybuilders/easybu

[2018-05-02 18:47] vanzod commented on #2496
Correct. I removed the file and it proceeded correctly.
Closing issue.

[2018-05-02 18:47] #2496 closed

[2018-05-03 14:19] boegel commented on #2495
fixed in #2497

[2018-05-03 14:19] #2495 closed

[2018-05-04 15:27] mboisson opened #2499 "sanity_check does not load the temporary module if there is a system one that exists already when using HMNS"
Ran into that problem testing
https://github.com/easybuilders/easybuild-easyblocks/pull/594

You can see in that gist that `/cvmfs/soft.computecanada.ca/easybuild/modules/2017/avx2/MPI/intel2016.4/openmpi2.1/lammps-omp/20170811.lua`
is loaded instead of loading the temporary one
`/tmp/eb-oNdpYJ/tmpRugaDe/avx2/MPI/intel2016.4/openmpi2.1/lammps-omp/20170811.lua`

https://gist.github.com/mboisson/408

[2018-05-04 15:27] mboisson commented on #2499
Tagging @boegel

[2018-05-04 15:34] boegel commented on #2499
I need to look into this in more detail, but I think this is a bug in framework...

Have you ever seen this popping up @damianam or @ocaisa?

[2018-05-07 12:00] ocaisa commented on #2499
What version of Lmod are you using? The temporary path should be the last `module use` statement. Do you have a module that adds modulepaths? A (somehow triggered) unload/load of such a module could put the system one back at the front of the path.

[2018-05-07 12:37] mboisson commented on #2499
We're using Lmod 7.7.4.

We do use a hierarchical module schema, so yes, the compiler, MPI and Cuda modules all add to the modulepath.

Lmod offers a way to deal with module path priority however.
Something like :
module use --priority=1000000 /tmp/...

should do it to ensure that this module is the one that is being used.

[2018-05-07 13:07] ocaisa commented on #2499
This problem doesn't really ring any bells but there quite a few configuration possibilities for the hierarchies that might trigger a reload, the temporary `priority` option to Lmod  seems like a straightforward way to sidestep this issue.

[2018-05-07 15:47] shahzebsiddiqui opened #2500 "build customized easybuild base containers"
eb should be able to build custom easybuild base containers. Users may build their base container locally and use it to bootstrap the image or build this in shub.

Also the images ``shahzebsiddiqui/eb-singularity:centos-7.3.1611`` and ``shahzebsiddiqui/eb-singularity:centos-7.4.1708`` need to be build with easybuilders repo and the template file need to be merged to https://github.com/easybuilders

[2018-05-07 15:53] shahzebsiddiqui commented on #2486
@pescobar i would not build your containers in SHUB I already tried this and it takes way too long and inefficient see my collection https://www.singularity-hub.org/collections/143
Also you can't control the cloud environment and you would want to build containers locally to build tuned containers.

My though is we build the base containers in SHUB. You may use sregistry to host a private Singular

[2018-05-07 16:59] shahzebsiddiqui opened #2501 "container app dependency on easybuild framework and easyblock version"
Building easybuild containers also depend on easybuild-framework and easyblocks used for installing the application. If you are bootstrapping container with applications built with different easybuild-framework version may cause inconsistent behavior if newer versions of framework depend on software built with specific options that are addressed in easyblocks.

[2018-05-08 03:55] morrisonlevi commented on #2076
Drive-by comment: I think `$ORIGIN` ought to be supported but then again I'm just a passer-by with no additional info other than it seems odd that the "better practice" doesn't work.

[2018-05-08 06:43] boegel commented on #2076
@pescobar Is this actually still a problem? Isn't this fixed with the change made in https://github.com/easybuilders/easybuild-framework/pull/2358 (which is part of EasyBuild v3.5.0 & newer)?

[2018-05-09 13:47] JensTimmerman commented on #133
@vsoch we would follow this guide: https://portingguide.readthedocs.io/en/latest/process.html
the dropping python2.4 and python2.5 part has already been done. We are contemplating dropping 2.6 but that's not really needed.

Our idea was to have a single codebase that supports both python2 and 3, having 2 releases with py2to3 seems brittle and cumbersome, especially if you target to eventually swit

[2018-05-09 13:50] vsoch commented on #133
Definitely! Would you like help with the dependency libraries or should I hold tight and start contribution for just easy build? If you can point me to the right places (links) I would be happy to take a shot at the first task too.

[2018-05-09 16:37] boegel commented on #133
@vsoch There's little point on starting to point EasyBuild when `vsc-base` hasn't been ported...

We need `vsc-install` too, but currently only for running the tests (and if we need to we can probably get around that fairly easily, since I suspect it won't be that easy to port `vsc-install`).

So, if you would like to contribute: `vsc-base` is definitely a good place to start, see https://github.c

[2018-05-09 16:38] boegel commented on #133
@vsoch This may be helpful, to get an idea what you're getting into... https://github.com/hpcugent/vsc-base/pull/142

[2018-05-15 10:04] scroogie commented on #2394
Confirmed in EasyBuild 3.6.0. Seen when searching for Amber as well (cutting the Prefix).

[2018-05-15 20:08] boegel commented on #133
Some progress on this, thanks to @vsoch:

* PR to add support for running `vsc-base` on top of Python 3.x: https://github.com/hpcugent/vsc-base/pull/258
  * which, in turn, requires `vsc-install` to be compatible with Python 3.x: https://github.com/hpcugent/vsc-install/pull/83

[2018-05-17 08:26] boegel commented on #2302
@kometchtech I just noticed that this was left unanswered, my apologoies...

Did you ever figure out what the problem was here?

[2018-05-17 15:53] Flamefire opened #2503 "Autogenerated EasyConfig overwrites existing file"
The autogenerated EasyConfig (by tweak.py) does not seem to check for existence of the file to generate. So if there is a (maybe not exactly matching) EasyConfig, then this gets overwritten.

This just happened to me:

- Create GPI2-1.3.0-GCCcore-6.4.0.eb in current directory
- Run eb --software=GPI2,1.3.0 --toolchain=GCCcore,6.4.0 -r
- EB fails with `Unable to find an easyconfig for the given spe

[2018-05-18 20:03] boegel commented on #2503
@Flamefire How about adding making the `write_file` at https://github.com/easybuilders/easybuild-framework/blob/develop/easybuild/framework/easyconfig/tweak.py#L265 conditional on the target file not existing yet?
If it does exist we can either fall back to write to a temporary location, or fail with a clear error message.

In any case: you're absolutely right, blindly overwriting an existing file

[2018-05-18 20:35] boegel commented on #2503
@Flamefire proposed fix in https://github.com/easybuilders/easybuild-framework/pull/2504

[2018-05-21 09:19] boegel commented on #2445
This should be fixed with #2505, the problem is that a plain text keyring is enforced in `test/framework/suite.py`, but this was not done correctly for recent version of `keyring` where `keyrings.alt` is also being used...

[2018-05-22 00:25] migueldiascosta commented on #2503
fixed by #2504

[2018-05-22 00:25] #2503 closed

[2018-05-22 09:39] boegel commented on #2499
After taking a closer look at this, I'm wondering whether this is a bug in Lmod, I'm not sure...

Here's what's going on with a hierarchical module naming scheme, assuming that we're (re)installing `foo/1.2.3` with `foss/2018a` (via `load_fake_module` in `easyblock.py`):

* `eb` generates a temporary module in `/tmp`, say `/tmp/ebtmp/modules/all/foo/1.2.3.lua`
* `eb` does a `ml use /tmp/ebtmp/modu

[2018-05-22 13:30] boegel commented on #2499
@mboisson Can you check whether the proposed changes in #2506 fix the problem for you?

[2018-05-22 13:43] rtmclay commented on #2499
This is expected Lmod behavior.  You need to mark foo/1.2.3 as the default in /tmp/ebtmp/...

[2018-05-22 14:37] boegel commented on #2499
@rtmclay How is that going to help if the other module file is also marked as default? It won't, right?

[2018-05-22 20:35] rtmclay commented on #2499
Probably not.  The only safe solution is to use priority path on MODULEPATH for /tmp/ebtmp/...

But you should also mark it as a default because if foo/1.2.3 in two places then the one that is marked default will be picked.

[2018-05-23 09:33] boegel commented on #2499
Thanks a lot for the feedback @rtmclay!

For future reference: see https://lmod.readthedocs.io/en/latest/060_locating.html

[2018-05-23 12:37] boegel commented on #2499
Fixed with #2506

[2018-05-23 12:37] #2499 closed

[2018-05-24 18:16] boegel opened #2508 "integration with HPCCM (HPC Container Maker)"
We should look into leveraging the functionality provided by https://github.com/NVIDIA/hpc-container-maker to generate Docker/Singularity recipes, rather than implementing that functionality ourselves.

The HPCCM developers have re-introduced compatibility with Python 2.7 (cfr. https://github.com/NVIDIA/hpc-container-maker/pull/28) basically by our request (https://github.com/NVIDIA/hpc-container-

[2018-05-24 18:20] boegel opened #2509 "integration with Singularity Python API (`spython`)"
We should look into leveraging the Singularity Python API  a.k.a. `spython` (https://singularityhub.github.io/singularity-cli/), rather than calling `singularity` directly...

See also:

* https://singularityhub.github.io/singularity-cli/commands
* https://singularityhub.github.io/singularity-cli/api/source/spython.main.html
* https://pypi.org/project/singularity/
* https://github.com/singularityh

[2018-05-24 19:14] shahzebsiddiqui commented on #2411
See https://github.com/shahzebsiddiqui/easybuild/blob/d6453be96f59a49be2b00b567a80cd69ae285230/docs/Singularity_support.rst

[2018-05-24 19:14] shahzebsiddiqui commented on #2412
See https://github.com/shahzebsiddiqui/easybuild/blob/d6453be96f59a49be2b00b567a80cd69ae285230/docs/Singularity_support.rst

[2018-05-24 19:14] samcmill commented on #2508
FYI: PyPi package at https://pypi.org/project/hpccm/

[2018-05-24 20:16] boegel commented on #2508
HPCCM is now also available on PyPI https://pypi.org/project/hpccm/, that's certainly going to be helpful.

@samcmill How stable is the `hpccm` API currently in terms of using it as a library? Should we expect things to move around in the near future?
It seems to me that the `hpccm` package could maybe be a bit more organized (there are no subpackages, it's one big flat mix of things), any plans o

[2018-05-24 20:20] shahzebsiddiqui commented on #2484
@migueldiascosta @boegel according to Dave Godlove it is probably better to keep image owned by root. @boegel  mentioned we can have an option to change the ownership if needed. We assume that if user is building a container from easybuild they can modify the ownership manually but if you want easybuild to do this operation automatically an option makes sense.

[2018-05-25 13:59] samcmill commented on #2508
There are no plans right now to significantly change the API.  The user facing "API", meaning the recipe definition, has not changed since inception.

There are no plans right now to re-organize the package structure, but that could be useful for the long term.  If you think it's important, I can look into it soon.

I suspect you want to either call hpccm.recipe() with a recipe file that that you

[2018-05-26 09:29] boegel commented on #2508
@samcmill Thanks for clarifying the status of the HPCCM API.

I think it makes sense to re-organize the `hpccm` package a bit, for example by having a subpackage for Python modules for building blocks (e.g. `hpccm/blocks`) and another for templates (`hpccm/templates`), just to make things a bit clearer.

But you're right that this won't affect EasyBuild too much, as long as the "library" functiona

[2018-05-30 15:44] shahzebsiddiqui commented on #2509
@boegel

I am able to convert a singularity recipe to docker with `spython` given that your recipe is using a docker base (i.e bootstrap)

[code]

The original file is

[code]

We can leverage `spython` to create dockerfiles for easybuild base containers instead of coding this into the framework. Idea would be to have another option something like ``--container-recipe <recipe>`` and another option

[2018-05-30 15:48] vsoch commented on #2509
yeah this would work! You can also do these actions within python (eg. make a function call from within easybuild vs. using the command line client).

[2018-05-30 16:26] shahzebsiddiqui commented on #2509
@boegel  looks like converting Dockerfile to Singularity also works given bootstrap is `docker`

[code]

This dockerfile is the following. The dockerfiles for easybuild base-container are in https://github.com/shahzebsiddiqui/eb-singularity/tree/eb_images/bootstrap/Docker/centos which can be built in docker cloud.

[code]

[2018-06-11 07:08] SethosII commented on #2226
@boegel I finnaly came around testing this again with the latest versions. I can confirm that it's still the case for me. A dry run takes over 20 minutes if I have non-existing directories in my `MODULEPATH` and if I create all the missing directories it goes down to 20 seconds:

[code]

How can I tell EasyBuild to keep the logs so I can provide them for further inspection?

[2018-06-11 07:30] boegel commented on #2226
@SethosII Please try with `--disable-cleanup-tmpdir`

[2018-06-11 09:12] SethosII commented on #2226
Here are the [logs](https://github.com/easybuilders/easybuild-framework/files/2089319/logs.zip).

[2018-06-12 15:07] oonis opened #2519 "Error installing EasyConfig Clang-5.0.0-GCC-6.4.0-2.28.eb"
Some information about the system:
"This is EasyBuild 3.6.1 (framework: 3.6.1, easyblocks: 3.6.1)"
CentOS 7

The ending of the log in question:

[code]

[2018-06-13 16:18] boegel commented on #2519
@oonis This isn't showing the actual problem... Can you look for the specific error in the log file generated by `eb`? (or upload it somewhere so we can help if needed)

[2018-06-20 14:01] jbd commented on #2389
For what it's worth, the only way I can successfully run the bootstrap script (version 20180531.01) on CentOS 6/7 is to run it inside a virtualenv:

[code]

As soon as I'm adding a virtualenv with the --no-setuptools option, it is not working anymore.

Here is the singularity recipie I'm using if you're interested:
https://gist.github.com/jbd/a472155cef4da66f4f3ac82b3fbe0ded

[2018-06-21 09:58] jbd opened #2522 "CentOS 6 / Python 2.6 support"
Hello,

Im' trying to use easybuild on CentOS 6, and it looks like I've got some problem regarding https source download using SNI. Maybe it is a known issue for some time, or I've missed something in the documentation. Sorry if that's the case.

From my understanding, the problem is around the ssl implementation. For example:

`
$ eb --debug hwloc-1.6.2-GCC-4.7.2.eb
[....]
== 2018-06-21 09:41:53,

[2018-06-21 13:17] boegel commented on #2522
@jbd Can you check whether `export PYTHONHTTPSVERIFY=0` (*exactly* that) fixes your problem?

See for https://www.python.org/dev/peps/pep-0493/ (extensive) context...

This is a breaking change in Python 2.7.12, but it may have been backported to the Python 2.6.x in CentOS 6...

[2018-06-21 13:50] jbd commented on #2522
@boegel Thank you for the pep link.

Looks the same with `export PYTHONHTTPSVERIFY=0`:

`
$ export PYTHONHTTPSVERIFY=0
$ eb --debug hwloc-1.6.2-GCC-4.7.2.eb
== temporary log file in case of crash /home/eb/eb-Cvdx4V/easybuild-C8jsEA.log
== processing EasyBuild easyconfig /soft/adm/easybuild/software/EasyBuild/3.6.1/lib/python2.6/site-packages/easybuild_easyconfigs-3.6.1-py2.6.egg/easybuild/easyconf

[2018-06-21 14:04] jbd commented on #2522
Update: a `grep -R PYTHONHTTPSVERIFY` inside the last python SRPM (http://vault.centos.org/6.9/os/Source/SPackages/python-2.6.6-66.el6_8.src.rpm) returns nothing.

[2018-06-21 20:38] jbd commented on #2522
Just an update to give additional info:
[code]

I'm using a CentOS 6 singularity container to perform my tests (as mentioned in https://github.com/easybuilders/easybuild-framework/issues/2389#issuecomment-398760388). I'll try to reproduce it on a vanilla CentOS 6.9 up-to-date installation.

[2018-06-27 08:33] tardigradus commented on #2383
Using a fairly fresh install of Centos 7 with EasyBuild 3.6.1 and Lmod 6.5.1, I have experienced the same error with the following recipe:

https://github.com/easybuilders/easybuild-easyconfigs/blob/master/easybuild/easyconfigs/r/R/R-3.4.4-foss-2018a-X11-20180131.eb

My configuration is:

buildpath      (D) = /home/xxx/.local/easybuild/build
containerpath  (D) = /home/xxx/.local/easybuild/containe

[2018-06-27 12:18] tardigradus commented on #2383
OK, the problem was that I goofed while downloading the eb-file from Github.  Instead of getting the raw version of the file, I downloaded the HTML version of the page like this:

`wget https://github.com/easybuilders/easybuild-easyconfigs/blob/master/easybuild/easyconfigs/r/R/R-3.4.4-foss-2018a-X11-20180131.eb`

Using this as input made EasyBuild barf.  However, once I got the raw version via

`w

[2018-06-27 15:30] boegel commented on #2383
@tardigradus Interesting!

I'm indeed able to get the `Failed to import EB_q easyblock` by downloading the easyconfig file via `wget`.

We clearly need to do a better job of validating that whatever is being passed is actually an easyconfig file...

[2018-06-27 15:38] boegel commented on #2383
Here's the culprit:

[code]

That gets picked up as a software name specification, and with no `easyblock` spec being found in this "easyconfig file", EasyBuild continues to try and find a `EB_q` easyblock to use to install the software named `q` with...

I'll take a look at fixing this and reporting that whatever is provided doesn't seem to be an easyconfig file.

[2018-06-28 07:37] tardigradus commented on #2383
Great, thanks!  I really should have known better, because I have make the same mistake in the past.  However, it would be unfortunate if people like the OP gave up on EasyBuild, just becase the input file was broken.

[2018-06-28 07:47] boegel commented on #2383
Fully agreed, I'm working on a fix to recognize that the provided input file is not an easyconfig file (but that's less trivial than it seems, because of a chicking-egg situation w.r.t. figuring out the easyblock that should be used...)

[2018-06-28 09:41] boegel commented on #2383
Turns out it's actually easier than I thought it would be, see fix in #2523

[2018-06-28 09:54] tardigradus commented on #2383
Thanks, that's great.  With the error message produced by the fix I would have certainly checked the contents of the file sooner.

[2018-06-29 06:07] davidliu-CAS commented on #2383
Hi boegel. I ran into the same error today on RHEL 7.2 with EasyBuild 3.6.1 and Lmod 6.5.1.
The system was freshly installed a couple of days ago. Pacakges ESMF and Trilinos were successfully built by easybuild under root. The last successful build was Trilinos/12.4.2-intel-2015b-python-2.7.11 about 20 hours ago.  I have experienced the same error today at dryrun step for every package I have trie

[2018-06-29 06:32] boegel commented on #2383
@davidliu-CAS The problem may look similar, but it's pretty different.

Can you still find `easybuildmeta.py` in your EasyBuild installation (in `/public/software/easybuild/software/EasyBuild/3.6.1`)?

It seems like that file is still there but empty...

[2018-06-29 06:44] davidliu-CAS commented on #2383
thanks, boegel. The file locates at /public/software/easybuild/lib/python2.7/site-packages/easybuild/easyblocks/e/easybuildmeta.py and is not empty.

# #
# Copyright 2013 Ghent University
#
# This file is part of EasyBuild,
# originally created by the HPC team of Ghent University (http://ugent.be/hpc/en),
# with support of Ghent University (http://ugent.be/hpc),
# the Flemish Supercomputer Centre

[2018-06-29 07:02] boegel commented on #2383
@davidliu-CAS Hmm, that's exactly what it should be, so it's another problem.

Can you try and collect a debug log, using `eb --debug ...`?

[2018-06-29 08:30] davidliu-CAS commented on #2383
@boegel Thanks. Here you go the debug log~
[easybuild-NHObwD.log](https://github.com/easybuilders/easybuild-framework/files/2148460/easybuild-NHObwD.log)

[2018-07-03 11:54] akesandgren opened #2526 "filter-deps causes check-conflicts to fail"
filter-deps=pkg-config
[code]

[2018-07-03 14:54] boegel commented on #2383
@davidliu-CAS I suspect the problem you are seeing is a side-effect of running `eb` as root...

The debug info isn't detailed enough to really pinpoint the problem, but can you specify how you are running `eb` exactly? Are you loading the `EasyBuild` module as root, and then run the `eb` command? Or are you running it via `sudo eb`?

What does the following command produce when you run it as root?

[2018-07-04 14:49] akesandgren opened #2527 "eb --robot-paths=~/some-path doesn't expand ~"
eb should expand ~ in its arguments. That's common practice in unix commands.

[2018-07-05 19:47] boegel commented on #2383
I'm closing this issue as the problem that was originally reported by @idanbudin has been fixed in #2523 (will be included in upcoming release EasyBuild v3.6.2).

@davidliu-CAS The problem you reported is another issue, so please open a separate issue for that with more details, so we can follow up on that.

[2018-07-05 19:47] #2383 closed

[2018-07-06 09:21] boegel commented on #2527
Technically that's something for `vsc-base` to handle, since that's where the option parser comes from...

I think the shell usually expands `~`, doesn't it? You're basically preventing it to do so by using `=`...

If you use `eb --robot-paths ~/some/path` it would be expanded?

[2018-07-11 07:12] davidliu-CAS opened #2531 "Failed to obtain class for EB_EasyBuildMeta easyblock for running eb as root"
I ran into the "Failed to obtain class for EB_EasyBuildMeta easyblock" error on RHEL 7.2 with EasyBuild 3.6.1 (installed under root) and Lmod 6.5.1. The system was freshly installed. The last successfully built modules were ESMF/7.0.2-intel-2017b and Trilinos/12.4.2-intel-2015b-python-2.7.11 as root . eb suddenly stopped working no matter what package I have tried to install. the debug log was att

[2018-07-11 07:17] boegel commented on #2531
@davidliu-CAS What does `python -c "import easybuild.easyblocks; print easybuild.easyblocks.__path__"` print?

How are you running `eb`? While logged in as root, or via `sudo`? Do you load the `EasyBuild` module as root?

[2018-07-11 08:01] davidliu-CAS commented on #2531
logged in as root, and EasyBuild was loaded as root.
python -c "import easybuild.easyblocks; print easybuild.easyblocks.__path__" returns:
['/public/software/easybuild/software/EasyBuild/3.6.1/lib/python2.7/site-packages/easybuild_easyblocks-3.6.1-py2.7.egg/easybuild/easyblocks', '/public/software/easybuild/software/EasyBuild/3.6.1/lib/python2.7/site-packages/easybuild_easyblocks-3.6.1-py2.7.egg/e

[2018-07-11 08:52] boegel commented on #2531
@davidliu-CAS That's not what it's supposed to be... You should see an entry for the top-level + every letter `a-z`, while you are only getting one for `r` + the top-level...

What does this return?

[code]
and
[code]

[2018-07-12 02:38] davidliu-CAS commented on #2531
@boegel Thank you!  it seems like the zero size file \_\_init\_\_.py in the a-z folders except r is missing, which caused the problem. I ran touch \_\_init\_\_.py in each folder and eb runs ok now. Thank you very much!

total 108
drwxr-xr-x. 2 root root   33 Jun 28 10:05 0
drwxr-xr-x. 2 root root 4096 Jun 28 10:05 a
drwxr-xr-x. 2 root root 4096 Jun 28 10:05 b
drwxr-xr-x. 2 root root 4096 Jun 28 10

[2018-07-12 04:53] davidliu-CAS opened #2534 "Failed to build QuantumESPRESSO-6.2-intel-2017b"
I  encountered another problem when installing QuantumESPRESSO-6.2 with intel2017b toolchain (using easybuild 3.6.1, freshly installed in a user account named 'software' ). Since the qe source file has been moved from qe-forge.org to gitlab and github, I manually downloaded it and the required qe-gipaw-6.2 and wannier90-2.1.0. But there are two 6.2 versions of qe, 6.2.0 and 6.2 on gitlab, and both

[2018-07-12 13:20] paulmelis commented on #2375
To clearify, is this bug applicable only when `--robot` is used?

[2018-07-12 13:39] #2531 closed

[2018-07-12 13:41] paulmelis opened #2535 "Use existing modules option has side-effect when NOT using minimal toolchain resolution"
[code]

Try 3 (partial) builds with different options pertaining to minimal toolchain and use existing modules:
[code]

Why is `--disable-use-existing-modules` influencing the build when `--minimal-toolchain` is disabled? If I read http://easybuild.readthedocs.io/en/latest/version-specific/help.html#override-options and http://easybuild.readthedocs.io/en/latest/Manipulating_dependencies.html#takin

[2018-07-13 07:32] paulmelis commented on #2535
I did some grepping on the code, although I'm not really familiar with it. The only place where the `use-existing-modules` setting is apparently used is in a function called `robot_find_minimal_toolchain_of_dependency()` in `easybuild/framework/easyconfig/easyconfig.py`. So that function name strongly suggests that it only acts when minimal toolchain resolution is active. However, when I look at w

[2018-07-13 08:06] ocaisa commented on #2535
No, in this case it means that the easyconfig doesn't explicitly set the toolchain for the dependency, so it got inherited from the toolchains of the easyconfig itself.

A while back, we introduced the feature that allowed finding a dependency with a subtoolchain of the inherited toolchain  (for example `CMake` with the corresponding `GCCcore` toolchain would be found if there wasn't one at the `f

[2018-07-13 08:43] ocaisa commented on #2535
#2536 Should hopefully fix this issue, after the tests pass please give it a try

[2018-07-16 07:53] paulmelis commented on #2535
Hmmm, what would be an easy way to test a patch like this? Installing a local copy of EB based on the git repos? I really do no want to alter our global setup in any way.

[2018-07-16 21:58] ocaisa commented on #2535
You just need your PYTHONPATH to point to the framework with the patch and you can still use the existing installation. Something like (untested):
[code]

[2018-07-18 09:20] scroogie commented on #2342
It would be great if this worked. Often when going smaller steps, e.g. from intel 2018a to 2018b, there is not other change in the easyconfig required. Using the existing recipes and just passing try-toolchain-version=2018b would be quiet comfortable, but there is almost always some dependency that blocks this.

[2018-07-20 15:14] scroogie commented on #538
+1 from me. This would also be helpful for use with --job, for clusters which don't have internet connectivity on the worker nodes.

[2018-07-24 05:23] scroogie opened #2537 "get_software_root software root for binutils was not found in environment"
I was evaluating a new installation stack using EASYBUILD_MINIMAL_TOOLCHAINS=1, but I always receivee this error when installing intel-2018a:

== FAILED: Installation ended unsuccessfully (build directory: /dev/shm/M4/1.4.18/GCCcore-6.4.0): build failed (first 300 chars): get_software_root software root for binutils was not found in environment

The installation of 2018b before worked, though. Any

[2018-07-24 07:05] ocaisa commented on #2537
Can you provide a debug log? I don't understand why `get_software_root` is even being called, it doesn't appear in the `ConfigureMake` easyblock used by `M4`

[2018-07-24 08:47] ocaisa commented on #2537
Hmm, I can't reproduce this with the default naming scheme. What naming scheme are you using? If you do an extended dry run with `-x` and then load the modules as described there does your module tool complain?

[2018-07-24 09:04] ocaisa commented on #2537
I just tried it with `HierarchicalMNS` and also failed to reproduce your problem there. Do you use `filter-deps` for `binutils` by any chance?

[2018-07-24 11:04] scroogie commented on #2537
We are not using filter-deps, but indeed we are trying the CategorizedModuleNamingScheme in this prefix. I'll try the dry-run in a minute.

[2018-07-24 11:19] scroogie commented on #2537
Okay, thanks to your pointers, I have found the problem! It was picking up an external module for binutils which obviously doesn't set the EBROOTBINUTILS variable! Sorry for the noise and thanks again for your help!

[2018-07-24 11:19] #2537 closed

[2018-07-27 08:56] grind3 opened #2541 "Bootstrapping for EasyBuild doesn't work"
Hello,

I try to install EasyBuild by bootstrapping it, but I get the following the error.

[sv@headnode ~]$ curl -O https://raw.githubusercontent.com/easybuilders/easybuild-framework/develop/easybuild/scripts/bootstrap_eb.py

[sv@headnode ~]$ python bootstrap_eb.py EasyBuild

[[ERROR]] Failed to determine PyPI package URL for vsc-install:

Can someone help me?

Best regards

[2018-07-27 09:15] ocaisa commented on #2541
`vsc-install` is a requirement before running the bootstrapping process. Please take a look at
https://easybuild.readthedocs.io/en/latest/Installation.html
and in particular
https://easybuild.readthedocs.io/en/latest/Installation.html#requirements

[2018-07-27 10:29] #2541 closed

[2018-08-01 15:01] casparvl opened #2542 "Feature request: pick up unhidden module 'M4' even if --hide-deps=M4"
The --hide-deps function is great to avoid cluttering of the module environment. However, if a package (e.g. Bison) is already installed as an unhidden module, I would like to pick it up as a dependency, _even_ if --hide-deps=Bison

To give an example:

`eb --hide-deps=M4,Bison Bison-3.0.4.eb -r`

Will install the (unhidden)

`module Bison/3.0.4`

This is the desired behaviour: its not a dependenc

[2018-08-01 15:31] casparvl opened #2543 "Feature request: --hide-all-deps"
I'd like to hide ALL dependencies (I'll probably come up with a pull request for a '--hide-all-deps' option), as I only want my users to see the software I have in a build list (all of this software is built one by one with eb [software] -r).

Providing --hide-deps with an exhaustive list of all possible software that might be in the dependency lists is both unfeasible and ugly. I already implemen

[2018-08-01 17:16] akesandgren commented on #2543
You are likely going to shoot yourself in the foot by using this.

Take for example TensorFlow and Keras (there are multiple other examples too, I just picked one).
You want to install TensorFlow as a user visible module since users are going to use it directly.
Then installing Keras, a top level user visible module, which depends on TensorFlow, Theano (also user visible) and a couple of other thi

[2018-08-02 08:38] grind3 opened #2545 "EasyBuild installs FFTW/.3.3.7-gompi-2018a more times"
Hello,

I'm new to EasyBuild and I'm trying to install OpeFOAM using EasyBuild.
I used the following command to install it.

[sw@cluster ~]$ eb --hide-deps=OpenMPI,Autotools,GMP,MPFR,OpenBLAS,LLVM,Eigen,pkg-config,ScaLAPACK,nettle,Mako,Mesa,libGLU,CGAL,GCCcore,Python,FFTW,libffi --hide-toolchains=GCCcore,gompi --filter-deps='M4,zlib,help2man,M4,Bison,flex,binutils,ncurses,libreadline,CMake,METIS,b

[2018-08-02 08:47] migueldiascosta commented on #2545
@grind3 this is correct, it's building for different precisions (single, double, long double, quad), see https://github.com/easybuilders/easybuild-easyblocks/blob/4f827319b8d1aaef40d832f346260a851a9bcd00/easybuild/easyblocks/f/fftw.py#L148

did it finish after the fourth?

[2018-08-02 08:52] grind3 commented on #2545
It takes time I'll let you know when it finished.

Thanks for your help

[2018-08-02 08:55] migueldiascosta commented on #2545
if you look at the temporary log file you can get a clearer picture of what is happening, but I suppose the output to stdout could be made clearer...

[2018-08-02 09:09] grind3 commented on #2545
do you mean this file?
temporary log file in case of crash /tmp/eb-3Xdl9f/easybuild-ag1rRQ.log
It tells me about the crash cases, but in this case EasyBuild didn't crashed.
I'm waiting till the fourth testing of fftw is finished und tell you if it change to the next software or not.

[2018-08-02 09:39] grind3 commented on #2545
It changed to the next software. I was just impatient to wait and thought easybuild trying to install fftw more times thanks for your help

Best Regards

[2018-08-02 09:42] casparvl commented on #2543
You mean because, when installing Keras, EasyBuild will fail to find that TensorFlow is already present as non-hidden modules? https://github.com/easybuilders/easybuild-framework/issues/2542

I think we may first need to agree on what EasyBuild should do in that case. In my view, it should just pick up on the fact that TensorFlow is already present as a non-hidden module, and simply pick up that n

[2018-08-02 09:59] casparvl commented on #2543
Maybe I should take the argument one step back: what is the intended usage of hide-deps?

I think it is to stop cluttering of your environment with e.g. 5 versions of zlib, just because your robot installations install these. So, you set hide-deps=zlib. Now, you probably also want to offer your users one visible version of zlib that they can link against when building their own software. So, you i

[2018-08-02 11:36] migueldiascosta commented on #2545
closing and following up the output clarification on the easyblocks issue

[2018-08-02 11:36] #2545 closed

[2018-08-02 11:38] ocaisa commented on #2542
`--module-only` does not work perfectly in all cases, the easyblock used needs to be carefully written in order for it to be correct. In the particular case I probably wouldn't do it that way, what you want in this cases is a simple `ln -s` of the installed module to it's non-hidden counterpart.

The magic probably needs to be introduced at https://github.com/easybuilders/easybuild-framework/blob/

[2018-08-06 08:18] boegel commented on #2541
Actually, @grind3's expectation was correct, `vsc-install` should be installed as a part of the bootstrapping process...

I can't reproduce the problem in an environment where `vsc-install` is not available yet though. Maybe this was a temporary problem with PyPI?

[2018-08-10 11:56] akesandgren opened #2546 "update-pr fails to find where to add a new patch when the patch belongs to a bundle extension"
Example:
[code]
when using --update-pr to add that patch it fails with:
[code]

[2018-08-12 08:01] nortex commented on #2204
Hi,

I see there is still no release of newer GC3Pie, can you explain or instruct me how can i make sure that i did all the steps above from within the EB virtualenv?  What i did i just loaded the EasyBuild module and did all the steps above.

[2018-08-14 16:31] mvsurfsara opened #2548 "Module file with enviromental variables resolved at module load"
It would be useful to have a way to specify env variable in modextravars which will be resolved when the module is loaded.

[2018-08-16 14:44] boegel commented on #2548
@mvsurfsara Can you give a specific example of a use case for this?

Please also mention how you worked this missing feature for now (i.e. via `modluafooter`)

[2018-08-17 09:41] mvsurfsara commented on #2548
@boegel Some applications require to set location of scratch or temporary directories to store temporary files (i.e. ADF SCM_TMPDIR in my specific case). This feature would make possible to set automatically these variable to user specific paths which can be resolved when the module is loaded (for example using $USER or $TMPDIR).

At the moment this can be achieved using `modluafooter` or `modtclf

[2018-08-17 14:19] damianam commented on #1626
Well, I just hit this issue as well. Our example: `h5py` tries to run within a MPI environment when imported. In login nodes MPI doesn't work. In compute nodes, we don't allow to run MPI programs within an `srun` instance. I honestly don't see why `skipsteps = ['sanity_check']` should be ignored. For sure it is not smart to just drop that in every easyconfig but if the site configuration requires

[2018-08-17 16:10] akesandgren commented on #1626
If you are developing a easyconfig/easyblock and want to check where files/dirs end up before writing a working sanity check, why not use --stop=postproc ? That's before sanity checking and you can verify where everything is. And if need be add --disable-cleanup-tmpdir --disable-cleanup-builddir if needed. (Can't remember exactly when/if they are triggered when running with --stop)

@damianam If m

[2018-08-18 21:02] boegel commented on #1626
Support for skipping the sanity check via `skipsteps` is implemented in #2549, feedback welcome.

Note that when the sanity check fails at the very end, you should be able to just fix the sanity check and then complete the installation without restarting it from scratch using `--module-only` (see also https://easybuild.readthedocs.io/en/latest/Partial_installations.html#only-re-generating-addition

[2018-08-20 05:28] migueldiascosta commented on #1563
Did you ever get it to work?

In a relevant case, linking with `mkl`, I always see `libgfortran.so.4.0.0     [.] matmul_r8_vanilla` with `perf top`, and no performance difference, even if I compile with `-fexternal-blas -fblas-matmul-limit=0`

For the same case, the Intel compiler seems to generate calls to `mkl` and is significantly faster...

[2018-08-20 11:12] boegel commented on #1563
@migueldiascosta I never actually tried this...

Seems like can instruct `ifort` to not use `mkl` for this though via `-no-opt-matmul`, see https://stackoverflow.com/questions/31494176/will-fortrans-matmul-make-use-of-mkl-if-i-include-the-library

[2018-08-20 17:08] damianam commented on #1626
Is it? I can think of a couple of reasons why that is not true. In our case it was "broken by accident". The MPI runtime expected to find infiniband devices, which where not present (the login nodes are running in a container that doesn't have the infiniband devices available at the moment). It was a byproduct of the setup, not an intended effect AFAIK. MPI runs just fine when launched in a parall

[2018-08-20 17:42] akesandgren commented on #1626
There is a difference between "not working" and "not allowing". I was assuming you meant the former.

And what MPI runtime are we talking about? OpenMPI? It is supposed to work even if such things as IB drivers are missing even if it is built with IB support. If it doesn't then I think they would classify that as a bug.

[2018-08-21 20:31] vanzod opened #2550 "Checksums are not enforced for Perl exts"
When building a Perl bundle checksums are not enforced for the single extensions even if `enforce-checksums = true`.
The issue may extend to other type of bundles too.

[2018-08-22 13:19] boegel commented on #2550
Hmm, that's a bit strange, since the only place whether we're checking if `--enforce-checksums` is set is in `verify_checksum`, which should be called for all sources & patches, regardless of whether they're for extensions or not, see https://github.com/easybuilders/easybuild-framework/blob/c76c5e94375f9a17b822b622ed9d7b6d175f3bd8/easybuild/tools/filetools.py#L675 ...

[2018-08-22 14:07] klust opened #2552 "Intel compiler option -fltconsistency"
https://github.com/easybuilders/easybuild-framework/blob/0637e49aaefcd8d64da623d758180338cd6aa866/easybuild/toolchains/compiler/inteliccifort.py#L61

I can't find the -fltconsistency option in the Intel compiler manuals for version 18 (I haven't checked the older ones), and indeed when I build with an EasyConfig where I set ieee to true, I do get warnings in the output that the compiler does not r

[2018-08-22 14:14] boegel commented on #2552
@klust Thank you for the bug report.

That flag was added ages ago (Intel compilers 11.x era, or even earlier), and the `ieee` toolchain option is rarely used I think, which explains why this has been overlooked...

Any suggestions for an equivalent flag?

[2018-08-22 14:43] akesandgren commented on #2552
-fltconsistency is only available for ifort, not icc
ieee options are only intended for fortran builds but there is currently no way to ignore it for C compilers i think.

[2018-08-22 14:44] akesandgren commented on #2552
Which tests is it failing on?

[2018-08-22 14:50] damianam commented on #2552
@akesandgren beat me to it! An alternative form is `-mieee-fp` in case someone is interested, but as Åke said, the option is still available and relevant. However, maybe we should apply this just to fortran compilers, and not to C?

[2018-08-22 15:01] klust commented on #2552
Concerning the equivalent flag: I found an interesting document on the Intel web site about compiling for floating point consistency: https://software.intel.com/sites/default/files/managed/de/a1/FP_Consistency_091117.pdf and that one suggest that -fp-model precise -fp-model source should give good adherence to the IEEE standards, but that is in fact set through another option already (I believe th

[2018-08-23 05:31] akesandgren commented on #2552
Regarding the ieee option, I added it mainly to be able to build lapack/scalapack correctly, but i still haven't gotten around to start adding my fixes, they are Makefile fixes to make sure certain files get compiled with the right flags...

[2018-08-23 05:34] akesandgren commented on #2552
regarding the gromacs problem, have you checked with the gromacs dev people? And do you see the same problem on newer HW like haswell/broadwell? I don't recall any such problems...

And we should perhaps continue this in a mail thread instead, if you still feel like following up on this.

[2018-08-24 14:47] damianam commented on #2535
@paulmelis could you confirm if it worked for you?

[2018-08-29 08:07] boegel commented on #1404
EasyBuild will now (since v3.6.1) automatically consider `lib64/...` paths whenever a `lib/...` is specified (and vice versa), see #2477, thanks again for the idea @torbjoernk!

[2018-08-29 08:07] #1404 closed

[2018-08-29 15:26] riccardomurri commented on #2204
GC3Pie 2.5.0 was just released, hopefully @boegel will have time to make the upcoming release of EB use it.

[2018-08-30 08:17] akesandgren commented on #1441
Fixed in #2474

[2018-08-30 08:17] #1441 closed

[2018-08-30 09:29] boegel commented on #2204
Two PRs relevant to GC3Pie 2.5.0 (just released) were merged into the `develop` branch here just now: #2474 + #2554.

These will be included in the upcoming EasyBuild v3.7.0 release, together with an easyconfig file to GC3Pie 2.5.0 (pending, see https://github.com/easybuilders/easybuild-easyconfigs/pull/6791).

[2018-08-30 09:29] #2204 closed

[2018-08-30 19:18] victorusu opened #2556 "Support for buildininstalldir=True and multiple compilations"
Easybuild always deletes the install dir, if one attempts to combine several compilations and buildinstalldir = True inside the same easyconfig.

Example
[code]

The installation process will perform the installation using `configopts1`, then using`configopts2`, then `configopts3`. But the `installdir` will only contain the build that used `configopts3`.

Even if I set to the easyblock
[code]

[2018-08-31 10:33] akesandgren commented on #443
Would the now implemented hook feature solve this completely?
https://easybuild.readthedocs.io/en/latest/Hooks.html

[2018-08-31 10:42] akesandgren opened #2557 "Adding dependencies through the hook framework is a bit overly complicated and undocumented"
The implemented hook framework has no easy way to add dependencies (or remove them).
There are two problems:
- adding/removing dependencies must be done very early
- to complete the adding of dependencies one has to call EasyConfig.generate_template_values() and EasyConfig._finalize_dependencies(). Doing that in a hook is a bit awkward.

Adding a dependency_hook in EasyConfig.parse() before the ca

[2018-08-31 11:30] akesandgren commented on #2557
There is another "problem". Since the first hook one can possibly do this in now is the pre_fetch_hook, doing a --dry-run won't show any changes in dependencies, thus possibly causing confusion.

[2018-08-31 19:43] boegel commented on #443
@akesandgren Yes imho, so closing, thanks for picking this up.

[2018-08-31 19:43] #443 closed

[2018-09-01 15:04] boegel commented on #2557
@akesandgren It sounds like we need a hook to allow you to intervene before the actual parsing of an easyconfig file happens, i.e. where you can modify the raw dict representation after the easyconfig file was read?

[2018-09-02 08:26] wpoely86 opened #2558 "Add OpenMP flags to LDFLAGS"
Currenty we only add openmp flags to `CFLAGS` but we also need it in `LDFLAGS` to link with `libgomp`/`libiomp`/...

[2018-09-03 05:57] akesandgren commented on #2557
That might be a bit of overkill if the target is changing dependencies, (in which case the suggestion above will suffice). But it might be useful to be able to change things that early on.

[2018-09-03 09:29] akesandgren commented on #2557
--module-only will have problems if this isn't done the right way (whatever that ends up being).
I.e., using pre_fetch_hook doesn't work with --module-only

[2018-09-03 19:13] wpoely86 opened #2560 "EB fails if moduleC cannot read a module file"
a module file is unreadable and EB fails. Not sure if this an EB bug or moduleC

[code]

[2018-09-04 05:53] akesandgren commented on #2469
@guest1604 Why aren't you just using the imkl/impi tar files as source for imkl/impi? It's much easier.

[2018-09-04 05:57] akesandgren commented on #116
@boegel Is this still valid? It's in the ASAP milestone...

[2018-09-04 05:57] akesandgren commented on #117
@boegel Same one here... still valid? It's in the ASAP milestone.

[2018-09-04 05:59] akesandgren commented on #1962
@boegel State of this one then?

[2018-09-04 06:04] akesandgren commented on #100
@boegel status?

[2018-09-04 06:40] akesandgren commented on #112
Cf, https://github.com/easybuilders/easybuild-framework/pull/2555

[2018-09-04 06:43] boegel commented on #1962
`git` is still required for the bootstrap, due to the way in which `vsc-install` works...

[2018-09-04 06:45] boegel commented on #117
Obviously the ASAP milestone doesn't make much sense... :)

We have documentation on implementing easyblock, see https://easybuild.readthedocs.io/en/latest/Implementing-easyblocks.html .

Not sure trying to add documentation on how to make changes to the framework makes sense, it would be quite hard to come up with something general I guess, and nobody has really asked for that either... So, closi

[2018-09-04 06:45] #117 closed

[2018-09-04 06:46] boegel commented on #116
OK to close because of https://easybuild.readthedocs.io/en/latest/Code_style.html

[2018-09-04 06:46] #116 closed

[2018-09-04 06:47] boegel commented on #100
Well, we have easyconfigs for `glibc` now, see https://github.com/easybuilders/easybuild-easyconfigs/tree/master/easybuild/easyconfigs/g/glibc .

This issue was opened as a joke originally (it's not a coincidence it's issue `#100`), but I guess we did it... :)

[2018-09-04 06:47] #100 closed

[2018-09-04 06:54] boegel commented on #2469
@guest1604 To change the override, we should:

* change the default value for `requires_runtime_license` in `IntelBase` to `None`
* set `requires_runtime_license` to `True` in `IntelBase` if it was left unspecified in the easyconfig file (to retain current behaviour)
* only set `requires_runtime_license` in `imkl.py` (& co) if it was left unspecified (i.e. if it's still set to `None`)

[2018-09-04 06:54] akesandgren commented on #152
@boegel Is this still valid?

[2018-09-04 06:56] akesandgren commented on #174
@boegel Isn't this handled already?

[2018-09-04 06:58] boegel commented on #152
@akesandgren We have support for `--job-cores` for a long time already (see e.g. #1547), I guess that covers it.

[2018-09-04 06:58] #152 closed

[2018-09-04 07:00] boegel commented on #174
Yes, see https://github.com/easybuilders/easybuild-framework/pull/846

[2018-09-04 07:00] #174 closed

[2018-09-04 07:05] boegel commented on #2560
I'd say this is a bug in the modules tool, but we can probably work around it, for example by simply ignoring the `Cannot open file` errors and filtering them out of the `stderr` we get.

That may not be good enough though, are all existing modules actually still shown when those errors come into play?

What does a `module avail` command run as a user do though, aren't you seeing the same errors?

[2018-09-04 07:14] akesandgren commented on #207
@boegel Since this is basically configurable in the easyconfig file, this could be closed or?

[2018-09-04 07:28] boegel commented on #270
@akesandgren Well, we certainly got rid of it for 1.0... :)

And we did it again for 2.0 & 3.0 (see https://easybuild.readthedocs.io/en/latest/Removed-functionality.html), and will do it again for 4.0 (see https://github.com/easybuilders/easybuild/issues/447).

This particular issue hasn't been relevant since the release of EasyBuild 1.0...

[2018-09-04 07:28] #270 closed

[2018-09-04 07:30] boegel commented on #207
This is about https://github.com/easybuilders/easybuild-framework/pull//1201, so good to close

[2018-09-04 07:30] #207 closed

[2018-09-04 07:30] boegel commented on #207
Note: that change was first included in EasyBuild 2.0

[2018-09-04 16:02] boegel commented on #1626
Closing this since https://github.com/easybuilders/easybuild-framework/pull/2549 has been merged, to be included in the upcoming EasyBuild 3.7.0...

[2018-09-04 16:02] #1626 closed

[2018-09-04 17:39] boegel commented on #2550
@vanzod After staring at this for a while, I suddenly realized what the problem was: the `if checksums:` guard in `fetch_extension_sources` which effectively skips the call to `verify_checksum`... :-/

Fix in #2561

[2018-09-04 17:39] #2550 closed

[2018-09-04 19:07] boegel commented on #2557
@akesandgren I think we can avoid that you need to call `self._parse_dependency` in the hook by reorganizing the code a bit...

The `for key` loop in the `parse` method should be re-written, since it now does two things at once: set all easyconfig parameter in the `EasyConfig` object (via `self[key] = ...`), and parse dependency specifications in an internal format.

The latter is why it's now so

[2018-09-04 19:48] boegel commented on #2557
@akesandgren Please check #2562, and see if it works for you...

[2018-09-05 07:28] akesandgren commented on #2557
Yes it works like a charm.

[2018-09-05 08:29] akesandgren opened #2563 "Set enable_templating false before calling run_hook"
At the moment, any hook that need to change anything more complicated than a pure string need to do
self.cfg.enable_templating = False
make change
self.cfg.enable_templating = True (or actually reset it to it's previous value)

This is not something the hooks should have to deal with.

[2018-09-05 09:01] akesandgren commented on #2563
As @boegel commented in slack, that might break existing hooks that want to grab templated values

[2018-09-05 13:40] wpoely86 commented on #2560
It's already fixed by making the module file world readable again...

You get exactly the same errors when you run `module avail` as user.

[2018-09-05 14:12] boegel commented on #2560
@wpoely86 In that case I consider it low priority to fix in EasyBuild...

[2018-09-05 14:19] wpoely86 commented on #2560
It's not EB's job to work around all problems somebody can create. Closing this.

[2018-09-05 14:19] #2560 closed

[2018-09-05 14:34] akesandgren commented on #2563
Already dealt with in the upcoming EB 3.7.0 by only doing this for parse_hook

[2018-09-05 16:18] boegel commented on #2557
fixed in #2562

[2018-09-05 16:18] #2557 closed

[2018-09-05 17:32] boegel commented on #2563
@akesandgren This should still probably be documented clearly for the other hooks, since it's quite confusing to write code that makes a change only to notice the change seems to be disappearing in thin air... I'll look into that.

[2018-09-05 17:33] omula opened #2564 "Failed to parse configuration options: --module-syntax"
Parameter `--module-syntax` seems to be ignored.

Log output: https://gist.github.com/omula/62ce29ea4943e1303f1f75fc7f160ebb

OS: Centos 6.4
[code]

[2018-09-05 19:48] boegel commented on #2564
The error:

[code]

Relevant info from debug log:

[code]

Relevant code from `easybuild/tools/options.py`:

[code]

(see https://github.com/easybuilders/easybuild-framework/blob/master/easybuild/tools/options.py#L777)

The log clearly shows that the error doesn't make any sense...

`ModuleGeneratorLua.SYNTAX` is equivalent to `'Lua'`, which is not `'Tcl'`, so the error can never be triggered...

[2018-09-05 19:49] boegel commented on #2564
@omula With EasyBuild 3.6.2, you should have these MD5 checksums:

[code]

[2018-09-05 20:04] boegel commented on #2563
PR for docs update opened, see https://github.com/easybuilders/easybuild/pull/449

[2018-09-06 06:04] guest1604 commented on #2469
Thanks @akesandgren and @boegel for your help.

Now I use the tar files specified by default in the easyconfig files and it works perfectly.
In the past, only the full parallel studio tar file was provided to me.

[2018-09-06 06:56] boegel commented on #2469
@guest1604 So, we can close this issue then?

[2018-09-06 08:00] ocaisa opened #2565 "Dumping parsed easyconfig files"
With #2562 we introduce the capability of making modifications to the easyconfig file that is read from disk in a (potentially) non-reproducible way.

At https://github.com/easybuilders/easybuild-framework/blob/develop/easybuild/framework/easyblock.py#L2869 there is already a feature that dumps the final parsed easyconfig to the installation directory (in a `reprod` subdir).  This was originally i

[2018-09-06 08:09] akesandgren commented on #2565
FYI, the file in the reprod contains an easyconfig with the changes in place. I just checked.

[2018-09-06 08:18] ocaisa commented on #2565
I expected so, the issue is just then in what cases do we trigger that dump, currently it's only done if you use minimal toolchains but given that subtoolchain resolution is now the default, I don't really see a good reason not to do it in all cases...especially since it does zero harm and saves us from having to create complicated logic.

[2018-09-06 08:35] boegel commented on #2564
After a bit of back & forth with @omula on Slack, it turns out this is a bug in `--show-config`, or at least in the way in which the checks that are done in `postprocess` in `options.py` interact with `--show-config`...

The problem is that when `--show-config` is used, we reprocess the configuration on each of the different configuration levels separately (so we can tell what is configured on whi

[2018-09-06 09:57] guest1604 commented on #2469
@boegel yes, you can close this issue. Thanks for your help !

[2018-09-06 09:58] #2469 closed

[2018-09-06 18:30] boegel commented on #2564
reproduced in tests + fixed in #2567

[2018-09-06 18:30] #2564 closed

[2018-09-09 11:20] boegel opened #2572 "GC3Pie deprecation warning for use of Engine.stats"
[code]

Thoughts on this @riccardomurri?

[2018-09-09 14:56] riccardomurri commented on #2572
It's what the message says: a method changed name from 2.4 and 2.5, and EB's code is using the old method name, which is compatible with both GC3Pie 2.4 and 2.5.

It's easy to switch that line to use `self._engine.counts(only=Application)` but that would no longer work with GC3Pie 2.4.

[2018-09-09 16:15] boegel commented on #2572
@riccardomurri We increased the minimal version to 2.5.0 in https://github.com/easybuilders/easybuild-framework/pull/2554, so we should switch to `.counts()`.

Is that just a drop-in replacement? (yes, I'm lazy, it's Sunday, I'm allowed to be ;-))

[2018-09-09 16:16] riccardomurri commented on #2572
Yes, just replace `.stats` with `.counts` :-)  I can do a PR but tomorrow ;-)

[2018-09-09 16:47] boegel commented on #2572
@riccardomurri How does `.counts()` relate to `init_counts_for`?

EasyBuild now does a call to `init_stats_for` (which doesn't exist), and just ignores it when the method doesn't exist. That's probably not wise, should be changed to `init_counts_for` to ensure that `counts()` works?

[2018-09-09 16:49] boegel commented on #2572
@riccardomurri see #2573

[2018-09-09 17:12] boegel commented on #2572
let's follow up in the PR... :)

[2018-09-09 17:12] #2572 closed

[2018-09-13 12:18] boegel commented on #2565
fixed in #2574, thanks @ocaisa!

[2018-09-13 12:18] #2565 closed

[2018-09-14 09:09] ocaisa opened #2578 "easyconfigs in reprod dir not truly reproducible"
EB archives a copy of the easyconfig including any dynamic modifications (subtoolchain resolution of dependencies, hooks) in the `easybuild/reprod` subdir of the installation.

If a dependency uses the same toolchain as the easyconfig, then the toolchain of the dep is currently not included in that dump. Since some form of subtoolchain resolution is now the default, this is actually not truly repr

[2018-09-16 08:27] boegel commented on #2563
docs update merged, so closing this...

[2018-09-16 08:27] #2563 closed

[2018-09-17 08:00] chossimbaone opened #2581 "bootstrap process breaks with python setuptool > 39.0.1-2 on Ubuntu 18.04"
Bootstrap installer process breaks on Ubuntu 18.04.
Problem is that python-setuptool has removed easy_install from version [39.0.1-2](https://launchpad.net/ubuntu/+source/python-setuptools/39.0.1-2), which is need for stage 1 of the bootstrap process.

Workaround for now, was to install version 39.0.0
`sudo pip install setuptools==39.0.0`

[2018-09-17 13:33] nathanhaigh opened #2582 "Unexpected behaviour with `--jobs` and `--robot`"
I have a Slurm cluster with nodes containing different CPU architectures (e.g. Westmere, Ivy Bridge and Haswell). Each type mounts a different device for the EasyBuild location so software/modules need to be built for each one separately.

I would like to use EasyBuild's `--jobs` to submit my software building/install to each of these architectures. I have multiple GC3Pie resource sections configu

[2018-09-19 08:48] boegel commented on #2582
@nathanhaigh The check is indeed being done locally before submitting the jobs, because using `--robot` and `--job` together implies that the installation will be done "in parallel", in the sense that a separate job will be submitted for each dependency. So, it's a feature, not a bug. ;-)

I'm not sure if there's a decent workaround fight now, but if not we can definitely look into one, for exampl

[2018-09-19 10:15] nathanhaigh commented on #2582
@boegel Perhaps there is a way, if it sisn't already, to decouple the dependency graph creation from the checks as to whether each dependency is satisfied. This way an additioanl flag could be used to skip the latter such that a build job is created for all dependencies. Thus if the software is already built/available on the target system, the job would finish quickly stating nothing needs to be d

[2018-09-21 20:42] zao opened #2586 "Type-check `source_urls` and `sources`"
In my recipe I had (erroneously):
[code]

This went by undetected and EasyBuild attempted to download from `h/1`, which are the first characters of the two strings:
[code]

The type of these fields could probably be verified by EasyBuild to ensure that they're the right kind of collection.

[2018-09-25 08:14] #2522 closed

[2018-09-25 16:50] boegel commented on #2375
@paulmelis Hmm, good question... It's actually the process of finding modules for each of the dependencies, which is not *exactly* the same as `--robot` (which does more than that).

@ocaisa I hope to find time to try and fix this bug soon. You've been doing quite a bit of work related to subtoolchains recently, any idea how difficult this would be?

[2018-09-25 17:27] boegel commented on #2581
Thanks for reporting this @chossimbaone.

It shouldn't be too hard to get this fixed in the short term, since EasyBuild doesn't actually use the `easy_install` command directly (it talks to `setuptools.command.easy_install` instead).

So, as long as the Python module still works, it's mostly a matter of stop checking for the `easy_install` command in the bootstrap script.

@chossimbaone @mcakircal

[2018-09-25 18:46] boegel commented on #2534
@davidliu-CAS Sorry for not getting back to you on this... Summer holidays made this go out of view.

Did you make any progress on this?

@akesandgren Has worked with QE recently and may be able to help out...

[2018-09-25 20:18] akesandgren commented on #2534
@davidliu-CAS Do you need 6.2 or will 6.3 work? If so, the just released EB 3.7.0 with https://github.com/easybuilders/easybuild-easyconfigs/pull/6593 will work nicely.

Anyway, the file you need for 6.2 is called qe-6.2.tar.gz and came from http://qe-forge.org/gf/download/frsrelease/244/1114/qe-6.2.tar.gz

That file can no longer be downloaded, and the 6.2 from github will not work since it has a

[2018-09-25 20:19] boegel commented on #2534
@akesandgren How hard would it be to make the QE easyblock a bit more flexible w.r.t. top-level dir?

[2018-09-25 20:35] akesandgren commented on #2534
Not too hard i think, but I gave up the last time due to too much other work poking its ugly head above the desk...

[2018-09-25 20:36] akesandgren commented on #2534
unfortunately it's not trivial due to having to know the top level name too soon if i remember the code correctly without looking...

[2018-09-26 07:15] mcakircali commented on #2581
Here the outputs:
$ python -m easy_install --version
setuptools 39.0.1 from /usr/lib/python2.7/dist-packages (Python 2.7)
$ python -c "from setuptools.command import easy_install; print easy_install.__file__"
/usr/lib/python2.7/dist-packages/setuptools/command/easy_install.pyc

[2018-09-26 14:43] bartoldeman opened #2592 "Improved `--try-toolchain` overly picky"
The improved `--try-toolchain` now rejects cases that used to work perfectly, where the toolchain can be "downgraded" to a subtoolchain.

Example:
[code]

@ocaisa

[2018-09-26 14:52] ocaisa commented on #2592
Hmm, so I'm on the fence with this one. I think that if you really want to do that you should add a `--force` option and we could revert it back to regex method in that case.

The issue here for me would be that you should be only doing that if you know what you are doing, so protecting against this is reasonable default behaviour.

[2018-09-26 14:58] boegel commented on #2592
+1 on @ocaisa view on this, you should take care when mapping from a full toolchain to a lower subtoolchain that has less capabilities.

So, there should be a hint in the error message that mentions that you can use `--force` if desired, and then also a clear warning when `--force` is used.

The error message could also be improved a bit, e.g. `ERROR: Toolchain iccifort is not equivalent to intel

[2018-09-26 15:01] bartoldeman commented on #2592
+1 sure I don't mind force. Issue is here that there quite a few easyconfigs compiled with foss or intel that don't use MKL/OpenBLAS or MPI or both; as we try to compile things minimally we often lower the toolchain.

[2018-09-26 15:04] ocaisa commented on #2592
If you need a workaround for now you can use
[code]
since when `--try-toolchain` is coupled with another try option it will revert to using the regex method.

[2018-09-26 15:08] ocaisa commented on #2592
I think we will soon be at a place where we can be stricter on the toolchain used for easyconfigs and put them at the right level from the outset. We would just need to support mapping up to the top level, and that should be do-able fairly easily now.

[2018-09-26 20:04] boegel opened #2594 "PySlurm support for --job"
We should look into also supporting PySlurm (https://pypi.org/project/pyslurm/) as a backend for `--job`, since that would support submitting jobs directly to the SLURM queue (as opposed to using GC3Pie which only submit jobs through to the queue when all dependencies are in place).

[2018-09-28 12:19] mcakircali opened #2596 "Feature: progress bar for "fetching files""
I couldn't find any info if it is already discussed or offered.

For large tarballs with slow download, the output message (fetching files) is not convincing that things are going well.

It would be great to see some progress bar for the download. Example from wget:
pdtoolkit-3.25.tar.gz      5%[>                                  ]  34.25M   394KB/s    eta 25m 30s

It would be a nice feature...

[2018-09-28 14:21] boegel commented on #2596
@mcakircali Thanks for the suggestion, this would indeed be good to have (but as usual, someone will need to go ahead and implement this).

I think there are already Python libraries that do this, so I guess we could pick up one if it's available and use it? See for example https://pypi.org/project/progressbar/

[2018-09-28 15:21] mwaldron104 opened #2598 "Bootstrap install fails"
I get the following error when I try to bootstrap install EasyBuild.

$ ▶ python bootstrap_eb.py $EASYBUILD_PREFIX
[[INFO]] EasyBuild bootstrap script (version 20180925.01, MD5: 4e568883f293f94ade46a14d25cb6b94)
[[INFO]] Found Python 2.7.12 (default, Aug 16 2016, 13:23:44) ; [GCC 4.8.5 20150623 (Red Hat 4.8.5-4)]

[[INFO]] Installation prefix /nas/longleaf/home/mwaldron/.local/easybuild
[[INFO]] F

[2018-09-28 18:59] boegel commented on #2598
@mwaldron104 Do you mind collecting the output of the bootstrap script after setting `$EASYBUILD_BOOTSTRAP_DEBUG`? As follows:

[code]

And then provide the contents of `log.txt`, preferably via a gist (see https://gist.github.com/)

[2018-09-28 19:05] mwaldron104 commented on #2598
@boegel Actually I just got past this error by uninstalling vsc-install and vsc-base from the python installation I was using and letting the bootstrap script install its own. I've gotten further, but it's now complaining that my Lmod version is too old, 6.0.24 vs. 6.6.3 required. I'll have to see if I can update that. Thanks.

[2018-09-28 19:10] boegel commented on #2598
@mwaldron104 That indeed explains the problem you were seeing.

We have increased the required Lmod version significantly in the EasyBuild v3.7.0 release, indeed. (and we're lower it slightly to only require 6.5.1 soon, but that's not going to help you)

I highly recommend updating your Lmod installation. If that's not an option on the short term, you can install the previous EasyBuild version, by

[2018-09-28 19:10] #2598 closed

[2018-10-01 07:08] akesandgren opened #2600 "Parse hook should not be used when doing --new-pr or any other -pr related command"
We do not want site specific changes into the PRs made by --new-pr

The other hooks might also cause problems and should also be avoided for -pr related commands.

[2018-10-01 09:31] smoors commented on #2546
I was bitten by the same bug. The same problem occurs when using `--new-pr`.

[2018-10-01 20:01] vanzod opened #2601 "Robot does not recognize installed modulerc aliases with hierarchical MNS"
As reported in https://github.com/easybuilders/easybuild-easyblocks/issues/1534, the use of short names in a `.modulerc` wrapper file (introduced with https://github.com/easybuilders/easybuild-easyblocks/pull/1535) prevents robot to correctly identify installed module wrappers when a hierarchical MNS is used. This forces EB to re-install the wrapper every time it is needed as a dependency. The ins

[2018-10-02 01:33] SharpMan opened #2603 "test"
[TEST](https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/PlatformDependent.java#L607-617)

[2018-10-02 01:38] #2603 closed

[2018-10-02 15:46] boegel commented on #2601
The actual problem here is that we check whether modules already exist based on the full module name, which is for example `Core/Java/1.8` rather than the short/user-facing module name `Java/1.8`.

The reason for this is that for non-Core modules may not be visible yet, unless one or more modules that open the part of the module tree where that module lives is loaded.

Using the full module name,

[2018-10-02 18:40] vanzod commented on #2601
I think that checking for a `.modulerc` or `.modulerc.lua` is the best strategy. It may be worth considering adding a comment at the beginning of the wrapper files that says something like "Generated by EasyBuild" in order to avoid parsing custom `.modulerc` files.

[2018-10-03 13:47] vanzod commented on #2582
We have that exact same problem. Our approach has been to build for the head node's architecture last, but this is clearly sub-optimal and something better could be envisioned.
The approach @nathanhaigh suggested may not be the best since it can generate a lot of unnecessary jobs (and log files) especially when software with many dependencies are built.
I prefer the approach suggested by @boegel,

[2018-10-03 15:19] fgeorgatos opened #2609 "Lmod version check: provide option/variable to override"
...this is mostly to avoid the need for patching, when Lmod version control is not that readily available.
(put your +1, if this helps you)

[2018-10-03 19:33] boegel commented on #2609
support for `--disable-modules-tool-version-check` is added in #2610

[2018-10-03 19:37] fgeorgatos commented on #2609
@boegel : ty! reviewing now!

[2018-10-03 19:37] #2609 closed

[2018-10-04 06:28] boegel commented on #2600
Do you have a concrete example where this goes wrong?

I wouldn't expect that with `--new-pr` & co site-specific changes that are being injected via hooks are picked up, since the `--*-pr` options just copy the original file(s) that were provided, don't they?

What's the problem with `--inject-checksums` exactly? Is the stuff you're doing in the hooks messing it up (or the other way around)?

Ther

[2018-10-04 06:33] akesandgren commented on #2600
I did a --new-pr for something that used a already existing foss toolchain, and it picked up our extra dependency of PMIx for OpenMPI and failed (luckily)

[2018-10-04 06:38] boegel commented on #2600
@akesandgren How did it fail exactly? Were you combining `--new-pr` with `--robot`, and did it fail to find an easyconfig for `PMIx`?

I think if it wouldn't have failed, the easyconfig file that got contributed wouldn't have had `PMIx` as dependency. I probably would have included the `PMIx` easyconfig file if it found it though, so that's not good.

[2018-10-04 06:53] akesandgren commented on #2600
Example:
Added a dummy UCY dependency to OpenMPI in our parse hook, and created the corresponding easyconfig.
eb --new-pr GROMACS-2018.2-foss-2018b-dummy.eb -Dr --disable-cleanup-tmpdir
* overview of changes:
 .../g/GROMACS/GROMACS-2018.2-foss-2018b-dummy.eb   | 43 ++++++++++++++++++++++
 .../easyconfigs/u/UCY/UCY-1.3.1-GCCcore-7.3.0.eb   | 42 +++++++++++++++++++++

[2018-10-04 06:55] akesandgren commented on #2600
However, for the two (real) extra deps our OpenMPI have, PMIx and UCX which both already are in develop, they wheren't added to the PR

[2018-10-04 06:59] akesandgren commented on #2600
But mainly, if a dependency added through parse_hook is doesn't exist or has problems, the --new-pr will fail during dependency checking or easyconfig processing. Which might be confusing.

[2018-10-04 08:15] boegel commented on #2600
Yeah, OK, so that indeed warrants a way to disable the hooks when `--new-pr` is used, but since there also are use cases where keeping them enabled makes sense (and the fact that they're currently enabled by default), we're looking at an opt-out config setting for this (or making sure you can opt-out in the hook implementations themselves).

[2018-10-04 08:36] boegel commented on #2581
Problem should be fixed with https://github.com/easybuilders/easybuild-framework/pull/2590, bootstrapping on Ubuntu 18.04 should no longer fail because of a missing `easy_install` command in the latest version of the bootstrap script.

[2018-10-04 08:36] #2581 closed

[2018-10-04 09:30] akesandgren commented on #2600
And for inject-checksum, if I add a patch in the parse_hook the checksum for the patch gets added but the patch doesn't.

[2018-10-04 21:44] rjeschmi opened #2612 "Allow for extract_step to be overridden in general"
It was pointed out on IRC that it would be nice to pick files from sources without extraction and to run MakeCp against them

It seems like perhaps a general option could be added to EasyBlock to skip that, but no other options exist like that:
https://github.com/easybuilders/easybuild-framework/blob/master/easybuild/framework/easyblock.py#L113

Is there a reason why? Would this be similar to a wo

[2018-10-04 22:07] fgeorgatos commented on #2612
interesting... example case? `hello.c` ? if it is what i understand, you could hack the tar extraction...

[2018-10-04 22:10] rjeschmi commented on #2612
yeah, like that from a remote url. I don't think we need to do anything fancy if it works with binary now.

[2018-10-05 07:56] boegel commented on #2612
We already support this basically, you can specify custom extraction commands via `extract_cmd` (like `cp`), see https://easybuild.readthedocs.io/en/latest/Writing_easyconfig_files.html#alternative-formats-for-sources .

For the `Binary` easyblock (and anything derived from it), we have a dedicated `extract_sources` easyconfig parameter because with `Binary` the default is to *not* unpack, since i

[2018-10-05 19:33] #2601 closed

[2018-10-06 07:46] boegel commented on #2592
fixed in #2605

[2018-10-06 07:46] #2592 closed

[2018-10-06 19:54] rjeschmi commented on #2612
This is great, thanks. Let me digest this a bit, but hopefully the original reporter sees this and it helps solve his problem.

Providing an extract_cmd of empty will do what he wanted, that is probably satisfactory.

I'll just close this then?

[2018-10-07 07:12] boegel commented on #2612
@rjeschmi Well, the `extract_cmd` can't be *empty*, but it can do a simple `cp` rather than untarring/unzipping, for example:

[code]

I think this issue can be closed...

[2018-10-07 08:08] akesandgren commented on #2612
You can make an "empty" on by doing "true %s" or similar, if that's what you need.

[2018-10-10 13:41] boegel commented on #2375
I took a quick look at this, and it seems we can avoid the requirement that the easyconfig file for the dependencies are available via the robot search path by not always calling `robot_find_easyconfig` in `robot_find_minimal_toolchain_of_dependency`, which takes care of figuring out which subtoolchain should be used for each dependency.

There's a complication though... The alternative for consid

[2018-10-10 13:54] casparvl commented on #2375
+1, I have some new colleagues and it is hard to explain to them why this is happening (‘but… the module is already there!’). If EasyBuild can do without the EasyConfig, that would definitely be more intuitive behaviour :)

[2018-10-10 22:12] akesandgren commented on #2375
And you're not telling EB to use the ebfiles_repo to search for easyconfigs? If there is a module there should (normally) be an easyconfig in there that matches.

[2018-10-11 07:10] boegel commented on #2375
@akesandgren You can indeed circumvent the issue that way, but that's not the default configuration, and maybe people have good reasons not to do so...

[2018-10-11 07:40] akesandgren commented on #2375
Perhaps, but to me that's the way you need to do it if you are using --try-toolchain*/--try-software-version and some other cases (like building from develop directly without copying to your own repo)

[2018-10-11 07:46] ocaisa commented on #2375
There is another path: if the module exists then it sets `EBROOTXXX` in which you will always find `easybuild/XXX-YYY.eb` (or even `easybuild/reprod/XXX-YYY.eb`) so if we extract that envvar from the module we can always find the corresponding easyconfig without any ambiguity.

[2018-10-11 07:55] ocaisa commented on #2375
You could trigger building a list of these paths from the available modules when `--use-existing-modules` is set and then simply add that list to the easyconfig cache.

[2018-10-11 11:57] boegel commented on #2375
@ocaisa The thing is, we don't even need the easyconfig files at all (in a non-HMNS context) to determine which subtoolchains to consider, so we shouldn't be enforcing that.

Just having the full toolchain definition (we do need easyconfigs for the toolchain itself) is sufficient to known which modules to check for.

What's not entirely clear to me yet is how `--use-existing-modules` comes into pl

[2018-10-11 12:13] zao opened #2614 "Test crash in OpenBLAS 0.3.3 w/ GCC/8.2.0-2.30 (WIP) with -ftree-vectorize on Zen architecture"
When testing @pescobar's WIP PR easybuilders/easybuild-easyconfigs#6992 for a GCC 8.2.0-based `foss/2018.08` toolchain, OpenBLAS 0.3.3 failed to build on my Ryzen 1700 machine with a crash in one of the tests.

I narrowed it down to the presence of both `-march=native` (or `-march=znver1`) and `-ftree-vectorize` in the environment flags we set in EasyBuild.
The source builds fine with either of th

[2018-10-11 12:41] ocaisa commented on #2375
This is not strictly true, if an easyconfig uses `modaltsoftname` then this guess will not be correct, even with a flat MNS...but this was already an issue with dependency resolution: https://github.com/easybuilders/easybuild-framework/issues/1556

In general I'm not sure you're coming at it right by saying you don't need the easyconfigs "in a non-HMNS context" when what you actually mean is that

[2018-10-11 12:50] boegel commented on #2614
My (naive) vote here would go out to disabling the use of `-ftree-vectorize` for OpenBLAS specifically (via `'vectorize': False` in `toolchainopts`), but that's without any experimenting or knowledge of how this would affect performance.

[2018-10-12 10:13] pescobar opened #2615 "problem with new toolchain `foss/2018.08` and `--try-toolchain` option"
Hi

I have installed the new toolchain `foss/2018.08` (still in the devel branch)
https://github.com/easybuilders/easybuild-easyconfigs/pull/6992

After installing the new toolchain the `try-toolchain` option doesn't work in combitnation with it e.g

This works fine using the common toolchains provided by easybuild:
`eb Python-2.7.14-foss-2018a.eb --try-toolchain-version=2018b --robot`

This crash

[2018-10-12 10:45] ocaisa commented on #2615
I can't reproduce this with the current devel branches, works fine. I suspect it might be something in your local configuration that hasn't been taken into account, anything helpful in the debug logs?

Relevant error comes from [here](https://github.com/easybuilders/easybuild-framework/blob/26d6b8789049d25df93f95390fb6a049b7ad41be/easybuild/framework/easyconfig/tweak.py#L792). If you do a dry run

[2018-10-12 10:56] ocaisa commented on #2615
Does `easyconfigs/easybuild/easyconfigs/` include all of the easyconfigs required to build the toolchain (and in particular the required `binutils/2.31.1`)?

[2018-10-12 11:13] pescobar commented on #2615
Thanks for your help @ocaisa

My local clone includes the files. I have downloaded my branch including the toolchain easyconfigs like this:

`$> git clone https://github.com/pescobar/easybuild-easyconfigs.git -b foss.2018.08 ./to_delete`

Then I load the `EasyBuild/3.7.0` module and I try:

[code]

If I try `--hide-deps=binutils` then the binutils installed centrally are found:

[code]

 but if I

[2018-10-12 14:37] pescobar commented on #2615
I have tried with a different cluster account and modifying the MODULEPATH so I don't see any of the installed modules in my cluster. Still it doesn't work. I am out of ideas.

I have uploaded a debug log in case anyone can add any light on this
https://gist.github.com/pescobar/54bbfff71079cc37320162db510d8d11

My last test was:
[code]

[2018-10-12 14:47] pescobar commented on #2615
I tried to download latest develop version and unset my MODULEPATH. Still the same...totally puzzled...

[code]

[2018-10-12 15:13] zao opened #2616 "install-EasyBuild-develop.sh cannot set upstream branch with new Git"
[code]

[2018-10-12 15:19] zao commented on #2616
Git man pages helpfully state:
[code]

[2018-10-12 15:44] boegel commented on #2616
Oh ffs... Any suggestions on how to fix this? Since which version of `git` are the alternatives supported?

[2018-10-12 18:01] zao commented on #2616
All of `--track`, `--no-track`, `--set-upstream-to` are defined since at least [2.4.0](https://git-scm.com/docs/git-branch/2.4.0) (2015-04-30).

`--set-upstream` was deprecated back in 2012 with the [1.8.0 release notes](https://github.com/git/git/blob/53f9a3e157dbbc901a02ac2c73346d375e24978c/Documentation/RelNotes/1.8.0.txt#L20-L22) which also mention that `--set-upstream-to` was added and intend

[2018-10-12 19:50] boegel commented on #2615
@pescobar There's a bit of a lack of debug logging in that part of the code, but I think the problem is that somehow you don't have a `binutils` that's built with `GCCcore` anywhere in the dependency tree for `foss-2018.08.eb`.

I get this:

[code]

Do you get a different result somehow?

[2018-10-12 19:53] boegel commented on #2615
@pescobar Also, can you provide a new debug log after applying the following patch?

[2018-10-12 19:53] boegel commented on #2615
[code]

[2018-10-12 20:16] zao commented on #2615
Getting the same as @pescobar on my Bionic machine, using a EasyBuild-develop.
Debug log: https://gist.github.com/zao/7b5cacd3294bdfa7e2c116fb59278a64

[code]

[2018-10-12 20:18] boegel commented on #2615
OK, now it's officially weird...

@zao Do you mind trying with after applying the small patch that should give some more debug info?

[2018-10-12 20:18] zao commented on #2615
In my configuration, all the dry-run configs are marked `[X]` after installing foss/2018.08.
The subset asked for:
[code]

[2018-10-12 20:36] boegel commented on #2615
The extra debug logging wasn't exactly what I was hoping for, but it was enough to find the culprit...

@zao @pescobar Please test the patch in #2617

[2018-10-12 20:44] zao commented on #2615
[code]

[2018-10-12 20:48] boegel commented on #2615
To clarify: the problem only occurred when some of the modules (in particular the `binutils` ones) were already installed... The `retain_deps=True` that was added in #2617 to `resolve_dependencies` makes sure that it always gets all dependencies, regardless of existing modules.

[2018-10-12 21:02] zao commented on #2615
Build went fine until it was going to do the Python stuff, appears that `%(namelower)s` isn't expanded?
[code]
[code]

[2018-10-12 21:12] boegel commented on #2615
@zao That's an entirely different problem, please open a separate issue on that.

[2018-10-12 21:36] zao opened #2618 "%(namelower)s fails to expand in Python setuptools download with --try-toolchain"
Using the patch from #2617 to handle the problem in #2615, the following failure to download setuptools occurred when running `eb Python-2.7.15-foss-2018b.eb -r --try-toolchain=foss,2018.08 --debug`.

As this is the first time I ever run develop, I have no idea if it affects regular un-try builds, and if the patch had this effect.
[code]
[code]

[2018-10-12 23:11] zao commented on #2618
Expansion succeeds when building `eb Python-2.7.15-foss-2018b.eb -r --debug`, that is, without `--try-toolchain`.

[2018-10-12 23:15] zao commented on #2618
This seems to occur even without the patch, so it's not the root cause, just develop being develop?

[2018-10-13 11:55] ocaisa commented on #2618
I think this is just a general problem with the easyconfig `dump()` method (that is now also being used with `--try-toolchain`). It tries to be a little bit too clever and replaces every instance of `python` with the template value  `%(namelower)s`, but in the case of extensions this is not the correct thing to do and just breaks the URL.

[2018-10-13 11:59] ocaisa commented on #2618
@boegel You might be able to fix this faster than me, I don't know that part of the code very well.

[2018-10-13 12:00] zao commented on #2618
@ocaisa Oh, you're right... I only ever looked at the debug log, never at the Python easyconfig itself where there's indeed literal `pypi.python.org` URLs :)

[2018-10-13 12:03] boegel commented on #2615
fixed with #2617, to be included in upcoming EasyBuild v3.7.1...

[2018-10-13 12:03] #2615 closed

[2018-10-15 07:54] pescobar commented on #2615
thank you for the quick fix!

[2018-10-15 09:43] pescobar commented on #2618
I am also experiencing this issue

[2018-10-15 09:47] ocaisa commented on #2618
@pescobar There's a verified fix in #2619, but I can't seem to come up with a working test for it

[2018-10-15 19:03] boegel commented on #2618
closing this now that #2619 is merged

[2018-10-15 19:03] #2618 closed

[2018-10-15 19:18] mboisson opened #2620 "CUDA capability not detected correctly with --try-toolchain"
We noticed that the new `--try-toolchain` behavior breaks our MNS. More specifically, when specifying a cuda toolchain, it no longer installs under the CUDA directory.

For example :
[code]

Previously, it would have installed under `avx2/CUDA/intel2016.4/cuda10.0/openmpi/2.1.1`. Adding some debugging code into our MNS (namely, I added `print("ec: %s" % str(ec.toolchain.definition()))` in `det_mod

[2018-10-15 19:19] mboisson commented on #2620
For reference, our MNS is here : https://github.com/ComputeCanada/easybuild-framework/blob/computecanada-master/easybuild/tools/module_naming_scheme/SoftCCHierarchicalMNS.py

[2018-10-15 20:09] mboisson commented on #2620
More progress. Problem identified in `toolchain_mapping: {'iccifortcuda': {'version': '7.3.0', 'name': 'GCC'}, 'iccifort': {'version': '7.3.0', 'name': 'GCC'}, 'GCCcore': {'version': '7.3.0', 'name': 'GCCcore'}}`  in `tweak.py`

It maps `iccifortcuda` to `GCC` because the toolchain capability detection reports `'cuda': None`, in easyconfig.py at

[code]

[2018-10-15 20:27] mboisson commented on #2620
Renamed the issue since the source seems to be that CUDA capability detection is broken.

[2018-10-15 21:12] mboisson commented on #2620
I am not sure what `tc.variables` was supposed to be, but in our case, that was an empty dictionary. I suggest instead testing if the class is an instance of the `Cuda` toolchain. PR #2621 is doing just that.

[2018-10-16 13:22] mboisson opened #2622 "Compiler version not properly detected with --try-toolchain"
I found another bug in the `--try-toolchain` behavior :
`eb OpenMPI-2.1.1-iccifortcuda-2016.4.eb --try-toolchain=gcccuda,2016.4.100`

where
`gcccuda,2016.4.100` is
[code]

installs
[code]

Related to issue https://github.com/easybuilders/easybuild-framework/issues/2620

The problem is that the toolchain uses GCC 5.4.0, and then EasyBuild instead installs it with GCC 7.3.0   (which would be the too

[2018-10-16 13:33] mboisson commented on #2622
Confirmed false alarm. Was a problem with our `gcccuda-2016.4.100.eb`  Not sure what happened there.

[2018-10-16 13:33] #2622 closed

[2018-10-16 14:44] boegel commented on #2620
fixed in #2621, thanks @mboisson!

[2018-10-16 14:44] #2620 closed

[2018-10-17 00:42] #2612 closed

[2018-10-17 17:32] ax3l opened #2624 "Modules: Set CMAKE_PREFIX_PATH"
Hi,

I am a user of several HPC systems that use Easybuild as a package manager (CSCS, TU Dresden). As a power-user and heavy developer, we use package software from modules on HPC systems to develop and build further software - outside of those package managers.

In the case of our software stack, we heavily rely on CMake and for such we would like to set the `CMAKE_PREFIX_PATH` when loading modu

[2018-10-18 07:31] ocaisa commented on #2624
Hmm, I'd say people probably have some opinions on this. If you want a quick fix for now, you can just leverage the `$EBROOT*` variables that are set for every EB module:
[code]

[2018-10-18 07:38] ocaisa commented on #2624
Having configurable modules has been discussed before but noone has gotten around to an implementation.

[2018-10-18 07:52] boegel commented on #2624
The idea of having a default module file template that you can customize has indeed been discussed before.

It shouldn't be terribly hard to implement either, I think it's mostly because of a lack of time and the fact that nobody has had a strong use case for it yet...

To make it concrete: someone implementing this would have to dive into `easybuild/framework/easyblock.py` and make `make_module_s

[2018-10-19 14:07] vanzod opened #2628 "Installation directory creation with parallel build"
In our cluster the software stack is read-only mounted on all gateways and compute nodes with the exception of the build nodes. When submitting a parallel build with `--job` from a gateway, EasyBuild attempts to create the build directory on the gateway in order to prevent a race condition [1]. However in our setup this fails with a `Read-only file system` error, preventing us from submitting a pa

[2018-10-19 21:26] boegel opened #2630 "--from-pr should always try to apply PR patch on top of develop"
While testing https://github.com/easybuilders/easybuild-easyconfigs/pull/7062 using `eb --from-pr 7062`, a patch file that is required by the `X11` easyconfig file being patched was not found.

The problem is caused by the two different modes in which `--from-pr` can operate, based on whether or not the PR is considered 'stable' (i.e. when the `mergeable_state` is set to `'clean'`), and the fact t

[2018-10-19 21:28] boegel commented on #2630
A fix here could be to always *try* to apply the PR patch on top of `develop`, and then continue using that if that worked. If applying the patch failed (which basically means there's a merge conflict with `develop`), then we can still resort to only downloading the files touched by the PR.

Another problem that should be fixed is the hardcoded `develop`: we should make that dynamic to use the tar

[2018-10-19 22:47] boegel commented on #2628
fixed in #2629, thanks @vanzod!

[2018-10-19 22:47] #2628 closed

[2018-10-22 11:44] jpecar opened #2632 "--job fails with 3.7.1 & gc3pie 2.5.0"
We had our CI pipeline running fine all the way & including EasyBuild 3.6.2 & GC3Pie 2.4.2. Now I've upgraded to 3.7.1 and GC3Pie 2.5.0 and jobs are created by GC3Pie but fail immediately with "eb: command not found", causing gc3pie to fail with " gc3libs.exceptions.LRMSError: Could not retrieve status information for task Application@3aa5250".

It appears that something changed in the way how env

[2018-10-22 11:52] verdurin opened #2633 "Add ability to archive easyblocks"
Based on a question that came up at the workshop in Birmingham 2018-10-22.

[2018-10-22 23:09] boegel commented on #2632
Instinct tells me this is most likely a problem with GC3Pie, but I'll let @riccardomurri be the judge on this... Is GC3Pie somehow resetting the environment?

@jpecar Can you provide some more information on how EasyBuild was installed? Are you loading a module file for EasyBuild, or was it installed via `easy_install` or `pip`, etc.?

[2018-10-23 07:08] jpecar commented on #2632
It's a module file.

[2018-10-23 07:58] riccardomurri commented on #2632
GC3Pie does not reset the environment; all processes are run in the environment inherited from the parent process.  What has changed in rel 2.5.0 compared to rel 2.4.2 is that sub-processes are now executed directly without calling a shell (i.e., we use Python's `subprocess.Popen(..., shell=False)` instead of `subprocess.Popen(..., shell=True)`.  This might have consequences if your shell's startu

[2018-10-23 09:24] pescobar opened #2634 "problem with zlib dependency and module auto swap"
I am using `EasyBuild/3.7.0` with `Lmod/7.4.5` and `LMOD_DISABLE_SAME_NAME_AUTOSWAP=yes`

When I try to install [Boost-1.61.0-foss-2016b.eb](https://github.com/easybuilders/easybuild-easyconfigs/blob/master/easybuild/easyconfigs/b/Boost/Boost-1.61.0-foss-2016b.eb) I am getting this error:

[code]

In my cluster I have all these modules already installed:

[code]

@boegel mentioned in the chat that

[2018-10-23 09:30] pescobar commented on #2634
I have uploaded a debug log here https://gist.github.com/e30a3db73bf0073255b96bc8efcdd2d0

[2018-10-23 13:44] vanzod commented on #2634
I agree with @boegel's diagnosis. With a flat naming scheme and `LMOD_DISABLE_SAME_NAME_AUTOSWAP=yes` the only solution I can see is to remove the `zlib/.1.2.8-GCCcore-5.4.0` and correct the modules dependency. With a HNMS it would be way easier to fix.

[2018-10-23 16:15] pescobar commented on #2634
@boegel this is the output of `eb -D`

[code]

[2018-10-23 17:49] boegel commented on #2632
@riccardomurri: It seems like we should also be explicitly passing `PATH` via `env_vars`? That would probably fix the issue @jpecar is seeing?

[2018-10-23 17:58] riccardomurri commented on #2632
It seems like we should also be explicitly passing PATH via env_vars? That

Yes, I think that would do it.

[2018-10-23 19:12] boegel commented on #2632
@jpecar Can you try applying this patch in your EasyBuild installation as see if that fixes the problem you're seeing?

[code]

[2018-10-23 19:33] boegel commented on #2634
@pescobar The problem here is the `zlib/.1.2.8-foss-2016b` module you have...

It gets picked up to resolve the dependency for `Boost` (`eb` sees the module and is happy), but then it clashes with the `zlib/.1.2.8-GCCcore-5.4.0` that is used lower down the stack.
That's basically caused by the changes in https://github.com/easybuilders/easybuild-easyconfigs/pull/6633, where we (by exception) have

[2018-10-24 09:34] jpecar commented on #2632
With this patch eb command is now found but fails with "ERROR: Lmod modules tool can not be used, 'lmod' command is not available". So I guess more variables from env need to be passed down, some of the LMOD_* ones? Don't know in detail how easybuild detects lmod availability.

[2018-10-24 13:06] boegel commented on #2632
@jpecar OK, then try also passing down `$LMOD_CMD`.

This may point to a bigger problem there, if the shell in the job being submitted isn't properly set up, you may run into more problems...

How is Lmod installed & initialized in shell sessions?

[2018-10-24 15:58] vanzod commented on #2632
@jpecar I hit the same issue and the easiest workaround for now is to pass a bunch of Lmod related env vars to `GC3Pie`. Here is a patch that does the job for me:
[code]

[2018-10-24 16:02] vanzod commented on #2632
@riccardomurri The workaround above is clearly not enough to ensure that the environment is correctly set in the job. Think for example of a customized environment where Lmod or EasyBuild pull information from a site-specific environment variable. Obviously we cannot predict this a priori.

Is there any way to request `GC3Pie` to start the subprocess with `shell=True` as it used to do before?

[2018-10-24 17:30] boegel commented on #2632
@riccardomurri +1 on @vanzod's question.

Also, can you clarify why that change to using `shell=False` was made? Just wondering, this isn't criticism, to be clear. ;-)

[2018-10-24 17:48] boegel commented on #2633
This should go into the `easybuild/reprod` dir then that we already have now? Thoughts @ocaisa?

We should probably also have some dedicated documentation on how to reproduce installations done with EasyBuild?

Or maybe even drop a script into `easybuild/reprod` that specifies everything that's needed (`--include-easyblocks=...` for example)?

[2018-10-24 20:09] boegel commented on #2624
First stab at adding support for using a custom module file template in #2639 .

For @ax3l's use case, `--modules-footer` is still a good option though:

[code]

[code]

[2018-10-25 13:32] ocaisa commented on #2633
Definitely should go in the `easybuild/reprod` dir. Since the inheritance implies there will typically be a few, I'd suggest we put all the necessary easyblocks in a subdir there so that someone can just use `--include-easyblocks=/.../easybuild/reprod/reprod_easyblocks/*`

[2018-10-25 14:18] jpecar commented on #2632
@vanzod Yes, this makes the --job jobs now work as expected. Thanks.

[2018-10-25 14:31] jpecar commented on #2632
@vanzod: Thanks, now I see --job jobs running and producing expected output. In the log files I actually see builds succeeding.

However in CI I still see that there's some communication error, apparently in gc3pie-slurm:
[code]

Seems like something else changed in gc3pie as well. Any pointers?

[2018-10-26 08:02] riccardomurri commented on #2632
Hello all,

before we jump straight to conclusions and suggested patches, I would
like to dig into the issue a bit more...

First of all: a different backend is used in GC3Pie, depending on
whether the jobs are to be executed on the local machine (`shellcmd`
backend) or on a cluster (backends depend on the actual queueing
system, but they share a large amount of code).

What is the backend that @j

[2018-10-26 08:09] jpecar commented on #2632
This is a chunk of my gc3pie.conf:
[code]
And the same for other archs.

CI is run through gitlab, where each commit spawns a docker container that can talk and submit jobs to our slurm cluster. Within that docker easybuild is run with --job option, using gc3pie to manage slurm jobs.

[2018-10-26 08:10] boegel commented on #2630
fixed in #2631, so closing this, let's follow up in the PR

[2018-10-26 08:10] #2630 closed

[2018-10-26 12:38] riccardomurri commented on #2632
@jpecar Would you be able to apply the following patch to your GC3Pie code and retry?

[code]

If you cannot patch GC3Pie, it should suffice to change your config to read::

        sbatch = sbatch --export=PWD,ALL # rest of the line as it was

[2018-10-26 12:42] riccardomurri commented on #2632
@boegel

Yes, I'm not trying to say that it doesn't depend on GC3Pie at all.  But I'm not convinced that `Popen(..., shell=True)` as suggested in @vanzod 's comment https://github.com/easybuilders/easybuild-framework/issues/2632#issuecomment-432719802 is the fix.  (For one, GC3Pie had *never* invoked login shells...)

[2018-10-26 13:35] jpecar commented on #2632
With patch by @vanzod reverted and sbatch --export=PWD,ALL in gc3pie.cfg, I'm back to "/bin/sh: eb: command not found".

@boegel: is there anything blocking me from trying eb 3.7.1 with gc3pie 2.4.2? I'm thinking of isolating the problem to one of the involved components and then bisecting it to identify the issue ... seems like a good opportunity to learn how to do that :)

[2018-10-26 13:48] riccardomurri commented on #2632
@jpecar It's possible that SLURM's `--export` options are not cumulative so the `--export=...,ALL` gets overwritten by the later one generated by GC3Pie (man page is not clear).  Any chance you could try patching the sources?

Also, if you create a file with just these contents:

[code]

Do you see any difference in the output if you submit it with:

       sbatch --export=PWD,ALL # rest of args a

[2018-10-26 14:04] vanzod commented on #2632
@riccardomurri In my setup the backend is Slurm. As @boegel pointed out, nothing changed in our setup or configuration after moving to 2.5.0 from 2.4.2.

My reference to the issue being `shell=True` was just an hypothesis based on your first comment and the fact that I have noticed similar issues when using `subprocess.Popen` in other contexts.

[2018-10-27 16:01] boegel commented on #2632
@jpecar The required version was bumped to 2.5.0 in #2554, I don't think EasyBuild v3.7.x is compatible with GC3Pie 2.4.x...

[2018-10-27 19:44] riccardomurri commented on #2632
I think I have a clue now about what happens.

On our prod clusters, all running SLURM 15.08 on Ubuntu 16.04, I see
that (1) all environment variables are propagated, (2) *unless*
`sbatch` is passed the `--export` option with a list of specific
variables which does not include `ALL`.  Furthermore, (3) multiple
`--export` options do not cumulate, instead the last one wins:

[code]

So, one thing th

[2018-10-28 06:58] boegel commented on #2632
@riccardomurri But then, what's the point of passing any environment that should be passed at all, since you'll always pass the current environment anyway via `ALL`?

[2018-10-29 16:00] jpecar commented on #2632
@riccardomurri I tried the patched gc3pie and it seems to work: I see jobs submitted and software being built.

However I still see that "Could not retrieve status information" like I mentioned in https://github.com/easybuilders/easybuild-framework/issues/2632#issuecomment-433074622 . I guess this is another issue, unrelated to this one?

[2018-10-31 15:17] boegel commented on #2632
It seems like we should change the current behavior in EasyBuild, to make it *not* specify any environment variables to pass down into submitted jobs (which assumes that EasyBuild will be available by default in submitted jobs).
This would effectively restore the behavior we had before with EasyBuild & GC3Pie, where the environment is passed down into jobs...

Does that make sense @riccardomurri,

[2018-10-31 16:34] akesandgren commented on #2632
My problem might be unrelated (PySlurm) but I'll investigate a bit more.

[2018-11-01 17:38] boegel commented on #2632
I think the proper way to fix this in the EasyBuild framework is to simply stop passing down specific environment variables in submitted jobs.
I've made that proposed change in #2643...

[2018-11-01 19:35] akesandgren opened #2645 "eb Java-1.8.eb fails with Lmod 7.8.4, EB 3.7.1 and HMNS"
With EB 3.7.0 and the above building Java-1.8.eb works and generates a .modulerc in modules/all/Core/Java.

With EB 3.7.1 I get:
[code]

The log says:
[code]
and
[code]

And /scratch/eb-ake-tmp/eb-lyYeMg/tmp74e0Oa/all/Core/Java/.modulerc contains
[code]
So despite that it says that it's going to create a modulerc.lua it still creates a modulerc

[2018-11-02 06:34] #2645 closed

[2018-11-02 07:19] akesandgren opened #2646 "Wrong COMPILER_F90 for PGI"
The correct setting of COMPILER_F90 in toolchains/compiler/pgi.py is "pgf90" not "pgfortran".
At least from v16 an onwards

[2018-11-03 17:37] boegel commented on #2646
@akesandgren I'm happy to change this, but does it matter much? From the `pgfortran` man page:

[code]

[2018-11-03 19:58] akesandgren commented on #2646
Well, strickly speaking, if you invoke a compiler called xxxf90 it should strictly adhere to the F90 standard, same with xxxf95, whild pgfortran is free to follow whatever is the latest standard they implement.

And some codes may actually care...

[2018-11-04 11:01] akesandgren commented on #2646
Solved in 2650

[2018-11-04 11:01] #2646 closed

[2018-11-04 16:51] boegel commented on #2616
@zao Should be fixed with #2651, please test?

[2018-11-05 08:03] boegel opened #2652 "add integrity check"
It could be useful to add an integrity check to EasyBuild (e.g. `eb --check-integrity`), which reports which Python modules were changed after installation; see for example https://github.com/easybuilders/easybuild-easyblocks/issues/1564 .

This would require to somehow keep track of checksums for each Python module...

[2018-11-05 11:29] zao commented on #2616
The new option seems to have the same semantics as the old option, looks good.

I was tricked for a bit where the message about `git pull origin` in the repos at the end of the installation procedure doesn't seem overly helpful, but it seems like that held for older Git versions as well.

[2018-11-05 13:53] ocaisa commented on #2652
Adding a checksums file could be automated and would be pretty straightforward to check, it won't catch easyblocks that are shadowed though.

[2018-11-05 15:38] ocaisa commented on #2633
Hmm, I can't find any way of doing this fully. It's straightforward to get the source file for the easyblock (using `inspect.getsourcefile()` and `get_easyblock_class()`) but that is incomplete unless you follow the inheritance all the way back to the base `easyblock` class.

[2018-11-05 16:11] ocaisa commented on #2633
Ok, I found out how to do it:
[code]
PR is in the works.

[2018-11-05 19:55] boegel commented on #2616
fixed in #2651

[2018-11-05 19:55] #2616 closed

[2018-11-05 19:58] boegel commented on #2652
@ocaisa Adding/updating the checksums file would have to be part of the release process then.

And I'm sure we can also make it work for easyblocks that are part of the installation if we want to...

[2018-11-06 11:03] edmondac opened #2654 "ARCH constant for use in easyconfigs and easyblocks"
I'm building various easyconfigs on ppc64le, and there are several situations where we need to specify things differently based on the architecture.

Examples:

1) PyTorch 0.4.1 includes this: `export PYTHONPATH=%(builddir)s/%(namelower)s-%(version)s/build/lib.linux-x86_64-%(pyshortver)s:$PYTHONPATH` - and may other easyconfigs include x86_64. For other architectures this needs to be something els

[2018-11-06 11:07] edmondac opened #2655 "Architecture-specific dependencies"
I propose adding an alternative way of specifying a dependency as a dict rather than a tuple. The dict should handle all the existing info from the tuple.

Then adding the ability to say which architecture it's for, like this:

To specify that mkl_dnn should only be included as a dep on x86_64:
[code]

To specify which Java should be used:
[code]

[2018-11-06 11:09] edmondac commented on #2655
This is related to https://github.com/easybuilders/easybuild-framework/issues/2654 and https://github.com/easybuilders/easybuild-easyconfigs/pull/7110

[2018-11-06 18:32] boegel commented on #2654
@edmondac For both of these, you can leverage the `get_cpu_architecture` function that is available in `easybuild.tools.systemtools`.

For 1, I think a constant `ARCH` makes more sense than a template `%(arch)s`. Adding support for an `ARCH` constant should be pretty straight forward, see `easybuild/framework/easyconfig/constants.py`.

For 2, you can use `get_cpu_architecture()` similar to how we

[2018-11-06 18:40] boegel commented on #2655
@edmondac Good news: specifying dependencies through a dictionary is actually already supported in the EasyBuild framework... See the `_parse_dependency` method in `easybuild/framework/easyconfig/easyconfig.py`.

It's there but never used in the central repository, mostly because of brevity. But if additional stuff needs to be specified in dependencies, then extending the dict format is way better

[2018-11-07 11:56] pescobar commented on #2634
thanks for the clarification. I have updated my existing modules so all them use `zlib-1.2.8-GCCcore-5.4.0.eb`

[2018-11-07 11:56] #2634 closed

[2018-11-08 12:50] riccardomurri commented on #2632
hi all, sorry for being silent on this for a while -- it's a very busy time until Dec. for me...

Anyway, I think GC3Pie's submit method needs to be corrected to include `--export=ALL`; I'll try to get out GC3Pie 2.5.1rc1 next week to test.

[2018-11-12 19:33] mboisson opened #2658 "--module-only --force messes with the reprod folder"
When running eb with the options `--module-only --force`, it recreates the easyconfig stored in the `reprod` folder. Unfortunately, this means that this easyconfig may actually no longer be reproducible.

This happened to me with GDAL, when the `start_dir` that is listed in the EasyConfig in the `reprod` folder went from
[code]
to
[code]

This is because the EasyBlock updates its config, and the f

[2018-11-12 19:42] mboisson commented on #2658
@boegel would avoiding to over-write the `reprod/*.eb` if `--module-only`  is used make sense to you ?

[2018-11-13 08:31] boegel commented on #2658
@mboisson It probably does, but I guess it also depends: you may have made a change in the easyconfig file to make the sanity check pass for example. Not including that in the easyconfig file in `reprod` is also problematic...

cc @ocaisa

[2018-11-14 18:40] mboisson opened #2659 "Issue running tests"
[code]

Opening an issue for @boegel

[2018-11-14 19:55] mboisson commented on #2658
I would say we should also avoid dumping
exts_filter

When installing Platypus, I get the following error :
[code]

on this bit :
[code]

[2018-11-14 23:49] bartoldeman commented on #2659
Weirdly I do not see the same issue on the same node. I have run various test cases there many times.

[2018-11-15 12:49] mboisson commented on #2659
Maybe it's just a config in my account then.

[2018-11-15 16:46] mboisson opened #2662 "New --try-toolchain is too strict"
We have been using `--try-toolchain` a lot in Compute Canada, and we are always trying to minimize the dependencies, i.e. we don't build with MPI, BLAS, etc. if the software package does not need it.

This worked great for us until recently. With the new try-toolchain behavior, since upstream does the opposite of us (i.e. compile everything with intel/2018a for example), something like this does n

[2018-11-15 16:48] mboisson commented on #2662
Tagging @bartoldeman @ocaisa

[2018-11-15 16:53] ocaisa commented on #2662
You can revert to previous behaviour with `--force`, see https://github.com/easybuilders/easybuild-framework/pull/2605

[2018-11-15 16:59] boegel commented on #2662
So, already fixed in EasyBuild v3.7.1 @mboisson?

[2018-11-15 17:09] mboisson commented on #2662
Looks like we didn't have 3.7.1. Bart will udpate it on our node and I'll report back.

[2018-11-15 17:11] mboisson commented on #2662
Though I got to admin, `--force` is starting to become used for quite a few varied things. It might be useful to have different options for different forced things ?

[2018-11-15 17:34] boegel commented on #2662
@mboisson Yeah, you have a good point there... Do you have a particular suggestion in mind?

[2018-11-15 17:37] mboisson commented on #2662
On a case-by-case basis, maybe. Something like `--try-toolchain-mode=legacy` would have been better than `--force` in this specific example ?

[2018-11-15 17:51] boegel commented on #2662
That makes sense, something along those lines would indeed have been better... `legacy` is not a good term though, since that gets overloaded easily too. ;)

Having to use `--force` together with `--try-toolchain` can have the side effect over overwriting an existing installation without intending to...

Thoughts @ocaisa?

[2018-11-15 19:41] bartoldeman commented on #2659
So basically for some reason I don't fully understand (I probably did something related to setuptools in January) my git checkout has a `easybuild_framework.egg-info` directory but Maxime has not. Once we copied it across, the tests worked.

[2018-11-16 10:19] boegel commented on #2659
How was this `easybuild-framework` installed done exactly?

[2018-11-16 11:22] ocaisa commented on #2662
We're going deep into corner cases :)
I totally agree that `force` is now being overused, rather than choosing a mode, how about an additional `--try-regex` argument that just triggers the same path?

[2018-11-16 12:44] mboisson commented on #2659
`git clone git@github.com:ComputeCanada/easybuild-framework.git`
(and added easybuilders as a second remote)

[2018-11-16 20:19] boegel commented on #2659
@mboisson There must be more to it... What about `vsc-base`? How is that picked up? `$PYTHONPATH`?

[2018-11-16 20:22] boegel commented on #2662
@ocaisa That makes sense too.

@mboisson Isn't it doing that because i) `GCCcore` is a subtoolchain of `iccifort`, and ii) it notices that the original easyconfig was using a toolchain at that "level"?

[2018-11-19 08:51] ocaisa commented on #2662
@mboisson This logic was deliberate, the idea was that you want to keep simplicity for the end user, if I find an easyconfig for the software I'm interested in another toolchain, I just say `--try-toolchain=...` and it just does "the right thing", mapping it to the same level in the target toolchain. This is simpler than someone having to go searching for what the appropriate level should be or, a

[2018-11-19 09:31] ocaisa commented on #2658
Yes #2664 will address all of these problems by dumping the easyconfig after any modifications from the configuration but before any of the easyblock steps. It will also dump the easyblocks and the hooks alongside it.

[2018-11-19 13:37] mboisson commented on #2662
Ok, I guess we will need to wait for the new feature then.

[2018-11-19 13:45] ocaisa commented on #2662
If you want a workaround for now, instead of `--force` use `--try-amend=''`, this will also trigger the regex method.

[2018-11-20 20:18] boegel commented on #2582
Any suggestions for an option name that would make `--robot` to be passed down into the submitted job, and not checking locally which modules are already available?

[2018-11-20 20:19] boegel commented on #2594
Fixed in #2642 (albeit by directly talking to Slurm, since PySlurm didn't bring much benefit)

[2018-11-20 20:19] #2594 closed

[2018-11-20 20:22] boegel commented on #2614
I wonder if @bartoldeman has some thoughts on this...

[2018-11-20 21:06] akesandgren commented on #2582
Why not do what we will be doing once next EB is out...
Submit a job to the target node type that does eb --job=Slurm --robot
That way the dep resolution will be done on the correct target and stuff will be correct, if you have your slurm config correctly setup that is.

Otherwise --job-robot

[2018-11-21 10:22] jbd commented on #2389
Now, with bootstrap script version 20181121.101701, it is working without a virtualenv as long as I install python-setuptools (CentOS 7), just like @teojgo.

The singularity recipie I'm using to test the bootstrap script: https://github.com/easybuilders/easybuild-framework/issues/2389

[2018-11-21 17:56] boegel commented on #2389
@jdb Thanks for the feedback!

`setuptools` is indeed a strict requirement for EasyBuild (see also https://easybuild.readthedocs.io/en/latest/Installation.html#requirements).

I'm actually hoping to get rid of it at some point, but it won't be trivial...

[2018-11-21 20:10] boegel commented on #2633
easyblocks are now also archived in the `easybuild/reprod` subdir of the installation directory thanks to @ocaisa's PR #2653

[2018-11-21 20:10] #2633 closed

[2018-11-21 20:46] boegel commented on #2632
@vanzod Can you check whether this is still a problem?

[2018-11-22 09:01] ocaisa commented on #2658
@mboisson Can you clarify this:

In my case I'm not seeing any absolute paths in the reprod easyconfigs, they are still relative. Is there a case where they are not?

[2018-11-22 10:38] boegel commented on #2658
@ocaisa See `guess_start_dir` in `easyblock.py`, when `--module-only` is used, `start_dir` is set to `''` initially, which eventually lead to it being set to `self.builddir` which is an absolute path.

[2018-11-22 13:02] mboisson commented on #2658
As Kenneth said, this is when you use `--module-only`. This happened to me with `GDAL`.

[2018-11-22 13:11] ocaisa commented on #2658
Ok, understood, after cleaning up a `develop` branch merge in #2664 this should now be fixed there.

[2018-11-22 18:14] boegel opened #2669 "look into support for downloading from the Software Heritage archive"
https://archive.softwareheritage.org/

[2018-11-22 18:14] boegel commented on #2669
More info on archiving of PyPI: https://www.softwareheritage.org/2018/10/10/pypi-available-on-software-heritage/

[2018-11-23 15:11] mboisson opened #2671 "Allow reprod easyconfigs to be stored centrally (i.e. in the EASYBUILD_REPOSITORYPATH)"
Hi @ocaisa, @boegel,

While you are working on the reprod mechanism, do you think there could be an option to store the reprod easyconfigs in a central repository, similar to EASYBUILD_REPOSITORYPATH ?

The current way of storing the reprod easyconfigs within the software's installation directory does not allow these easyconfigs to be used when resolving the dependencies (i.e. EASYBUILD_ROBOT_PATH

[2018-11-26 22:47] riccardomurri commented on #2632
I have just [released GC3Pie 2.5.1][1] with the SLURM environment fix.  Let me know if it fixes this issue.

[1]: https://groups.google.com/forum/#!topic/gc3pie/XhQ4XT5wayA

[2018-11-27 12:30] mboisson commented on #2662
@ocaisa, I have been thinking about the `--try-regex` idea. I think it is a good idea, but with a bad name. It is absolutely not obvious that `--try-regex` would be something you use to replace a toolchain. I would suggest a more explicit name for user-friendliness.  Maybe `--try-toolchain-regex` ?

[2018-11-27 14:07] akesandgren opened #2672 "toolchains/fft/intelfftw.py need to correctly set FFT_LIB_MT to use threaded mkl"
Current behavior is that FFT_LIB_MT is unset and in tools/toolchain/fft.py then gets set to FFT_LIB

[2018-11-27 15:22] edmondac commented on #2655
Excellent - I'll have a go at that.

[2018-11-27 15:24] edmondac commented on #2654
ok - thanks

[2018-11-27 16:13] boegel commented on #2632
@jpecar Can you test GC3Pie 2.5.1 with EasyBuild 3.7.1, and see whether this problem is resolved with that combination?

In any case, this issue should also be solved with the upcoming EasyBuild 3.8.0 (thanks to #2643), which (I think) work with both GC3Pie 2.5.0 and 2.5.1

[2018-11-30 12:09] jpecar commented on #2632
@boegel Initial problem is resolved with 2.5.1 (job is submitted, package starts building and gets successfully built), but it appears there's another problem lurking. See above my post from Oct 25.

[2018-12-05 11:47] sassy-crick opened #2681 "cp2k: change of download location of source code"

[2018-12-05 16:49] riccardomurri commented on #2632
@jpecar Following up on your [comment from Oct. 25](https://github.com/easybuilders/easybuild-framework/issues/2632#issuecomment-433074622): can you set the GC3Pie logging level to DEBUG?  That should show the actual interactions with SLURM.

[2018-12-05 17:39] boegel commented on #2662
@mboisson How about `--map-toolchains` (enabled by default), so you can revert back to the old behaviour with `--disable-map-toolchains`? See https://github.com/easybuilders/easybuild-framework/pull/2682

[2018-12-05 18:19] mboisson commented on #2662
Commented in #2682 direclty

[2018-12-06 13:13] mboisson opened #2683 "CUDA stubs directory must not be added to rpath/runpath"
This is a follow up on https://github.com/easybuilders/easybuild-easyblocks/pull/1464

 adding stubs to LIBRARY_PATH is causing us problems, because it ends up in our binaries RUNPATH.

If this happens and you don't use LD_LIBRARY_PATH (because you are using RUNPATH), you will have problems at runtime.

This is probably something you need to check when you are using runpath/rpath with easybuild (f

[2018-12-06 14:42] boegel commented on #2658
Closing this since #2664 is merged, should be fixed (I checked quickly myself with `--module-only`, worked fine).

[2018-12-06 14:42] #2658 closed

[2018-12-06 14:54] boegel opened #2685 "missing documentation for --try-* options"
see also https://github.com/easybuilders/easybuild-framework/pull/2682#issuecomment-444588273

[2018-12-06 14:55] boegel commented on #2662
@mboisson OK to close now #2682 is merged, which adds support for `--disable-map-toolchains` (`--force` now doesn't apply anymore in this context)?

[2018-12-06 15:11] boegel commented on #2672
@akesandgren What would be the correct value for `$FFT_LIB_MT`, and does it depend on the Intel MKL version being used?

[2018-12-06 15:24] mboisson commented on #2662
Closing.

[2018-12-06 15:24] #2662 closed

[2018-12-06 15:31] akesandgren commented on #2672
Correct value is (probably) to use the threaded mkl libraries, just like BLAS_LIB_MT from linalg,
it should be all it needs.
I.e. the line
        fftw_libs.extend(self.variables['LIBBLAS'].flatten())  # add BLAS libs (contains dft)
need to be extended for FFT_LIB_MT
But I'm not quite sure how to do this one

[2018-12-07 09:00] boegel commented on #538
Support for `--fetch` was added in #2457 (EasyBuild v3.6.0)

[2018-12-07 09:00] #538 closed

[2018-12-10 15:14] jose-d opened #2689 "+moduleclass "astro"?"
https://github.com/easybuilders/easybuild-framework/blob/da3f86fd7fc213d4bbeca5b2668dfb25938ee4c7/easybuild/tools/config.py#L281

RFC:
would it make sense to add category like "astro - Astronomy, Astrophysics and Cosmology"?

I just submitted PR for `pyfits` - https://github.com/easybuilders/easybuild-easyconfigs/pull/7273,
and there are others in my workqueue or watchlist:
* PLC/clik - Planck lik

[2018-12-12 11:33] akesandgren commented on #2672
Solved in https://github.com/easybuilders/easybuild-framework/pull/2688

[2018-12-12 11:33] #2672 closed

[2018-12-13 17:18] boegel commented on #2375
fixed in #2690

[2018-12-13 17:18] #2375 closed

[2018-12-14 10:04] boegel commented on #2689
@jose-d Makes sense to me. While you're at it, please also add `quantum` as a separate module class, see https://github.com/desireevl/awesome-quantum-computing#development-tools

[2018-12-14 10:59] boegel commented on #2689
@jose-d fixed in #2693

[2018-12-14 13:11] jose-d commented on #2689
oh so fast.
closing this one.

[2018-12-14 13:11] #2689 closed

[2018-12-14 16:20] zao opened #2696 "--inject-checksums rearranges lines in easyconfig"
`eb SQLite-3.24.0-GCCcore-7.3.0.eb --inject-checksums --force` moves the `version_str` field below its first use in the file, breaking the parse of the file.

[code]

[2018-12-19 13:44] JackPerdue opened #2704 "EB 3.8.0 BUG?: permissions on files in EASYBUILD_TMP_LOGDIR/reprod/easyblocks"
I thought I'd try a random build of a new easyconfig using 3.8.0.  I went with Gerris/20131206-foss-2017b.  So I issued the command to do that and EB detected that it needed GTS as a dependency so it built it first.  But when it went to do the Gerris build proper it failed with:

[code]

The problem here is that we use `EASYBUILD_READ_ONLY_INSTALLDIR=1` on all builds... including the one for EasyB

[2018-12-19 13:53] JackPerdue commented on #2704
Actually.. I'll try sticking with the read-only install for now and just do a chmod u+w on all the .py files in the installed easyblocks dir.  Hopefully that will work (I think it should).

[2018-12-19 13:58] boegel commented on #2704
@JackPerdue This is strange, since the `reprod` dir is supposed to be unique for each installation, i.e. it's a subdirectory of `<installdir>/easybuild/`.

So the fact that installation directories of dependencies are read-only is not the problem here.

Can you share your EasyBuild configuration with us (output of `eb --show-config` should suffice) + the exact command you ran so we can try and rep

[2018-12-19 13:59] ocaisa commented on #2704
I don't fully follow the problem, from the complaint it says it failed to write to `/tmp/j-perdue/logs/reprod/easyblocks/configuremake.py`. I think the problem is that you seem to be using a static temp directory to hold your build logs, I guess I just didn't expect that.

[2018-12-19 13:59] boegel commented on #2704
cc @ocaisa

[2018-12-19 14:00] ocaisa commented on #2704
When we make the initial copy in the tmpdir, we could change the permissions at that point

[2018-12-19 14:07] JackPerdue commented on #2704
That would work... the problem is in the tmp dir not the final install dir.

[j-perdue@login2 (08:03) ~]$ eb --show-config
#
# Current EasyBuild configuration
# (C: command line argument, D: default value, E: environment variable, F: configuration file)
#
buildpath            (E) = /tmp/j-perdue/easybuild/
containerpath        (E) = /sw/eb/containers
debug                (E) = True
deprecated

[2018-12-19 14:14] ocaisa commented on #2704
Ok, yeah it's
[code]
that is the problem. With that setting different runs are not independent. I should've been more careful to cleanup the tmpdir *or* make sure that everything in there was writable. The way things are though, this is going to lead to potential leakage into the `reprod` directories of your installations (from failed builds or doing 2 builds at once...even if I fix things)

@boeg

[2018-12-19 14:16] ocaisa commented on #2704
Or I change the `reprod` dir name to include  a timestamp when it's in the tmp space

[2018-12-19 14:23] JackPerdue commented on #2704
I certainly wouldn't want to preclude simultaneous builds so would go with the PID or timestamp.  I was wondering about different builds overwriting the easyblock and getting the final reprod wrong.   e.g. I could do one build using stock configuremake.py and then startup a build using my modified configuremake.py.... which build would get which copy in the current setup?

[2018-12-19 14:34] JackPerdue commented on #2704
I guess I forgot the last line from --show-config:

tmpdir               (E) = /tmp/j-perdue/tmp/

You could use the weird/confusing hash they use in that directory instead of the PID or timestamp. (???)

[2018-12-19 14:41] ocaisa commented on #2704
We can decide the convention in #2705

[2018-12-20 10:32] jpecar commented on #2632
@riccardomurri Maybe a stupid question, but ... how? I didn't find anything relevant in gc3pie docs, grepping the source gave me two ideas (adding "debug=1" to gc3pie.conf and creating $HOME/.gc3/gc3libs.log.conf with content "level=debug"), none of which made any change to output I get. I agree that looking at commands fired at slurm and reading their output is the right way to understand what I'

[2018-12-20 11:19] boegel commented on #2704
@JackPerdue I feel obliged to mention that this is sort of self-inflicted (which doesn't mean we won't fix this, it's still a bug, but it sort of explains why we overlooked this).

If `tmp-logdir` is not specified, you will basically get the temporary log file in a unique subdirectory of `/tmp/j-perdue/tmp/`, something like `/tmp/j-perdue/tmp/eb-iILVPp/`.

In that case, there's no problem at all,

[2018-12-21 09:43] riccardomurri commented on #2632
@jpecar  GC3Pie uses the logger passed by EB, so just raising EB's log level should be enough.

[2018-12-21 09:44] paulmelis opened #2706 "Consistency check between module name and easyconfig name"
Currently an easyconfig filename and its contents are treated as independent pieces of information, although they are, of course, in practice very much related. But not having a consistency check can lead to mismatches between the two, such as a different `version` in the easyconfig compared to the file name, or a missing `versionsuffix` value.

Would it be feasible to introduce a simple check tha